{%- if section.settings.show == true -%}
<div class="banner-section updated-section" style="background-image: url({{section.settings.image | img_url: 'master'}});">
  <div class="banner-content">
    <h2 style="color: {{section.settings.text-color}}">{{ section.settings.heading}}</h2>
    <div class="simple-text-content" style="color: {{section.settings.text-color}}">
    	{{ section.settings.paragraph}}
    </div>
    {%if section.settings.link != blank %}
    <a href="{{ section.settings.link }}" class="Button Button--primary">{{section.settings.button}}</a>
    {% endif %}
  </div>
</div>
{% endif %}