{%- if section.settings.show == true -%}
{% for block in section.blocks %}
{%- if block.settings.show == true -%}
{%- if page.handle == block.settings.handle -%}
<div class="banner-section" style="background-image: url({{block.settings.image | img_url: 'master'}});">
  <div class="banner-content">
    <h2 class="SectionHeader__Heading SectionHeader__Heading--emphasize Heading u-h1 content-heading" style="color: {{block.settings.text-color}}">{{ block.settings.heading}}</h2>
    <div class="SectionHeader__SubHeading Heading u-h6 content-detail" style="color: {{block.settings.text-color}}">
    	{{ block.settings.paragraph}}
    </div>
    {%if block.settings.link != blank %}
    <a href="{{ block.settings.link }}" class="Button Button--primary">{{ block.settings.button}}</a>
    {%endif%}
  </div>
</div>
{%endif%}
{%- endif -%}
{%endfor%}
{%endif%}