<!doctype html>

<html class="no-js" lang="{{ shop.locale }}">
<style>  
.fUldvZ {z-index:99999998!important}
</style> 
  <head>
<link rel='preconnect dns-prefetch' href='https://api.config-security.com/' crossorigin />
<link rel='preconnect dns-prefetch' href='https://conf.config-security.com/' crossorigin />
<link rel='preconnect dns-prefetch' href='https://triplewhale-pixel.web.app/' crossorigin />
<script>
/* >> TriplePixel :: start*/
window.TriplePixelData={TripleName:"andy-okay.myshopify.com",ver:"1.9.0"},function(W,H,A,L,E,_,B,N){function O(U,T,P,H,R){void 0===R&&(R=!1),H=new XMLHttpRequest,P?(H.open("POST",U,!0),H.setRequestHeader("Content-Type","application/json")):H.open("GET",U,!0),H.send(JSON.stringify(P||{})),H.onreadystatechange=function(){4===H.readyState&&200===H.status?(R=H.responseText,U.includes(".txt")?eval(R):P||(N[B]=R)):(299<H.status||H.status<200)&&T&&!R&&(R=!0,O(U,T-1))}}if(N=window,!N[H+"sn"]){N[H+"sn"]=1;try{A.setItem(H,1+(0|A.getItem(H)||0)),(E=JSON.parse(A.getItem(H+"U")||"[]")).push(location.href),A.setItem(H+"U",JSON.stringify(E))}catch(e){}var i,m,p;A.getItem('"!nC`')||(_=A,A=N,A[H]||(L=function(){return Date.now().toString(36)+"_"+Math.random().toString(36)},E=A[H]=function(t,e){return"State"==t?E.s:(W=L(),(E._q=E._q||[]).push([W,t,e]),W)},E.s="Installed",E._q=[],E.ch=W,B="configSecurityConfModel",N[B]=1,O("//conf.config-security.com/model",5),i=L(),m=A[atob("c2NyZWVu")],_.setItem("di_pmt_wt",i),p={id:i,action:"profile",avatar:_.getItem("auth-security_rand_salt_"),time:m[atob("d2lkdGg=")]+":"+m[atob("aGVpZ2h0")],host:A.TriplePixelData.TripleName,url:window.location.href,ref:document.referrer,ver:window.TriplePixelData.ver},O("//api.config-security.com/",5,p),O("//triplewhale-pixel.web.app/dot1.9.txt",5)))}}("","TriplePixel",localStorage);
/* << TriplePixel :: end*/
</script>
 
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M5H4KFZ');</script>
<!-- End Google Tag Manager -->
    
    <meta name="google-site-verification" content="MpW1nhHe5bwrKA98HwgD2378eIosTDvprPPuQcd_FwA" />
    <meta name="google-site-verification" content="Pi_F2Xdjf-c0lyfT8zL72S8jMP_uhcxjXQ0VDnbe7HE" />
   
    {% if page.handle == 'about' %}
		<style type="text/css">
		body {
			background-color: white; !important;
		}
		</style>
    
{% endif %}
   
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="theme-color" content="{{ settings.accent_color }}">

    <title>
      {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}

    {% include 'social-meta-tags' %}

    {{ content_for_header }}
	<link rel="stylesheet" href="{{ 'fonts.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    {%- if template == 'page.archive' -%}
      <link rel="stylesheet" href="{{ 'archive.css' | asset_url }}">
      <link rel="stylesheet" href="{{ 'bootstrap.min.css' | asset_url }}"  type="text/css" media="all" /> 
    {%- endif -%}
  {% if template == 'product' %}
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous" defer></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous" defer></script>
    {% endif %}
    {%- render 'css-variables' -%}
    <script>
      // This allows to expose several variables to the global scope, to be used in scripts
      window.theme = {
        template: {{ template.name | json }},
        shopCurrency: {{ shop.currency | json }},
        moneyFormat: {{ shop.money_format | json }},
        moneyWithCurrencyFormat: {{ shop.money_with_currency_format | json }},
        currencyConversionEnabled: {{ settings.currency_conversion_enabled | json }},
        currencyConversionMoneyFormat: {{ settings.currency_conversion_money_format | json }},
        currencyConversionRoundAmounts: {{ settings.currency_conversion_round_amounts | json }},
        productImageSize: {{ settings.product_image_size | json }},
        searchMode: {{ settings.search_mode | json }},
        showPageTransition: {{ settings.show_page_transition | json }},
        showElementStaggering: {{ settings.show_element_staggering | json }},
        showImageZooming: {{ settings.show_image_zooming | json }}
      };

      window.languages = {
        cartAddNote: {{ 'cart.general.add_note' | t | json }},
        cartEditNote: {{ 'cart.general.edit_note' | t | json }},
        productImageLoadingError: {{ 'product.slideshow.image_loading_error' | t | json }},
        productFormAddToCart: {% if product.template_suffix == 'pre-order' %}{{ 'product.form.pre_order' | t | json }}{% else %}{{ 'product.form.add_to_cart' | t | json }}{% endif %},
        productFormUnavailable: {{ 'product.form.unavailable' | t | json }},
        productFormSoldOut: {{ 'product.form.sold_out' | t | json }},
        shippingEstimatorOneResult: {{ 'cart.shipping_estimator.one_result_title' | t | json }},
        shippingEstimatorMoreResults: {{ 'cart.shipping_estimator.more_results_title' | t | json }},
        shippingEstimatorNoResults: {{ 'cart.shipping_estimator.no_results_title' | t | json }}
      };

      window.lazySizesConfig = {
        loadHidden: false,
        hFac: 0.5,
        expFactor: 2,
        ricTimeout: 150,
        lazyClass: 'Image--lazyLoad',
        loadingClass: 'Image--lazyLoading',
        loadedClass: 'Image--lazyLoaded'
      };

      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      document.documentElement.style.setProperty('--window-height', window.innerHeight + 'px');

      // We do a quick detection of some features (we could use Modernizr but for so little...)
      (function() {
        document.documentElement.className += ((window.CSS && window.CSS.supports('(position: sticky) or (position: -webkit-sticky)')) ? ' supports-sticky' : ' no-supports-sticky');
        document.documentElement.className += (window.matchMedia('(-moz-touch-enabled: 1), (hover: none)')).matches ? ' no-supports-hover' : ' supports-hover';
      }());

      (function () {
  window.onpageshow = function(event) {
    if (event.persisted) {
      window.location.reload();
    }
  };
})();
    </script>

    <script src="{{ 'lazysizes.min.js' | asset_url }}" async></script>

    {% if settings.currency_conversion_enabled %}
      <script src="//cdn.shopify.com/s/javascripts/currencies.js" defer></script>
    {% endif %}

    {%- if template == 'customers/addresses' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
      <script src="{{ 'customer_area.js' | shopify_asset_url }}" defer></script>
    {%- endif -%}

    <script src="https://cdn.polyfill.io/v3/polyfill.min.js?unknown=polyfill&features=fetch,Element.prototype.closest,Element.prototype.remove,Element.prototype.classList,Array.prototype.includes,Array.prototype.fill,Object.assign,CustomEvent,IntersectionObserver,IntersectionObserverEntry" defer></script>
    <script src="{{ 'libs.min.js' | asset_url }}" defer></script>
    <script>
      var allcodes = ['USD','EUR','GBP','CAD','ARS','AUD','BBD','BDT','BSD','BHD','BRL','BOB','BND','BGN','BWP','MMK','KYD','CLP','CNY','COP','CRC','HRK','CZK','DKK','DOP','XCD','EGP','XPF','FJD','GHS','GTQ','GYD','GEL','HKD','HUF','ILS','ISK','INR','IDR','NIS','JMD','JPY','JOD','KZT','KES','KWD','LVL','LTL','MXN','MYR','MUR','MDL','MAD','MNT','MZN','ANG','NZD','NGN','NOK','OMR','PKR','PYG','PEN','PHP','PLN','QAR','RON','RUB','SAR','RSD','SCR','SGD','SYP','ZAR','KRW','LKR','SEK','CHF','TWD','THB','TZS','TTD','TRY','UAH','AED','UYU','VEB','VND','ZMK'];     
      {%- assign supported_codes = settings.currency_conversion_supported_currencies | remove_first: shop.currency | upcase | split: ' ' | uniq -%}
      {%- if settings.currency_conversion_enabled -%}
        var supported_codes = {{ supported_codes | json}};
        supported_codes.push('USD')
      {% else %}
        var supported_codes = ['USD'];  
      {% endif %}
      console.log(supported_codes);

      const regions = {
        "Canada, United States": ["CA", "USA"],
        "Europe": ["GB", "SE", "DK", "NO", "BE", "NL", "DE", "IT", "ES",'FR','JP','AT','BG','HR','CY','CZ','EE','FI','GI','GR','HU','IE','LV','LT','LU','MT','PL','PT','RO','SK','SI','CH','TR'],
        "Oceania": ["AU", "NZ"]
        //,"Asia": ["JP"] 
      } 

      const countryNames = {
        'CA':'Canada', //canada
        'GB':'United Kingdom', //uk
        'SE':'Sweden', //sweden
        'DK':'Denmark', //denmark
        'NO':'Norway', //norway
        'AU':'Australia', //australia
        'USA':'United States', //usa
        'BE':'Belgium', //belgium
        'NL':'Netherlands', //netherlands
        'DE':'Germany', //germany
        'IT':'Italy', //italy
        'ES':'Spain', //spain
        'FR':'France', //france
        'JP':'Japan',  //japan
        'AT':'Austria',//austria
        'BG':'Bulgaria',//bulgaria
        'HR':'Croatia',//croatia
        'CY':'Cyprus',//cyprus
        'CZ':'Czechia',//czechia
        'EE':'Estonia',//estonia
        'FI':'Finland',//finland
        'GI':'Gibraltar',//gibraltar
        'GR':'Greece',//greece
        'HU':'Hungary',//hungary
        'IE':'Ireland',//ireland
        'LV':'Latvia',//latvia
        'LT':'Lithuania',//lithuania
        'LU':'Luxembourg',//luxembourg
        'MT':'Malta',//malta
        'NZ':'New Zealand',//new zealand
        'PL':'Poland',//poland
        'PT':'Portugal',//portugal
        'RO':'Romania',//romania
        'SK':'Slovakia',//slovakia
        'SI':'Slovenia',//slovenia
        'CH':'Switzerland',//switzerland
        'TR':'T端rkiye',//turkey(T端rkiye)
      };
      const countryCurrency = {
        'CA':'CAD', //canada
        'GB':'GBP', //uk
        'SE':'SEK', //sweden
        'DK':'DKK', //denmark
        'NO':'NOK', //norway
        'AU':'AUD', //australia
        'USA':'USD', //usa
        'BE':'EUR', //belgium
        'NL':'EUR', //netherlands
        'DE':'EUR', //germany
        'IT':'EUR', //italy
        'ES':'EUR', //spain
        'FR':'EUR', //france
        //'JP':'EUR'  //japan
        'AT':'EUR',//austria
        'BG':'EUR',//bulgaria
        'HR':'EUR',//croatia
        'CY':'EUR',//cyprus
        'CZ':'EUR',//czechia
        'EE':'EUR',//estonia
        'FI':'EUR',//finland
        'GI':'GIP',//gibraltar
        'GR':'EUR',//greece
        'HU':'EUR',//hungary
        'IE':'EUR',//ireland
        'LV':'EUR',//latvia
        'LT':'EUR',//lithuania
        'LU':'EUR',//luxembourg
        'MT':'EUR',//malta
        'NZ':'NZD',//new zealand
        'PL':'EUR',//poland
        'PT':'EUR',//portugal
        'RO':'EUR',//romania
        'SK':'EUR',//slovakia
        'SI':'EUR',//slovenia
        'CH':'EUR',//switzerland
        'TR':'EUR',//turkey(T端rkiye)
      };
      const countryCurrencyFlag = {
        'CA':'CAD', //canada
        'GB':'GBP', //uk
        'SE':'SEK', //sweden
        'DK':'denmark', //denmark
        'NO':'NO', //norway
        'AU':'AUD', //australia
        'USA':'USD', //usa
        'BE':'belgium', //belgium
        'NL':'netherlands', //netherlands
        'DE':'germany', //germany
        'IT':'italy', //italy
        'ES':'spain', //spain
        'FR':'france', //france
        'JP':'japan',  //japan
        'AT':'austria',//austria
        'BG':'bulgaria',//bulgaria
        'HR':'croatia',//croatia
        'CY':'cyprus',//cyprus
        'CZ':'czechia',//czechia
        'EE':'estonia',//estonia
        'FI':'finland',//finland
        'GI':'gibraltar',//gibraltar
        'GR':'greece',//greece
        'HU':'hungary',//hungary
        'IE':'ireland',//ireland
        'LV':'latvia',//latvia
        'LT':'lithuania',//lithuania
        'LU':'luxembourg',//luxembourg
        'MT':'malta',//malta
        'NZ':'newzealand',//new zealand
        'PL':'poland',//poland
        'PT':'portugal',//portugal
        'RO':'romania',//romania
        'SK':'slovakia',//slovakia
        'SI':'slovenia',//slovenia
        'CH':'switzerland',//switzerland
        'TR':'turkey',//turkey(T端rkiye)
      };
 
      const currencyObjasArray = Object.entries(countryCurrency);
      const currencyfiltered = currencyObjasArray.filter(([key, value]) => supported_codes.includes(value));
      const currencyfiltered_object = Object.fromEntries(currencyfiltered);
      //hidden as currency not needed
      if(localStorage.getItem('currencyManuallyChanged')!== 'true' && localStorage.getItem("reload") !== 'true' ){
 
        $.getJSON('https://api.ipbase.com/v1/json/?apikey=5lXVgY1PbJ3RrPl8su6AFhln5RRMtU4IkAvBjrru',function(data){
    	  let country_name = data.country_name;
        localStorage.setItem('user__country', country_name);
        let userCountry = data.country_code;
        localStorage.setItem('user_country_code', country_name);
        let userCurrency = currencyfiltered_object[userCountry];
        let userCurrencyFlag = countryCurrencyFlag[userCountry];
  
          if(userCurrency == undefined){
            userCurrency = 'USD'; 
            userCurrencyFlag = 'USD';
            country_name = 'United States'
          }
          localStorage.setItem('country_name_show', country_name)
          localStorage.setItem('currency', userCurrency);
          localStorage.setItem('userCurrencyFlag', userCurrencyFlag);
          var currentUrl = window.location.href;
          var url = new URL(currentUrl);
          url.searchParams.set("currency", userCurrency); // setting your param
          var newUrl = url.href; 
          //console.log(newUrl);
          /* if my "reload" var isn't set locally.. getItem will be false */
          if (!localStorage.getItem("reload") && userCurrency!== 'USD') {
            /* set reload to true and then reload the page */
            localStorage.setItem("reload", "true");
            window.location.replace(newUrl);
          }
          //$('.CurrencySelector__Select').prev().children( 'img' ).attr( 'src', 'https://cdn.shopify.com/s/files/1/0082/5619/2602/files/' + userCurrencyFlag + '.png');
        });
      }
      $(document).ready(function () {  
        var selected_flag =  localStorage.getItem("userCurrencyFlag");
        var selected_currency =  localStorage.getItem("currency");
        var countrynameshow =  localStorage.getItem('country_name_show')
        $('a.new_currency_dropdown>span>img').attr( 'src', 'https://cdn.shopify.com/s/files/1/0082/5619/2602/files/' + selected_flag + '.png');
        $('button.new-currency-drawer>span>img').attr( 'src', 'https://cdn.shopify.com/s/files/1/0082/5619/2602/files/' + selected_flag + '.png');
        $('a.new_currency_dropdown>span[name="currency-name"]').text(selected_currency);
        $('button.new-currency-drawer>span[name="currency-name"]').text(countrynameshow + " (" +selected_currency + ")");
      });
    </script>
    <script src="{{ 'theme.min.js' | asset_url }}" defer></script>
    <script src="{{ 'custom.js' | asset_url }}" defer></script>
    

    {% include 'microdata-schema' %}
  
	{{ shop.metafields.loox["global_html_head"] }}

  {% include 'bss-product-labels-configs' %}
  <!-- better-home-screen-icons-head-begins here -->
  {% if shop.metafields.bhomescreenicons.enabled == "true" %}
  {% capture snippet_content %}{% include 'better-home-screen-icons-meta-tags'  %}{% endcapture %}
  {% unless snippet_content contains "Liquid error" %}
  {{ snippet_content }}
  {% endunless %}
  {% endif %}
  <!-- better-home-screen-icons-head-ends here -->
  <!-- better-home-screen-icons-head-begin -->
  {% if shop.metafields.bhomescreenicons.enabled == "true" %}
  {% capture snippet_content %}{% include 'better-home-screen-icons-meta-tags'  %}{% endcapture %}
  {% unless snippet_content contains "Liquid error" %}
  {{ snippet_content }}
  {% endunless %}
  {% endif %}
  <!-- better-home-screen-icons-head-end -->
  <script src='https://appdevelopergroup.co/apps/smartbadge/js/smartbadge.js?shop=andy-okay.myshopify.com' type='text/javascript' defer></script>
  <meta name="p:domain_verify" content="e1fb25c4e56e09186ee89f3bf741f707"/>
  {% if template == 'product' %}
    {{ '//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css' | stylesheet_tag }}

   <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>    
  {% endif %}
    {%- comment -%} this is for quickview
  {{ '//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css' | stylesheet_tag }}
  {{ '//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css' | stylesheet_tag }}
  {{ 'quickview.scss.css' | asset_url | stylesheet_tag }}
  {{ '//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js' | script_tag }}
  {{ 'quickview.js' | asset_url | script_tag }}
  <script>
   {% capture content %}{% include 'quickview' %}{% endcapture %}
   var content = {{ content | json }};
  </script>
  {%- endcomment -%}


{% render 'digismoothie-giftbox' %}
{% unless template == 'product' %}
  {% render 'gsf-conversion-pixels' %}
{% endunless %}

{% include 'trueroas_snippet' %} 

<script async defer src="https://tools.luckyorange.com/core/lo.js?site-id=fa3b5b8d"></script>

<!-- Twitter conversion tracking base code -->
<script>
!function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
},s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='https://static.ads-twitter.com/uwt.js',
a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
twq('config','od66f');
</script>
<!-- End Twitter conversion tracking base code -->
    
</head>



  <body class="prestige--v4 {% if template.directory %}template-{{ template.directory | handle }}{% endif %} template-{{ template.name | handle }}">
   
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M5H4KFZ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    
    {%- comment -%}<a class="PageSkipLink u-visually-hidden" href="#main">{{ 'header.navigation.skip_to_content' | t }}</a>
    {%- endcomment -%}
    <span class="LoadingBar"></span>
    <div class="PageOverlay"></div>
    <div class="PageTransition"></div>

    {% section 'popup' %}
    {% section 'soldout_popup' %}
    {% section 'sidebar-menu' %}
    {% section 'sidebar-menu-currency' %}

    {%- if template != 'cart' -%}
      {% include 'cart-drawer' %}
    {%- endif -%}

    <div class="PageContainer">
      {% unless template == 'page.giveaway' %}
        {% section 'announcement' %}
      {% endunless %}
      {% section 'header' %}

      <main id="main" role="main">
        {{ content_for_layout }}
      </main>

      {% unless template == 'page.giveaway' %}
        {% section 'footer' %}
      {% endunless %}
    </div>
  {% include 'uploadkit' %}

	{{ shop.metafields.loox["global_html_body"] }}
    
    <script>
      $(document).ready(function(){
        $("[data-xs-grid-stock-bar]").each(function(){
          let t = $(this);
          let stockStr = t.attr('data-xs-stock-json'),
              inv = t.attr('data-inv');
              
          if( stockStr != "" && inv == "shopify"){
            const stockData = JSON.parse(stockStr);
            
            // let objkeys = Object.keys(stockData);
            let left_variant = t.attr('data-xs-variant-left');
            let totalStock = 0;
            if (left_variant != "" )
              totalStock = parseInt(stockData[left_variant]);
            else {
              for( let s in stockData ){
                totalStock += parseInt(stockData[s]);
              }
            }
            
              let max_stock = parseInt(totalStock);
               
              if (isNaN(max_stock)) {
                max_stock = 200;
              }
              let left = parseInt(t.attr('data-xs-stock-left')),
              percentage = ( parseFloat(left) / parseFloat(max_stock) ) * 100.0;
              
            if ( left < 0 ){
              left = 0;
              t.find("[data-xs-stock-spinner]").css("width", `0%`);
            }
            else {
              t.find("[data-xs-stock-spinner]").css("width", `${percentage}%`);
            }
            t.find("[data-xs-stock-text]").text(`${left}`);
            
            t.find("[data-xs-stock-text-total-custom]").text(`of ${max_stock} left`);
            
            if (max_stock >= left ){

              t.show();
            }
          }
        });
        
        $("[data-flickity-config]").flickity().flickity("resize");
      });
    </script>

    <style>
      .xs-stock-bar{
        order: 2;
        font-family: 'Dosis', sans-serif;

      }
      .xs-stock-progress {
        position: relative;
        height: 4px;
        background: #d3d3d3;
      }

      span.xs-stock-spinner {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        background: {{ settings.stock_bar_color }};
        transition: all 0.3s linear;
      }

      .xs-stock-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 5px;
      }

      .xs-stock-label {
        font-size: 16px;
        background: {{ settings.stock_bar_color }};
        padding: 5px 10px 4px;
        color: #FFF;
        font-family:"DIN Next LT Pro Cond";
        font-weight:500;
        text-transform:uppercase;
        letter-spacing: 0px;
        margin-right: 10px;
      }

      .xs-stock-text {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0px;
        font-family:"DIN Next LT Pro Cond";
        font-weight:500;
        text-transform:uppercase;
        color:#313131;
      }

      [data-xs-stock-left] {
        color:{{ settings.stock_bar_color }};
      }
      [data-xs-grid-stock-bar] {
        max-width: 286px;
        margin: 10px auto;
      }
      [data-xs-grid-stock-bar] .xs-stock-text{
        font-size: 13px;
        color: {{ settings.stock_bar_color }};
        padding: 4px 7px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
        margin-right: 10px;
      }
      
      
      [data-xs-grid-stock-bar] .xs-stock-progress {
        height: 5px;
      }
    </style>

<script>
(function(g,e,o,t,a,r,ge,tl,y){
s=function(){var def='geotargetlygeocontent1629294920005_default',len=g.getElementsByClassName(def).length;
if(len>0){for(i=0;i<len;i++){g.getElementsByClassName(def)[i].style.display='inline';}}};
t=g.getElementsByTagName(e)[0];y=g.createElement(e);
y.async=true;y.src='https://g1584674682.co/gc?refurl='+g.referrer+'&id=-MhOXs2A1VY4Y5dkMVkB&winurl='+encodeURIComponent(window.location);
t.parentNode.insertBefore(y,t);y.onerror=function(){s()};
})(document,'script');
</script>
<noscript><style>.geotargetlygeocontent1629294920005_default{display:inline !important}</style></noscript>   
    
<script src="https://t.cometlytrack.com?uid=a4d2f0-1215-8b7f88-s" defer></script>


</body>
</html>
