{%- if section.settings.enable_bar -%}
  {%- unless section.settings.home_page_only and template != 'index' -%}
    <section id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="announcement-bar">
      <div class="AnnouncementBar">
        {%- if settings.currency_conversion_enabled -%}
          <div class="announcment-currency-cont">
            <a class="new_currency_dropdown">
              <span>
                <img src="https://cdn.shopify.com/s/files/1/0082/5619/2602/files/{{ shop.currency }}.png" id="flags" >
              </span>
              {% comment %} <span name="currency-name">
              {{ shop.currency }}
              </span> {% endcomment %}
              &nbsp;{%- include 'icon' with 'select-arrow' -%}
            </a>
          </div>
          <div class="MegaMenu Announcment_megamenu">
              <div class="MegaMenu__Inner">
                <div id="new-currency-container">
                  <div class="new-currency-heading">Choose Your Country</div>
                </div>
              </div>
            </div>
        {% endif %}
        <div class="AnnouncementBar__Wrapper" >
          <div class="AnnouncementBar__Content Heading" id="announcement-cont" style="height: 20px;overflow-y: hidden;">
            {% for block in section.blocks %}
              {%- if forloop.index == 1 -%}
                <div name="announcement-block-{{forloop.index}}" class="announcement-block">
                  {% if block.settings.icon != blank %}
                    <img class="announcement_icon" src="{{ block.settings.icon | image_url: height: 30 }}">
                  {% endif %}
                  {%- if block.settings.link -%}
                    <a href="{{ block.settings.link }}">{{ block.settings.content }}</a>
                  {%- else -%}
                    <span>{{ block.settings.content }}</span>
                  {%- endif -%}
                </div>  
              {%- else -%}
                <div style="display: none;" name="announcement-block-{{forloop.index}}" class="announcement-block">
                  {% if block.settings.icon != blank %}
                    <img class="announcement_icon" src="{{ block.settings.icon | image_url: height: 30 }}">
                  {% endif %}
                  {%- if block.settings.link -%}
                    <a href="{{ block.settings.link }}">{{ block.settings.content }}</a>
                  {%- else -%}
                    <span>{{ block.settings.content }}</span>
                  {%- endif -%}
                </div>
              {%- endif -%}
            {% endfor %}
          </div>
        </div>
      </div>
    </section>


    <style>
      .come_infromtop{
        animation-name: infromtop;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
      }
      @keyframes infromtop {
        0% { transform: translateY(-30px);}
        100% { transform: translateY(0px);}
      }
      .come_infrombottom{
        animation-name: infrombottom;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
      }
      @keyframes infrombottom {
        0% { transform: translateY(30px);}
        100% { transform: translateY( 0px);}
      }
      .out_tobottom{
        animation-name: outtobottom;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
      }
      @keyframes outtobottom {
        0% { transform: translateY(0px);}
        100% { transform: translateY( 30px);}
      }
      .out_totop{
        animation-name: outtotop;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
      }
      @keyframes outtotop {
        0% { transform: translateY(0px);}
        100% { transform: translateY( -30px);}
      }

      #section-{{ section.id }} {
        background: {{ section.settings.background }};
        color: {{ section.settings.text_color }};
      }
    </style>

    <script>
      document.documentElement.style.setProperty('--announcement-bar-height', document.getElementById('shopify-section-announcement').offsetHeight + 'px');
    </script>
    <script>
      $(function() {
        function timeout(ms) {
          return new Promise(resolve => setTimeout(resolve, ms));
        }

        async function animation(){
          let x = $("#announcement-cont").children(".announcement-block");
          for (var i=0; i<x.length;i++ ){  
            x[i].style.display = "flex";
            x[i].classList.add("come_infromtop");
            await timeout(1000);
            x[i].classList.remove("come_infromtop"); 
            await timeout(3000);
            x[i].classList.add("out_tobottom");
            await timeout(1000);
            x[i].classList.remove("out_tobottom");
            x[i].style.display = "none";
          }
          for (var i=x.length-2; i>=0; --i ){  
            x[i].style.display = "flex";
            x[i].classList.add("come_infrombottom");
            await timeout(1000);
            x[i].classList.remove("come_infrombottom"); 
            await timeout(3000);
            x[i].classList.add("out_totop");
            await timeout(1000);
            x[i].classList.remove("out_totop");
            x[i].style.display = "none";
          }
        
        animation();
        }

        {% if section.blocks.size > 1 %}
          animation();
        {% endif %}
      });
    </script>
    
  {%- endunless -%}
{%- endif -%}

<script>
  $(document).ready(function () {
    var user__country = localStorage.getItem('user__country');
    var user__currency = localStorage.getItem('currency');
    var country_flag = localStorage.getItem('userCurrencyFlag');
    var curerncy_country_name = localStorage.getItem('country_name_show');
    var usercountryelement = document.getElementById('announcement-ct');
    var truststar_flag = document.getElementById('announcement-flag');
    var shipping_value = document.getElementById('shipping-value');

    if (user__country)
    { 
      usercountryelement.prepend(' to ' + user__country); 
    }

    if (truststar_flag && country_flag)
    { 
      if (user__country == curerncy_country_name)
      truststar_flag.src = 'https://cdn.shopify.com/s/files/1/0082/5619/2602/files/' + country_flag + '.png'; 
      else 
      truststar_flag.src = '';
    }
    
    if (user__currency == 'SEK') {
      shipping_value.prepend('950 kr'); 
    } else if (user__currency == 'NOK') {
      shipping_value.prepend('kr 990'); 
    } else if (user__currency == 'DKK') {
      shipping_value.prepend('650 kr'); 
    } else if (user__currency == 'EURO') {
      shipping_value.prepend('€89'); 
    } else if (user__currency == 'GBP') {
      shipping_value.prepend('£79'); 
    } else if (user__currency == 'CAD') {
      shipping_value.prepend('$130'); 
    } else if (user__currency == 'AUD') {
      shipping_value.prepend('$130'); 
    } else if (user__currency == 'NZD') {
      shipping_value.prepend('$150'); 
    } else {
      shipping_value.prepend('$89'); 
    }

  });
</script>

{% schema %}
{
  "name": "Announcement bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_bar",
      "label": "Enable bar",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "home_page_only",
      "label": "Home page only",
      "default": false
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
    "name": "Announcement",
    "type": "announcement",
    "settings":[ 
        {
          "type": "text",
          "id": "content",
          "label": "Text",
          "default": "Announce something here"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        }
      ]   
    }
  ]
}
{% endschema %}