<!-- Link the custom CSS file -->
<link rel="stylesheet" href="{{ 'custom-progress-bar.css' | asset_url }}">

{% render 'app-discount-snippet' %}
{% comment %} pop-up modal 
    <aside
      class="NewsletterPopup site__black--popup soldout-popup discount-info-popup"
      data-section-id="{{ section.id }}"
      data-section-type="newsletter-popup"
      aria-hidden="true">
      <div class="popup_header">
        {%- if settings.discount_popup_title != blank -%}
          <span class="popup_title">{{ settings.discount_popup_title }}</span>
        {%- endif -%}
        <button
          class="popup_close"
          data-action="close-popup"
          aria-label="{{ 'general.popup.close' | t }}">{% include 'icon' with 'close' %}</button>
      </div>

      <div class="popup_content">
        {%- if section.settings.image != blank -%}
          <div>
            <img src="{{ section.settings.image | img_url: 'master' }}" alt="Size Chart">
          </div>
        {%- endif -%}

        {%- if section.settings.content != blank -%}
          <div class="NewsletterPopup__Content">
            <p>{{ section.settings.content }}</p>
            {%- if section.settings.link_text != blank -%}
              <a href="{{ section.settings.link }}" class="pop__content--link">{{ section.settings.link_text | escape }}</a>
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>
    </aside>
{% endcomment %}

{% comment %} main progress bar 
    <div class="progress-bar-main">
      <div class="progress-description">
        <p id="progress-description-text"></p>
        <img
          id="ask-about-discount"
          class="question-icon hide"
          src="{{ 'question-mark.svg' |  asset_url }}"
          alt="i" />
      </div>
      <div id="progress-container" class="progress-container hide">
        <div class="line">
          <div class="progress"></div>
        </div>
        <div class="circle blue">
          <span class="circle_inner_text">&#10003;</span>
        </div>
        <div class="circle">
          <span class="circle_inner_text">&#10003;</span>
        </div>
        <div class="circle special">+1</div>
        <div class="circle">
          <span class="circle_inner_text">&#10003;</span>
        </div>
        <div class="circle special">+2</div>
      </div>
    </div>
{% endcomment %}
{% schema %}
  {
    "name": "App Discount",
    "settings": [
      {
        "type": "collection",
        "id": "discounted_collection",
        "label": "Select Discounted Collection"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Icon"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Discount App Popup"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Text",
        "default": "<p><em>It’s not a sale. <\/em>It’s a commitment to do more good.<em> <\/em> <br\/><br\/>We establish close collaborations with charitable organisations all across the world, to find strategic ways to help them spread awareness with the power of art.<br\/><br\/>With the organisation, we then reach out to the world’s most talented artists to figure out a way to make a limited edition art drop at a never-before-seen price, leaving room for people to make a donation with their purchase. <br\/><br\/>Our business model is kind of crazy (and a lot of work), but a huge win-win for all.<br\/><br\/>Especially for our planet.<br\/><br\/>By purchasing an artwork for a cause, you become a part of our good community. A 100% free membership where the only thing YOU have to do, is keep spreading the word of the true value behind your art. <br\/><br\/>We truly believe it's the best art deal in the world. <br\/><br\/>Hopefully, you feel the same.<br\/><br\/>Want to know more? <a href=\"https:\/\/andyokay.com\/pages\/about-us\" target=\"_blank\" title=\"https:\/\/andyokay.com\/pages\/about-us\">Click here<\/a> <\/p>"
      }, {
        "id": "link_text",
        "type": "text",
        "label": "Link Text"
      }, {
        "id": "link",
        "type": "url",
        "label": "URL/Link"
      }
    ]
  }
{% endschema %}

{% if section.settings.discounted_collection != blank %}
  {% assign collection_handle = section.settings.discounted_collection %}
  <script>
    window.discountedCollectionHandle = "{{ collection_handle }}";
  </script>
{% endif %}

<!-- Link the custom JS file -->
<script src="{{ 'custom-progress-bar.js' | asset_url }}" defer></script>