<style>
  .new-blog-figure{
    margin: 0;
  }
  .new-blog-img{ 
    width: 100%;
    min-height: 250px;
    object-fit: cover;
  }
  .new-container-blog{
    padding: 50px 50px;
  }
  .new-blog-content{
    width: 50%;
    text-align: center;
    margin: auto;
  }
  .new-blog-content > h1{
    font-family: 'DIN Next LT Pro Cond';
    font-weight: 600;
    font-size: 65px;
    margin-bottom: 20px;
  }
  .new-blog-content > p{
    font-family: 'Adobe Caslon Pro';
    font-size: 20px;
    line-height: 1.4;
  }
  @media only screen and (max-width: 768px) {
    .new-blog-content{
      width: 90%;
    }
    .new-blog-content > h1{
      font-size: 32px;
    }
    .new-blog-content > p{
      font-size: 16px;
    }
    .new-container-blog{
      padding: 30px 20px;
    }
  }

</style>
<section data-section-type="faq" data-section-id="{{ section.id }}" >
    {%- if section.settings.show == true -%}
      <figure class="new-blog-figure">
          <img class="new-blog-img" src="{{section.settings.image | img_url: 'master' }}" alt="">
      </figure>
      <div class="new-container-blog">
        <article class="new-blog-content">
            <h1 style="color: {{section.settings.text-color}}">{{section.settings.heading}}</h1>
            <p style="color: {{section.settings.text-color}}">{{section.settings.paragraph}}</p>
        </article>
      </div>
    {%- endif -%}
  </section>
  
  {% schema %}
    { 
      "name":"Image And Text",
      "settings": [
        {
          "type": "checkbox",
          "id": "show",
          "label": "Show",
          "default": false
        },
        {
          "id": "heading",
          "type": "text",
          "label": "Heading"   
        },
        {
          "id": "paragraph",
          "type": "richtext",
          "label": "Paragraph"
        },
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"  
        },
        {
          "id": "text-color",
          "type": "color",
          "label": "Text color",
          "default": "#fff"
        }
      ],
  
      "presets": [
        {
        "category": "Text",
        "name": "Image And Text"
      }
    ]
  }
  {% endschema %}