{%- capture flickity_options -%}
{
  "prevNextButtons": false,
  "setGallerySize": true,
  "adaptiveHeight": false,
  "freeScroll": true,
  "wrapAround": true,
  "dragThreshold": 3,
  "cellAlign": "left",
  "pauseAutoPlayOnHover": false,
  "autoPlay": false,
  "pageDots": false,
  "arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25}
}
{%- endcapture -%}
<style>
  .blog-section{
    margin: -15px 0 15px!important;
  }
  .carousel-container {
    margin: 30px 0 0 0 !important;
  }
  .carousel-item {
    margin: 0 1px !important;
  }
  @media screen and (max-width: 767px){
  .Section--spacingNarrow .SectionHeader.story_head .head_med {
      font-size: 22px !important ;
    }
  }
</style>
<section class="Section Section--spacingNormal Section--spacingNarrow blog-section" id="section-{{ section.id }}" data-section-type="slideshow" data-section-id="{{ section.id }}">
    <header class="SectionHeader SectionHeader--center story_head">
        {%- if section.settings.title != blank -%}
      		<div class="Container blog-post-container">
              <div class="SectionHeader__Heading_Container">
                {%- comment -%}<img class="pink-bar" src="{{ 'ping_vertical_bar.png' | asset_url }}" alt="bar" />{%- endcomment -%}
                <h2 class="SectionHeader__Heading head_med Heading u-h1 blog-post-title">{{ section.settings.title | escape  }}</h2>
              </div>
      		</div>
           {%- if section.settings.subheading != blank -%}
      		<div class="Container blog-post-container">
          		<h3 class="SectionHeader__SubHeading blog_slide_section_head blog_subheading_font Heading u-h6 blog-post-text" >{{ section.settings.subheading | escape }}</h3>
      		</div>
          {%- endif -%}
        {% endif %}
    </header>
      
    {%- assign block = section.blocks.first -%}
    {%- if block.type == 'blog' -%}
        {%- assign blog = blogs[block.settings.blog] -%}
        <div class="ProductList ProductList--carousel Carousel blog_list_carousel carousel-container" data-flickity-config='{{ flickity_options }}'>  
        {%- for article in blog.articles  -%}
          <div class="Grid__Cell Carousel__Cell article_carousel {% if forloop.index == 3 %}hidden-tablet{% endif %} carousel-item">
            
            {%- if article.image != blank -%}
            {%- include 'image-size', sizes: '200,400,600,700,800,900,1000,1200', image: article.image -%}
            {%- assign image_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

            <a class="ArticleItem__ImageWrapper AspectRatio AspectRatio--withFallback" style="background: url({{ article.image | img_url: '1x1', format: 'jpg' }}); padding-bottom: 58%; --aspect-ratio: 1.7" href="{{ article.url }}">
              <img class="ArticleItem__Image Image--lazyLoad Image--fadeIn"
                  data-src="{{ image_url }}"
                  data-widths="[{{ supported_sizes }}]"
                  data-sizes="auto"
                  alt="{{ article.image.alt | escape }}">
            </a>
            {%- endif -%}
            {%- comment -%}<h2 class="ArticleItem__Title Heading u-h2">
              <a href="{{ article.url }}">{{ article.title }}</a>
            </h2>{%- endcomment -%}
<!--             <p class="ArticleItem__Excerpt">{{ article.excerpt_or_content | strip_html | truncate: 60 }}</p> -->
          </div>
        {%- endfor -%}
        </div>
    {%- endif -%}
   
    {%- if section.settings.button_text != blank -%}
      <div class="Container see-more-mobile see-more-mobile-blog-post ">
        <div class="SectionFooter blog-post-section-footer" style="color: {{ section.settings.button_text_color }};">
          <a href="{{ section.settings.button_link }}" class="view-all-text">{{ section.settings.button_text | escape }}</a>
        </div>
      </div>
      <div class="Container see-more-desktop">
        <div class="SectionFooter blog-post-section-footer" style="color: {{ section.settings.button_text_color }};">
          <a href="{{ section.settings.button_link }}" class="view-all-text">{{ section.settings.button_text | escape }}</a>
          <!-- <img class="arrow-right" src="{{ 'white_arrow_right.png' | asset_url }}" /> -->
        </div>
      </div> 
    {%- endif -%}
</section>

{% schema %}
{
  "name": "Blog posts new",
  "class": "shopify-section--bordered",
  "max_blocks": 1,
  "settings": [
    {
      "type": "text",
      "id": "subheading",
      "label": "Sub-heading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Blog posts new"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "View all articles"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button Text Color",
      "default": "#fff"
    }
  ],
  "blocks": [
    {
      "type": "article",
      "name": "Article",
      "settings": [
        {
          "type": "article",
          "id": "article_1",
          "label": "Article 1"
        },
        {
          "type": "article",
          "id": "article_2",
          "label": "Article 2"
        },
        {
          "type": "article",
          "id": "article_3",
          "label": "Article 3"
        }
      ]
    },
    {
      "type": "blog",
      "name": "Blog",
      "settings": [
        {
          "type": "blog",
          "id": "blog",
          "label": "Blog"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Blog",
      "name": "Blog posts new",
      "settings": {},
      "blocks": [
        {
          "type": "blog",
          "settings": {
            "blog": "news"
          }
        }
      ]
    }
  ]
}
{% endschema %}