<style>
  .Button--primary { 
    border-color: #163bbc !important;
  }
  .Button--primary:before { 
    background-color: #163bbc !important;
  }
  .thinner {
    padding: 10px 28px !important;
    margin: 10px 0px !important;
  }
  .leftMargin{
     margin-left: 10px !important;
  }
  .cont-shopping {
    text-decoration: underline;
  }
  .PageContent {
    margin-bottom: 35px !important;
  }
  @media only screen and (max-width: 768px) {
    .shopify-section:has(~ .shopify-section .new-trustpilot-cont) .EmptyState {
      margin-bottom: 60px;
    }
  }
</style>

<style>
  .in-caslon {
    font-family: 'Adobe Caslon Pro' !important;
  }
  .align-center {
    text-align: center !important;
  }
  .trustscore-style {
    display: inline-block;
    font-family: 'DIN Next LT Pro Medium';
    font-size: 13px;
    margin: 0 3px;
    color: #000000;
  }
  .trustscore-img {
    display: inline-block;
  }
  .shipping-protection {
    display: block;
    border-top: 1px solid #d9d9d9;
  }
</style>
<style>
  .dispIn{
    display: inline-block;
  }
  @media screen and (max-width: 640px) {
    .centerAlign {
      text-align: center;
    }
    .review-text-new {
      text-align: left;
      line-height: 1.5;
    }
    .desk-reviewer{
      display: none;
    }
    .mob-reviewer{
      display: inline-block;
      padding: 40px 20px;
    } 
  }
  @media screen and (min-width: 641px){
    .desk-reviewer{
      display: block;
    }
    .mob-reviewer{
      display: none;
    } 
  }
</style>
<script>
  // function to add protection to cart
  const addProtection = async (variantId, quantity = 1, reload = false) => {
    const id = parseInt(variantId);

    let cartData;

    var request = {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json;',
        Accept: 'application/json'
      },
      body: JSON.stringify(
        {id: id, quantity: quantity}
      )
    };

    cartData = await fetch(window.Shopify.routes.root + 'cart/add.js', request);
    let cartJson = await cartData.json();
    if (cartJson.id) {
      console.log('%c Protection added successfully', 'color: white; background-color: green');

// updateLiveCart(null);
    }console.dir(cartJson);

// localStorage.setItem('nvd_opted_out', false);
// localStorage.setItem('cart_protection', variantId);
// checkWidgetView();
// if (reload == true) {
// location.reload();
// } else {
// return cartJson;
// }
  };


// function to remove protection
  const removeProtection = async (variantId, reload = false) => {
    var request = {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json;',
        Accept: 'application/json'
      },
      body: JSON.stringify(
        {id: String(variantId), quantity: 0}
      )
    };

    cartData = await fetch(window.Shopify.routes.root + 'cart/change.js', request);
    let cartJson = await cartData.json();

// localStorage.setItem('nvd_opted_out', true);
// localStorage.removeItem('cart_protection');
    if (cartJson.token) {
      console.log('%c Protection removed successfully', 'color: white; background-color: red');

// updateLiveCart(cartJson);
    }

// checkWidgetView();
// if (reload == true) {
// location.reload();
// } else {
// return cartJson;
// }
  };
</script>


{%- capture section_settings -%}
  {
  "type":{{ settings.cart_type | json }},
  "itemCount":{{ cart.item_count }},
  "drawer": false,
  "hasShippingEstimator":{% if section.settings.show_shipping_estimator and cart.item_count > 0 %}true{% else %}false{% endif %}
  }
{%- endcapture -%}

{% assign protection_product = all_products['navidium-shipping-protection'] %}
{% assign protection_product_is_selected = false %}
{%- for item in cart.items -%}
  {% if item.id ==  protection_product.variants[0].id %}
    {% assign protection_product_is_selected = true %}
  {% endif %}
{%- endfor -%}

<section data-section-id="{{ section.id }}" data-section-type="cart" data-section-settings='{{ section_settings }}'>
  {%- if cart.item_count == 0 or cart.item_count == 1 and protection_product_is_selected == true -%}
    {% if protection_product_is_selected == true %}
      <script>
        console.log('running up');
        removeProtection('{{protection_product.variants[0].id}}')
      </script>
    {% endif %}
    <div class="EmptyState">
      <div class="Container">
        <h1 class="EmptyState__Title Heading u-h5">{{ 'cart.general.empty' | t }}
        </h1>

        {%- if settings.cart_show_free_shipping_threshold -%}
          {%- assign threshold_in_cents = settings.cart_free_shipping_threshold | times: 100 -%}
          {%- capture remaining_amount -%}
            <span>{{ cart.total_price | minus: threshold_in_cents | abs | money_without_trailing_zeros }}
            </span>
          {%- endcapture -%}

          {%- capture save_more -%}
            <span data-money-convertible>$5.99</span>
          {%- endcapture -%}
          <p class="Text--subdued ">{{- 'cart.general.free_shipping_remaining_html' | t: remaining_amount: remaining_amount, save_more:save_more -}}
          </p>
        {%- endif -%}

        <a href="/collections/all-art" class="EmptyState__Action Button Button--primary">{{ 'cart.general.empty_button' | t }}
        </a>
      </div>
    </div>
  {%- else -%}
    {% if protection_product_is_selected == false %}
      <script>
        $(document).ready(function () {
        console.log('running down');
        removeProtection('{{protection_product.variants[0].id}}')
        getShippingProtection('{{protection_product.variants[0].id}}','{{protection_product.variants[0].price}}');
        getShippingProtection2('{{protection_product.variants[0].id}}','{{protection_product.variants[0].price}}')
        /*addProtection('{{protection_product.variants[0].id}}', 1)*/
        });
      </script>
    {% endif %}

    <div class="Container">
      <header class="PageHeader">
        <div class="SectionHeader SectionHeader--center">
          <h1 class="SectionHeader__Heading Heading u-h1 letter_spacing">{{ 'cart.general.title' | t }}
          </h1>
          <p id="cart_urgency_text" class="in-caslon">Due to high demand, your art will only be held for 24h before we have to make it available again
          </p>
          {%- if settings.cart_show_free_shipping_threshold -%}
            {%- assign threshold_in_cents = settings.cart_free_shipping_threshold | times: 100 -%}

            <p class="SectionHeader__Description Text--subdued colored_background in-caslon">
              {%- if cart.total_price >= threshold_in_cents -%}
                {{- 'cart.general.free_shipping' | t -}}
              {%- else -%}
                {%- capture remaining_amount -%}
                  <span>{{ cart.total_price | minus: threshold_in_cents | abs | money_without_trailing_zeros }}
                  </span>
                {%- endcapture -%}
                {%- capture save_more -%}
                  <span data-money-convertible>$5.99</span>
                {%- endcapture -%}
                {{- 'cart.general.free_shipping_remaining_html' | t: remaining_amount: remaining_amount, save_more:save_more -}}
              {%- endif -%}
            </p>
          {%- endif -%}
        </div>
      </header>

      <div class="PageContent">
        <form action="/cart" method="POST" class="Cart Cart--expanded" novalidate>
          <input type="hidden" name="attributes[collection_mobile_items_per_row]" value="">
          <input type="hidden" name="attributes[collection_desktop_items_per_row]" value="">
          {% assign cm_at_final_discount = 0 %}
          {% include 'cart-items', protection_product_id : protection_product.variants[0].id %}

          <div class="shipping-taxes-notice-container">
            {%- capture shipping_and_taxes_notice -%}
              {{ 'cart.general.shipping_and_taxes_notice' | t }}
            {%- endcapture -%}
            {%- if shipping_and_taxes_notice != blank -%}
              <p class="Cart__Taxes Text--subdued in-caslon">{{ shipping_and_taxes_notice }}
              </p>
            {%- endif -%}
          </div>

          {% comment %}
            Extra Protection Module
          {% endcomment %}
          <style>
            .nvd-mini {
              text-align: left;
              border-top: 1px solid #d9d9d9;
            }
            .appearance-right-previw {
              margin-top: 30px;
              display: flex;
              justify-content: space-between;
            }
            .appearance-right-previw .d-flexCstm-span {
              display: flex;
              position: relative;
            }
            .appearance-right-previw .d-flexCstm-span .yes-no-text {
              color: #000000;
              position: absolute;
              right: 0;
              top: 20px;
              font-size: 14px;
            }
            .appearance-right-previw .d-flexCstm {
              position: relative;
              padding-right: 35px;
              display: flex !important;
              max-width: 370px;
              margin-bottom: 20px;
            }
            .appearance-right-previw .flex-shrink-0Cstm {
              flex-shrink: 0 !important;
            }
            .appearance-right-previw .form-checkCstm.form-switchCstm {
              display: block;
              min-height: 1.5rem;
            }
            input#shippingProtectionCheckBox {
              cursor: pointer;
            }

            .appearance-right-previw .form-switchCstm .forms-check-inputCstm:focus {
              background-image: url('data:image/svg+xml, %3csvg xmlns="http://www.w3.org/2000/svg" viewBox="-4 -4 8 8"%3e%3ccircle r="3" fill="%23fff"/%3e%3c/svg%3e');
            }
            .appearance-right-previw .form-switchCstm .forms-check-inputCstm:focus {
              box-shadow: unset;
            }
            .appearance-right-previw .d-flexCstm .form-switchCstm input {
              position: absolute;
              right: 0;
              top: 2px;
            }
            .appearance-right-previw .d-flexCstm .form-switchCstm input {
              background-position: left center;
              transition: background-position 0.15s ease-in-out;
              background-repeat: no-repeat;
              appearance: none;
            }
            .appearance-right-previw .form-switchCstm .forms-check-inputCstm {
              background-color: #6d7175;
              border-radius: 8.95442px;
              width: 26px;
              height: 14px;
              background-image: url('data:image/svg+xml, %3csvg xmlns="http://www.w3.org/2000/svg" viewBox="-4 -4 8 8"%3e%3ccircle r="3" fill="%23fff"/%3e%3c/svg%3e');
            }
            .appearance-right-previw .form-switchCstm .forms-check-inputCstm:checked {
              background-color: #008060;
            }
            .appearance-right-previw .form-switchCstm .forms-check-inputCstm:checked {
              background-position: right center;
            }

            .appearance-right-previw .img {
              position: relative;
              left: -5px;
              max-width: 60px;
              height: 50px;
              width: 100%;
            }
            .navidium-shipping-icon {
              max-width: 80px;
              transform: scale(0.9);
            }
            .appearance-right-previw .flex-grow-1Cstm {
              flex-grow: 1 !important;
            }
            .appearance-right-previw .ms-3Cstm {
              margin-left: 15px;
            }
            .appearance-right-previw .flex-grow-1Cstm .text-with-question-mark-icon {
              display: flex;
            }
            .appearance-right-previw .flex-grow-1Cstm .text-with-question-mark-icon span {
              padding: 0 10px;
            }
            .appearance-right-previw .flex-grow-1Cstm .text-with-question-mark-icon span > i {
              background: #eeeeee;
              border-radius: 100%;
              color: #626262;
              font-size: 10px;
              font-weight: 500;
              padding: 3px;
              width: 18px;
              height: 18px;
              display: inline-block;
              text-align: center;
              cursor: pointer;
              font-style: normal;
              overflow: hidden;
            }
            .appearance-right-previw .d-flexCstm h4 {
              font-weight: 700;
              font-size: 14.5362px;
              line-height: 15px;
              color: #000000;
              padding-bottom: 4px;
            }

            .appearance-right-previw .d-flexCstm h4 .btnCstm {
              padding: 0;
              margin-left: 10px;
              line-height: 0;
              margin-top: -2px;
            }
            .appearance-right-previw .d-flexCstm h4 .btnCstm svg {
              width: 10px;
              height: 10px;
            }

            .appearance-right-previw .d-flexCstm p {
              font-family: Adobe Caslon Pro !important;
              font-size: 14px;
              font-weight: 300;
              line-height: 14px;
              color: #626262;
              padding-bottom: 5px;
            }
            .appearance-right-previw .d-flexCstm .nvd-selected {
              color: #898989;
            }
            .shipping-protection-price {
              padding-left: 10px;
            }
            .shipping-protection-price .yes-price {
              color: #47b876;
              font-size: 13px;
            }
            .shipping-protection-price .no-price {
              color: #bfbfbf;
              font-size: 13px;
            }

            @media screen and (max-width: 640px) {
              .nvd-mini-mob {
                display: block;
              }
              .nvd-mini {
                display: none;
              }
            }

            @media screen and (min-width: 641px) {
              .nvd-mini-mob {
                display: none;
              }
              .nvd-mini {
                display: block;
              }
            }

            .nvd-mini-mob {
              border-top: 1px solid #d9d9d9;
              padding: 0 30px;
            }
            .nvd-cont-mob {
              padding: 10px 20px;
              margin: 20px auto;
              position: relative;
              background-color: #f7f8f8;
              border-radius: 20px;
              box-shadow: 2.5px 2.5px 2.5px lightgrey;
            }
            .nvd-mob-heading {
              font-family: 'DIN Next LT Pro Cond';
              color: black;
            }
            .nvd-inline {
              display: inline-block;
              position: relative;
            }
            .nvd-inline img {
              position: relative;
              height: 40px;
            }
            .nvd-icon-style {
              line-height: 3;
              margin-right: 10px;
            }
            .nvd-inline .shipping-protection-price,
            .flex-grow-1Cstm .shipping-protection-price,
            .flex-grow-1Cstm .shipping-protection-price .yes-price,
            .flex-grow-1Cstm .shipping-protection-price .no-price,
            .nvd-inline .shipping-protection-price .yes-price,
            .nvd-inline .shipping-protection-price .no-price {
              padding-left: 0;
              line-height: 0.8;
              font-size: 11px;
            }
            .nvd-check {
              -webkit-appearance: none;
              background-color: white;
              border: 2px solid lightgrey;
              padding: 8px !important;
              display: inline-block;
              position: relative;
              cursor: pointer;
              float: right;
              top: 2px;
            }
            .nvd-check:checked {
              background-color: black;
            }
            .nvd-check-desk {
              -webkit-appearance: none;
              background-color: white;
              border: 2px solid lightgrey;
              padding: 8px !important;
              display: inline-block;
              position: relative;
              cursor: pointer;
              top: 2px;
            }
            .nvd-check-desk:checked {
              background-color: black;
            }
            .nvd-new-desc {
              color: #898989;
              font-size: 14px;
              font-weight: 300;
            }
            .img .navidium-shipping-icon{
              height: 30px;
            }
          </style>

          <div class="nvd-mini-mob">
            <div class="nvd-cont-mob">
              <div class="nvd-inline nvd-icon-style">
                <img class="navidium-shipping-icon" width="auto" height="auto" src="//cdn.shopify.com/s/files/1/0082/5619/2602/files/shippingprotection_1.png" alt="Navidium icon">
              </div>

              <div class="nvd-inline">
                <div class="nvd-mob-heading">Extra Protection</div>
                <div class="shipping-protection-price">
                  <span class="yes-price">{{protection_product.variants[0].price | money_without_trailing_zeros}}
                  </span>
                  <span class="no-price" style="display: none;">{{protection_product.variants[0].price | money_without_trailing_zeros}}
                  </span>
                </div>
              </div>

              <input type="checkbox" class="nvd-check" id="shippingProtectionCheckBox" onclick="getShippingProtection('{{protection_product.variants[0].id}}','{{protection_product.variants[0].price}}')" data-protected-variant="{{protection_product.variants[0].id}}" {% if protection_product_is_selected == true %} checked {% endif %}>

              <div class="in-caslon nvd-new-desc">
                Covers loss & damages on your whole order for 12 months.
              </div>
            </div>
          </div>
          
          <div class="nvd-mini">
            <div class="appearance-right-previw" id="nvd-widget-cart">
              <div class="d-flexCstm-span">
                <div class="d-flexCstm">
                  <div class="flex-shrink-0Cstm">
                    <div class="form-checkCstm form-switchCstm">
                      <div class="img">
                        <img class="navidium-shipping-icon" width="auto" height="auto" src="//cdn.shopify.com/s/files/1/0082/5619/2602/files/shippingprotection_1.png" alt="Navidium icon">
                      </div>
                    </div>
                  </div>
                  <div class="flex-grow-1Cstm ms-3Cstm">
                    <div class="text-with-question-mark-icon">
                      <h4 class="nvd-mob-heading">Extra Protection</h4>
                      {%- comment -%} <span>
                        <i id="protection-price-detail" class="protection-price-detail">?</i>
                      </span> {%- endcomment -%}
                    </div>
                    {%- comment -%} <p>From Damage, Loss &amp; Theft
                    </p> {%- endcomment -%}
                    <p class="nvd-selected">Covers loss & damages on your whole order for 12 months.</p>
                    {%- comment -%} <div class="shipping-protection-price">
                      <span class="yes-price" data-money-convertible>{{protection_product.variants[0].price | money_without_trailing_zeros}}
                      </span>
                      <span class="no-price" style="display: none;" data-money-convertible>{{protection_product.variants[0].price | money_without_trailing_zeros}}
                      </span>
                    </div> {%- endcomment -%}
                  </div>
                </div>
              </div>
              <div style="text-align: center;">
                <input type="checkbox" class="nvd-check-desk" id="shippingProtectionCheckBox2" onclick="getShippingProtection2('{{protection_product.variants[0].id}}','{{protection_product.variants[0].price}}')" data-protected-variant="{{protection_product.variants[0].id}}" {% if protection_product_is_selected == true %} checked {% endif %}>
                <br>
                <span class="CartItem__Remove Link Link--underline Link--underlineShort">I want this</span>
              </div>
              <div class="shipping-protection-price">
                <span class="yes-price">{{protection_product.variants[0].price | money_without_trailing_zeros}}
                </span>
                <span class="no-price" style="display: none;">{{protection_product.variants[0].price | money_without_trailing_zeros}}
                </span>
              </div>
            </div>
          </div>
          {%- comment -%}
            Extra Protection Module
          {%- endcomment -%}

          <footer class="Cart__Footer">
            {%- if settings.cart_enable_notes -%}
              <div class="Cart__NoteContainer">
                <span class="Cart__NoteButton">{{ 'cart.general.add_note' | t }}
                </span>
                <textarea class="Cart__Note Form__Textarea" name="note" id="cart-note" rows="4" placeholder="{{ 'cart.general.note_placeholder' | t }}">{{ cart.note }}
                </textarea>
              </div>
            {%- endif -%}

            <div class="Cart__Recap">
              {%- if cart.cart_level_discount_applications != blank -%}
                {%- for discount_application in cart.cart_level_discount_applications -%}
                  <p class="Cart__Discount Heading u-h6">{{ 'cart.general.discount' | t }}
                    ({{ discount_application.title }}
                    ): -<span>{{ discount_application.total_allocated_amount | money_without_trailing_zeros }}
                    </span>
                  </p>
                {%- endfor -%}
              {%- endif -%}
                            
              {% comment %} {% assign cm_at_price_total = 0 %}
              {% assign var_total_saving = 0 %}
              {% for item in cart.items %}
                {% if item.variant.compare_at_price > item.variant.price %}
                  {% assign var_cm_at_price = item.variant.compare_at_price | times: item.quantity %}
                  {% assign cm_at_price_total = var_cm_at_price | plus: cm_at_price_total %}
                {% endif %}
              {% endfor %} {% endcomment %}
              {% assign var_total_saving = 0 %}
              {% for item in cart.items %}
                {% if item.variant.compare_at_price > item.variant.price %}
                  {% assign saving = item.variant.compare_at_price | minus: item.variant.price | times: item.quantity %}
                  {% assign var_total_saving = saving | plus: var_total_saving %}
                {% endif %} 
              {% endfor %}
              {%- if var_total_saving > 0 -%}
                <p class="Cart__Discount Heading u-h6 cart-tag-design">
                  <img class="reviews_verified_icon" src="{{ 'cart-tag.png' | asset_url }}" >
                  You save:
                  <span style="margin-left: 5px;">{{var_total_saving | money_without_trailing_zeros}}
                  </span>
                </p>
 
              {%- endif -%}
              <span id="money-with-protection" style="display: none;">
                <p class="Cart__Total Heading u-h6 cart-total-spacing">{{ 'cart.general.total' | t }}:
                  <span style="color: #af182b;">{{ cart.total_price | plus: protection_product.variants[0].price | money_without_trailing_zeros }}
                  </span>
                </p>
              </span>
              <span id="money-without-protection">
                <p class="Cart__Total Heading u-h6 cart-total-spacing">{{ 'cart.general.total' | t }}:
                  <span style="color: #af182b;">{{ cart.total_price | money_without_trailing_zeros }}
                  </span>
                </p>
              </span>
              {% comment %}  as checkout currency will be same now
              <div class="currency-exchange-notice-container">
                <p class="currency-exchange-notice-text">
                  All orders are processed in USD. While the content of your order is displayed in
                  <span id="selected_currency"></span>, you will checkout using USD at the most current exchange rate.
                </p>
              </div> {% endcomment %}
              <div class="desktop-b-mobile-h">
                <a href="https://www.andyokay.com/collections/all-art" class="in-caslon cont-shopping">Continue Shopping</a>
                <button type="submit" name="checkout" class="Cart__Checkout Button Button--primary thinner leftMargin Button--full">{{ 'cart.general.checkout' | t }}
                </button>
                <br><br>

              </div>

              <div class="mobile-b-desktop-h align-center">
                <button type="submit" name="checkout" class="Cart__Checkout Button Button--primary thinner Button--full">{{ 'cart.general.checkout' | t }}
                </button>
                <a href="https://www.andyokay.com/collections/all-art" class="in-caslon cont-shopping">Continue Shopping</a>
                <br><br>
              </div>
              {%- if section.settings.show_cart_reviews == true -%}
                <div class="cart-review-container">
                  <h2 class="rating-heading align-center">{{section.settings.review_numbers}}
                    REVIEWS</h2>
                  <div class="headQuote-content">
                    <div class="heading__stars review_stars align-center">
                      <img class="trustscore-img" src="{{ 'singlestar.png' | asset_img_url: '20x20' }}" alt="">
                      <p class="trustscore-style">Trustscore</p>
                      <img class="trustscore-img" src="{{ 'Truststars_5.png' | asset_img_url: '100x100' }}" alt="">
                    </div>
                  </div>
                  <div class="cart-review">
                    <div class="heading-container desk-reviewer">
                      <h3>{{section.settings.reviewer_name}}
                      </h3>
                      <p class="review-verified"><img class="reviews_verified_icon" src="{{ 'verified.png' | asset_url }}"/>Verified Buyer</p>
                    </div>
                    <div class="centerAlign">
                      <div class="headQuote-content" class="centerAlign">
                        <div class="heading__stars">
                          <i data-panel="dist" class="fa star fa-star"></i>
                          <i data-panel="dist" class="fa star fa-star"></i>
                          <i data-panel="dist" class="fa star fa-star"></i>
                          <i data-panel="dist" class="fa star fa-star"></i>
                          <i data-panel="dist" class="fa star fa-star"></i>
                        </div>
                      </div>
                      <h2 class="review-title">{{section.settings.review_title}}
                      </h2>
                      <p class="review-detail in-caslon review-text-new">
                        {{section.settings.review_text}}
                      </p>
                    </div>
                    <div class="centerAlign">
                      <div class="dispIn">
                        <img src="{{section.settings.image | img_url: 'master' }}" alt="" class="dispIn">
                        <div class="heading-container mob-reviewer">
                          <h3>{{section.settings.reviewer_name}}
                          </h3>
                          <p class="review-verified"><img class="reviews_verified_icon" src="{{ 'verified.png' | asset_url }}"/>Verified Buyer</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {%- endif -%}
            </div>
          </footer>
        </form>

        {%- if section.settings.show_shipping_estimator -%}
          <div class="Section Section--spacingExtraLarge">
            <div class="Panel">
              <h2 class="Panel__Title Heading u-h2">{{ 'cart.shipping_estimator.title' | t }}
              </h2>

              <div class="Panel__Content">
                <div class="ShippingEstimator">
                  <div class="ShippingEstimator__Form">
                    <div class="ShippingEstimator__Country Form__Select Select Select--primary">
                      {%- include 'icon' with 'select-arrow' -%}
                      <select name="country" title="{{ 'cart.shipping_estimator.country' | t }}" data-default="{% if customer %}{{ customer.default_address.country }}{% elsif section.settings.shipping_estimator_default_country != '' %}{{ section.settings.shipping_estimator_default_country }}{% endif %}">{{ all_country_option_tags }}
                      </select>
                    </div>

                    <div class="ShippingEstimator__Province Form__Select Select Select--primary" style="display: none">
                      {%- include 'icon' with 'select-arrow' -%}
                      <select name="province" title="{{ 'cart.shipping_estimator.province' | t }}"></select>
                    </div>

                    <input type="text" class="ShippingEstimator__Zip Form__Input" name="zip" placeholder="{{ 'cart.shipping_estimator.zip_code' | t }}">

                    <button type="button" class="ShippingEstimator__Submit Button Button--primary">{{ 'cart.shipping_estimator.estimate' | t }}
                    </button>
                  </div>

                  <div class="ShippingEstimator__Error Alert Alert--error" style="display: none"></div>
                  <div class="ShippingEstimator__Results">
                    <div class="ShippingEstimator__ResultsInner"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}
</section>

{% schema %}
  {
    "name": "Cart page",
    "class": "shopify-section--bordered",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_shipping_estimator",
        "label": "Show shipping rates calculator",
        "default": true
      },
      {
        "type": "text",
        "id": "shipping_estimator_default_country",
        "label": "Default country to use",
        "info": "If your customer is logged-in, the country in his default shipping address will be selected.",
        "default": "United States"
      },
      {
        "type": "checkbox",
        "id": "show_cart_reviews",
        "label": "Show Dummy Review",
        "default": false
      },
      {
        "type": "text",
        "id": "review_numbers",
        "label": "No. of reviews",
        "default": "247"
      }, {
        "type": "text",
        "id": "reviewer_name",
        "label": "Reviewer Name",
        "default": "Reviewer Name"
      }, {
        "type": "text",
        "id": "review_title",
        "label": "Review Title",
        "default": "Review Title"
      }, {
        "type": "text",
        "id": "review_text",
        "label": "Review Text",
        "default": "Review Text"
      }, {
        "id": "image",
        "type": "image_picker",
        "label": "Image"
      }
    ]
  }
{% endschema %}

<script>
  /*$(window).bind("load", function() {
    if ($('.CurrencySelector__Select').val() == 'USD') {
      $(".currency-exchange-notice-container").hide();
    } else {
      $(".currency-exchange-notice-container").show();
    }
    $("#selected_currency").text($('.CurrencySelector__Select').val());
  });
  $('.CurrencySelector__Select').change(function() {
    var selected_currency = this.value;
    if (selected_currency == 'USD') {
      $(".currency-exchange-notice-container").hide();
    } else {
      $(".currency-exchange-notice-container").show();
    }
    $("#selected_currency").text(selected_currency);
  });*/

  $('#protection-price-detail').click(function() {
    $('.protection-price-detail').addClass('visible');
    document.getElementById("cart-popup-overlay").style.display = "block";
  });


  const getShippingProtection = async (variantId, price) => {
    let checked = document.querySelector('#shippingProtectionCheckBox').checked;
    if (!checked) {
      console.log('unchecking and removing protection');
      await removeProtection(variantId);
      $('#money-without-protection').css('display', 'block');
      $('#money-with-protection').css('display', 'none');
      $('.yes-price').css('display', 'none');
      $('.no-price').css('display', 'block');
      $('.yes-no-text').text('No');
      $('.yes-no-text').css('color', '#bfbfbf');
    } else {
      console.log('checked and adding protection');
      await addProtection(parseInt(variantId), 1);
      $('#money-without-protection').css('display', 'none');
      $('#money-with-protection').css('display', 'block');
      $('.yes-price').css('display', 'block');
      $('.no-price').css('display', 'none');
      $('.yes-no-text').text('Yes');
      $('.yes-no-text').css('color', '#434343');
    }
  };
  const getShippingProtection2 = async (variantId, price) => {
    let checked2 = document.querySelector('#shippingProtectionCheckBox2').checked;
    console.log('called');
    if (!checked2) {
      console.log('unchecking and removing protection');
      await removeProtection(variantId);
      $('#money-without-protection').css('display', 'block');
      $('#money-with-protection').css('display', 'none');
      $('.yes-price').css('display', 'none');
      $('.no-price').css('display', 'block');
      $('.yes-no-text').text('No');
      $('.yes-no-text').css('color', '#bfbfbf');
    } else {
      console.log('checked and adding protection');
      await addProtection(parseInt(variantId), 1);
      $('#money-without-protection').css('display', 'none');
      $('#money-with-protection').css('display', 'block');
      $('.yes-price').css('display', 'block');
      $('.no-price').css('display', 'none');
      $('.yes-no-text').text('Yes');
      $('.yes-no-text').css('color', '#434343');
    }
  };
</script>