{%- if collection.all_products_count > 0 -%}
    {%- if collection.image and collection.template_suffix != 'no-image' -%}
        <header class="PageHeader collection-page-header" >
        {% comment %} customised header for collections with an image {% endcomment %}
        <div class="collection-page-header-container">
            <div class="collection-page-header-image">
            <img  src="{{ collection.image | img_url: '2000x' }}" />
            </div>
            <div class="collection-page-header-content-container">
                <span class="collection-page-header-content-title">{{ collection.title }}</span>  
                <span class="collection-page-header-content-text">{{- collection.description -}}</span>
                <span class="readmore" style="display: none;">Read More</span>
            </div>
        </div>
        {% comment %} customised header for collections with an image {% endcomment %}
        <noscript>
            <div class="PageHeader__ImageWrapper {% if section.settings.apply_overlay %}Image--contrast{% endif %}" style="background-image: url({{ collection.image | img_url: '800x' }})"></div>
        </noscript>
        </header>
    {%- else -%}
        <header class="PageHeader">
        <div class="Container">
            <div class="SectionHeader SectionHeader--center">
            <h1 class="SectionHeader__Heading Heading u-h1 all_art_heading">{{ collection.title }}</h1>

            {%- if collection.description != blank -%}
                <div class="SectionHeader__Description Rte description-in-caslon">
                {{- collection.description -}}
                </div>
            {%- endif -%}
            </div>
        </div>
        </header>
    {%- endif -%}
{%- endif -%}

{% schema %}
{
    "name": "Collection header",
    "class": "shopify-section--bordered",
    "settings": [
    ],
  "presets": [
    {
      "name": "Collection header"
    }
  ]
}
{% endschema %}