<style>
  .filter-heading{ 
  font-family: 'DIN Next LT Pro Bold';
  color: black;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  text-transform: uppercase;
  }
  .Collapsible__Button.filter-heading{
    margin-bottom: 32px;
  }
  .description-in-caslon{
    font-family: 'Adobe Caslon Pro' !important;
    line-height: 1.5;
  }
  .orientation-check{
    -webkit-appearance: none;
    margin-right: 6px;
    background-color: white;
    border: 2px solid lightgrey;
    padding: 6px !important;
	  display: inline-block;
	  position: relative;
    cursor: pointer;
  }
  .orientation-check:checked{
    background-color: black;
  }
  .drawer-cont{
    height: 100%;width: 100%;text-align:center;
  }
  .drawer-close-button{
    position: relative;text-align:right;padding: 10px;
  }
  .mobile-drawer-heading{
    text-align: left;width: 100%;padding: 14px;margin-top: 10px;
  }
  .mobile-drawer-table{
    width: 100%;font-size: 12px;
  }
  .mobile-drawer-tr{
    height: 30px;
  }
  .mobile-drawer-td{
    background-color: white;width: 50%;text-align: left;
  }
  .mobile-drawer-td-content{
    display: inline-block;text-align: left;padding-left: 14px;
  }
  .mobile-drawer-label{
    transform: translateY(-3px);display: inline-block;
  }
  .mobile-drawer-line{
    display: inline-block; height: 1px;width:90%; background-color: lightgray;
  }
  .mobile-drawer-button{
    color: white;width: 80%;display: inline-block;
  }
  .mobile-drawer-resettext{
    display: inline-block;font-size: 12px;text-decoration: underline;margin-top: 10px;position: relative;
  }
  #section-trustbadges {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
  }
  #section-trustbadges .Container{
    padding: 0px !important;
  }
  .trustbadges-list-items {
    min-width: 210px;
  }
  @media only screen and (max-width: 640px){
    .trustbadges-list-items {
      min-width: 150px;
      padding: 0px;
    }  
  }
  .trustbadges-list {
    display: flex !important;
    padding: 30px 0px !important;
    justify-content: flex-start !important;
    overflow-x: auto !important;
  }
  .trustbadges-list::-webkit-scrollbar {
    height: 0px !important;
  }
  .trustbadges-list.trustbadges-1 .trustbadges-list-items:not(:last-child):after {
    display: block !important;
  }
</style>

<script>
  $(document).ready(function () {

    function stockbar () {
      $("[data-xs-grid-stock-bar]")
      .filter(function() {
        return $(this).css('display') == 'none';
      }).each(function(){
          let t = $(this);
          let stockStr = t.attr('data-xs-stock-json'),
              inv = t.attr('data-inv');
          if( stockStr != "" && inv == "shopify"){
            const stockData = JSON.parse(stockStr);
            
            let totalStock = 0;
            for( let s in stockData ){
              totalStock += parseInt(stockData[s]);
            }
            let max_stock = parseInt(totalStock);
            
            console.log(max_stock); 
            console.log('test');
            if (isNaN(max_stock))  {
              max_stock = 200;
            }
                let left = parseInt(t.attr('data-xs-stock-left'));
                percentage = ( parseFloat(left) / parseFloat(max_stock) ) * 100.0;

            if ( left < 0 ){
              left = 0;
              t.find("[data-xs-stock-spinner]").css("width", `0%`);
            }
            else {
              t.find("[data-xs-stock-spinner]").css("width", `${percentage}%`);
            }
            t.find("[data-xs-stock-text]").text(`${left} out of ${max_stock} left`);
            
            if (max_stock >= left ){

              t.show();
            }
          }
        });
        
        $("[data-flickity-config]").flickity().flickity("resize");
    }

    var linktogo = window.location.href;
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    var page = urlParams.get('page');
    if(!page){ page = 1};
    page = parseInt(page);
                
    var pagelinks = $('#paginateAll .Pagination__Nav ').children('a').filter(function(){
      return $(this).attr('rel') !== 'prev' && $(this).attr('rel') !== 'next';
    })
    .map(function() {
    return this.href;
    });

    console.log('page links are');
    console.log(pagelinks);

    for (var i=(pagelinks.length-1); i>=0; i--){
      $.ajax({
        url: pagelinks[i],
        type: 'GET',
        dataType: 'html',
        success: function(responseHTML){
          console.log('ajaxing');
          
          if(this.url.includes('?')){
            var ajaxpage = (new URLSearchParams('?'+this.url.split('?')[1])).get('page');
            if(!ajaxpage){ ajaxpage = 1};
            ajaxpage = parseInt(ajaxpage);
          }
          else{
            var ajaxpage = 1;
            ajaxpage = parseInt(ajaxpage);
          }
          
          console.log(page);
          console.log(ajaxpage);

          if(page>ajaxpage){
            $('#paginateVertical .ProductList').prepend($(responseHTML).find('#paginateVertical .ProductList').html());
            $('#paginateHorizontal .ProductList').prepend($(responseHTML).find('#paginateHorizontal .ProductList').html());
          }
          else{
            $('#paginateVertical .ProductList').append($(responseHTML).find('#paginateVertical .ProductList').html());
            $('#paginateHorizontal .ProductList').append($(responseHTML).find('#paginateHorizontal .ProductList').html());
          }
          $('#paginateVertical .ProductItem').css("visibility","inherit");
          $('#paginateHorizontal .ProductItem').css("visibility","inherit");
          stockbar();
          $('#paginateVertical .xs-stock-bar').css("display","block");
          $('#paginateHorizontal .xs-stock-bar').css("display","block");
          
          if($('#paginateVertical .ProductList').children().length<49){
            $('#paginateVertical .Pagination__Nav').hide();
          }
          else{
            console.log($('#paginateVertical .ProductList').children().length);
            console.log($('#paginateHorizontal .ProductList').children().length);
            productsperpage = $('#paginateVertical .ProductList').children().length/(pagelinks.length+1);
            productsperpage = Math.ceil(productsperpage);
            console.log(Math.ceil(productsperpage));
            startingoffset = (page-1)*productsperpage;
            endingoffset = page*productsperpage;
            if(endingoffset>$('#paginateVertical .ProductList').children().length){
              endingoffset = $('#paginateVertical .ProductList').children().length; 
            }
            $('#paginateVertical .ProductList').children().hide();
            $('#paginateVertical .ProductList').children().slice(startingoffset,endingoffset).show();
            console.log($('#paginateVertical .ProductList').children().slice(startingoffset,endingoffset).length);
            $('#paginateVertical .Pagination__Nav').show();
          }
          if($('#paginateHorizontal .ProductList').children().length<49){
            $('#paginateHorizontal .Pagination__Nav').hide();
          }
          else{
            productsperpage = $('#paginateHorizontal .ProductList').children().length/(pagelinks.length+1);
            productsperpage = Math.ceil(productsperpage);
            console.log(Math.ceil(productsperpage));
            startingoffset = (page-1)*productsperpage;
            endingoffset = page*productsperpage;
            if(endingoffset>$('#paginateHorizontal .ProductList').children().length){
              endingoffset = $('#paginateHorizontal .ProductList').children().length; 
            }
            $('#paginateHorizontal .ProductList').children().hide();
            $('#paginateHorizontal .ProductList').children().slice(startingoffset,endingoffset).show();
            console.log($('#paginateHorizontal .ProductList').children().slice(startingoffset,endingoffset).length);
            $('#paginateHorizontal .Pagination__Nav').show();
          }
        }
      });
    }

    $('input[type="checkbox"][name = "category-check"]').click(function(event) {
      $(this).prop('checked', !$(this).prop('checked'));
    });
    
    function mobileallcheck() {
      $("#checkallmobile.orientation-check").prop("checked", true);
      $("#checkportraitmobile.orientation-check").prop("checked", false);
      $("#checklandscapemobile.orientation-check").prop("checked", false);
    }

    function mobileportraitcheck() {
      $("#checkallmobile.orientation-check").prop("checked", false);
      $("#checkportraitmobile.orientation-check").prop("checked", true);
      $("#checklandscapemobile.orientation-check").prop("checked", false);
    }

    function mobilelandscapecheck() {
      $("#checkallmobile.orientation-check").prop("checked", false);
      $("#checkportraitmobile.orientation-check").prop("checked", false);
      $("#checklandscapemobile.orientation-check").prop("checked", true);
    }

    function allcheck() {
      $("html, body").animate({ scrollTop: 0 }, "slow");
      $("#checkall.orientation-check").prop("checked", true);
      $("#checkportrait.orientation-check").prop("checked", false);
      $("#checklandscape.orientation-check").prop("checked", false);
      $("#paginateAll").show();
      $("#paginateHorizontal").hide();
      $("#paginateVertical").hide();
      mobileallcheck();
      // let products = $(".ProductItem").parent();
      // for(var i = 0;i<products.length;i++){
      //   products[i].style.display = "inline-block";
      // }


    }

    function portraitcheck(){
      $("html, body").animate({ scrollTop: 0 }, "slow");
      $("#checkall.orientation-check").prop("checked", false);
      $("#checkportrait.orientation-check").prop("checked", true);
      $("#checklandscape.orientation-check").prop("checked", false);

      $("#paginateAll").hide();
      $("#paginateHorizontal").hide();
      $("#paginateVertical").show();
      mobileportraitcheck();
      // let products = $(".ProductItem").parent();
      // let productprev = $(".ProductItem").prev();
      // for(var i = 0;i<products.length;i++){
      //   if(productprev[i].getAttribute("name") != "Vertical")
      //   {products[i].style.display = "none";}
      //   else if(productprev[i].getAttribute("name") == "Vertical")
      //   {products[i].style.display = "inline-block";}
      // }
    }

    function landscapecheck() {
      $("html, body").animate({ scrollTop: 0 }, "slow");
      $("#checkall.orientation-check").prop("checked", false);
      $("#checkportrait.orientation-check").prop("checked", false);
      $("#checklandscape.orientation-check").prop("checked", true);

      $("#paginateAll").hide();
      $("#paginateHorizontal").show();
      $("#paginateVertical").hide();
      mobilelandscapecheck();
      // let products = $(".ProductItem").parent();
      // let productprev = $(".ProductItem").prev();
      // for(var i = 0;i<products.length;i++){
      //   if(productprev[i].getAttribute("name") != "Horizonal")
      //   {products[i].style.display = "none";}
      //   else if(productprev[i].getAttribute("name") == "Horizonal")
      //   {products[i].style.display = "inline-block";}
      // }
    }

    let orientation = localStorage.getItem("orientation");
    if(!orientation || orientation == 'all'){
      allcheck();
    }
    else if(orientation == 'portrait'){
      portraitcheck();
    }
    else if(orientation == 'landscape'){
      landscapecheck();
    }

    $("#mobile-show-results").click(function () {
      window.location.assign(linktogo);
    });

    $("#mobile-reset-filters").click(function () {
      console.log('clicked');
      localStorage.setItem("orientation","all");
      linktogo = $('input[type="checkbox"][name = "category-check-mobile"]').first().attr('href');
      window.location.assign(linktogo);
    });

    $('input[type="checkbox"][name = "category-check-mobile"]').click(function(event) {
      $('input[type="checkbox"][name = "category-check-mobile"]').prop('checked',false);
      $(this).prop('checked', !$(this).prop('checked'));
      linktogo = $(this).attr('href');
      });
    
     $("#checkall.orientation-check").change(function () {
      if($("#checkall.orientation-check").is(':checked')){
        allcheck();
        localStorage.setItem("orientation","all");
      }
      });
      $("#checkportrait.orientation-check").change(function () {
      if($("#checkportrait.orientation-check").is(':checked')){
        portraitcheck();
        localStorage.setItem("orientation","portrait");
      }
      });
      $("#checklandscape.orientation-check").change(function () {
      if($("#checklandscape.orientation-check").is(':checked')){
        landscapecheck();
        localStorage.setItem("orientation","landscape");
      }
      });

      $("#checkallmobile.orientation-check").change(function () {
      if($("#checkallmobile.orientation-check").is(':checked')){
        mobileallcheck();
        localStorage.setItem("orientation","all");
      }
      });
      $("#checkportraitmobile.orientation-check").change(function () {
      if($("#checkportraitmobile.orientation-check").is(':checked')){
        mobileportraitcheck();
        localStorage.setItem("orientation","portrait");
      }
      });
      $("#checklandscapemobile.orientation-check").change(function () {
      if($("#checklandscapemobile.orientation-check").is(':checked')){
        mobilelandscapecheck();
        localStorage.setItem("orientation","landscape");
      }
      });

    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
      $('.CollectionInner').css({"margin-top": "50px"});
  
      $("#dropdown_flow_button").click(function () {
      $("#dropdown_flow_button").click(function () {
        if($('.dropdown_flow').css('display') == 'block')
        {
          $('.dropdown_flow').css({"display": "none"});
          $('.CollectionInner').css({"margin-top": "20px"});
        }
        else {
          $('.dropdown_flow').css({"display": "block"});
          $('.CollectionInner').css({"margin-top": "50px"});
        }
      });
    });
  }
  });
  </script>

{%- if section.settings.show_layout_switch -%}
  {%- assign desktop_items_per_row = cart.attributes.collection_desktop_items_per_row | default: section.settings.grid_desktop_items_per_row | times: 1 -%}
  {%- assign mobile_items_per_row  = cart.attributes.collection_mobile_items_per_row | default: section.settings.grid_mobile_items_per_row | times: 1 -%}

  {%- if desktop_items_per_row >= 3 and desktop_items_per_row != section.settings.grid_desktop_items_per_row -%}
    {%- assign desktop_items_per_row = section.settings.grid_desktop_items_per_row -%}
  {%- endif -%}
{%- else -%}
  {%- assign desktop_items_per_row = section.settings.grid_desktop_items_per_row | times: 1 -%}
  {%- assign mobile_items_per_row  = section.settings.grid_mobile_items_per_row | times: 1 -%}
{%- endif -%}

{%- if desktop_items_per_row == 4 -%}
  {%- assign tablet_items_per_row = 3 -%}
{%- else -%}
  {%- assign tablet_items_per_row = 2 -%}
{%- endif -%}

{%- capture collection_inner -%}
  {%- comment -%}This is the common part to both template{%- endcomment -%}
  {%- if collection.products_count > 0 -%}

    {% assign horizontal_counter = 0 %}
    {% assign vertical_counter = 0 %}
  
    {%- for product in collection.products -%}
{% if product.type=='giftbox_ghost_product' %}{%continue%}{%endif%}
{% if product.type=='giftbox_ghost_product' %}{%continue%}{%endif%}
      {%- if product.tags contains "Horizonal"-%}
        {% assign horizontal_counter = horizontal_counter | plus: 1 %}      
      {%- elsif product.tags contains "Vertical"-%}
        {% assign vertical_counter = vertical_counter | plus: 1 %}
      {%- endif -%}
    {%- endfor -%}

  {%- assign mycollection =  collection.products -%}
    
  <script>
    console.log('the numbers are');
    console.log({{horizontal_counter}});
    console.log({{vertical_counter}});
  </script>  
  <div id="paginateAll">
    {%- paginate collection.products by section.settings.grid_items_per_page -%}
      <div class="ProductListWrapper">
        <div class="ProductList ProductList--grid {% if paginate.pages > 1 %}ProductList--removeMargin{% endif %} Grid" data-mobile-count="{{ mobile_items_per_row }}" data-desktop-count="{{ desktop_items_per_row }}">
          {%- for product in collection.products -%}
{% if product.type=='giftbox_ghost_product' %}{%continue%}{%endif%}
{% if product.type=='giftbox_ghost_product' %}{%continue%}{%endif%}
            <div class="Grid__Cell 1/{{ mobile_items_per_row }}--phone 1/{{ tablet_items_per_row }}--tablet-and-up 1/{{ desktop_items_per_row }}--{% if section.settings.filter_position == 'drawer' %}lap-and-up{% else %}desk{% endif %}">
              {%- include 'product-item', show_product_info: true, show_vendor: section.settings.show_vendor, show_color_swatch: section.settings.show_color_swatch, show_labels: true -%}
            </div>
          {%- endfor -%}
        </div>
      </div>
      {%- include 'pagination' -%}
    {%- endpaginate -%}
  </div>

  <div id="paginateVertical" style="display: none;">
    {%- paginate collection.products by section.settings.grid_items_per_page -%}
      <div class="ProductListWrapper">
        <div class="ProductList ProductList--grid {% if paginate.pages > 1 %}ProductList--removeMargin{% endif %} Grid" data-mobile-count="{{ mobile_items_per_row }}" data-desktop-count="{{ desktop_items_per_row }}">
          {%- for product in collection.products -%}
{% if product.type=='giftbox_ghost_product' %}{%continue%}{%endif%}
{% if product.type=='giftbox_ghost_product' %}{%continue%}{%endif%}
          {%- if product.tags contains "Vertical"-%}
            <div class="Grid__Cell 1/{{ mobile_items_per_row }}--phone 1/{{ tablet_items_per_row }}--tablet-and-up 1/{{ desktop_items_per_row }}--{% if section.settings.filter_position == 'drawer' %}lap-and-up{% else %}desk{% endif %}">
                {%- include 'product-item', show_product_info: true, show_vendor: section.settings.show_vendor, show_color_swatch: section.settings.show_color_swatch, show_labels: true -%}
              </div>
          {%- endif -%}  
          {%- endfor -%}
        </div>
      </div>
      {%- include 'pagination' -%}
    {%- endpaginate -%}
  </div>

  <div id="paginateHorizontal" style="display: none;">
    {%- paginate collection.products by section.settings.grid_items_per_page  -%}
      <div class="ProductListWrapper">
        <div class="ProductList ProductList--grid {% if paginate.pages > 1 %}ProductList--removeMargin{% endif %} Grid" data-mobile-count="{{ mobile_items_per_row }}" data-desktop-count="{{ desktop_items_per_row }}">
          {%- for product in collection.products -%}
{% if product.type=='giftbox_ghost_product' %}{%continue%}{%endif%}
{% if product.type=='giftbox_ghost_product' %}{%continue%}{%endif%}
          {%- if product.tags contains "Horizonal"-%}
            <div class="Grid__Cell 1/{{ mobile_items_per_row }}--phone 1/{{ tablet_items_per_row }}--tablet-and-up 1/{{ desktop_items_per_row }}--{% if section.settings.filter_position == 'drawer' %}lap-and-up{% else %}desk{% endif %}">
                {%- include 'product-item', show_product_info: true, show_vendor: section.settings.show_vendor, show_color_swatch: section.settings.show_color_swatch, show_labels: true -%}
              </div>
          {%- endif -%}  
          {%- endfor -%}
        </div>
      </div>
      {%- include 'pagination' -%}
    {%- endpaginate -%}
  </div>

  {%- else -%}
    <div class="EmptyState">
      <div class="Container">
        <h1 class="EmptyState__Title Heading u-h5">{{ 'collection.general.no_products' | t }}</h1>
        <button class="EmptyState__Action Button Button--primary" data-action="reset-tags">{{ 'collection.general.reset' | t }}</button>
      </div>
    </div>
  {%- endif -%}
{%- endcapture -%}

{%- if template == 'collection.ajax' -%}
  {%- comment -%}
  --------------------------------------------------------------------------------------------------------------------
  CONTENT FOR AJAX ALTERNATE TEMPLATE
  --------------------------------------------------------------------------------------------------------------------
  {%- endcomment -%}

  {%- layout none -%}
  {{- collection_inner -}}

{%- else -%}
  {%- comment -%}
  --------------------------------------------------------------------------------------------------------------------
  CONTENT FOR NORMAL TEMPLATE
  --------------------------------------------------------------------------------------------------------------------
  {%- endcomment -%}

  {%- assign active_tags = '' -%}

  {%- for tag in current_tags -%}
    {%- assign tag_as_handle = tag | replace: '&#39;', '' | replace: '&#34;', '' | handle -%}
    {%- assign active_tags = active_tags | append: tag_as_handle -%}

    {%- unless forloop.last -%}
      {%- assign active_tags = active_tags | append: '+' -%}
    {%- endunless -%}
  {%- endfor -%}

  {%- capture section_settings -%}
  {
    "collectionUrl": {{ collection.url | default: '/collections/all' | json }},
    "currentTags": {% if active_tags != blank %}{{ active_tags | split: '+' | json }}{% else %}[]{% endif %},
    "sortBy": {{ collection.sort_by | default: collection.default_sort_by | json }},
    "filterPosition": {{ section.settings.filter_position | json }}
  }
  {%- endcapture -%}

  <section data-section-id="{{ section.id }}" data-section-type="collection" data-section-settings='{{ section_settings }}'>
    {%- comment -%}
    --------------------------------------------------------------------------------------------------------------------
    COLLECTION INFO
    --------------------------------------------------------------------------------------------------------------------
    {%- endcomment -%}
    <style>
      .collection-page-header{
        margin-top: 0px;
      }
      .collection-page-header-container{
        background-color: #f3f3f3;
        flex-wrap: wrap;
      }
      .collection-page-header-content-title{
        color: black;
        text-align: center;
        font-size: 28px;
        margin-top: 10px;
      }
      .collection-page-header-content-text{
        color: black;
      }
      .collection-page-header-image{
        padding: 0;
        width: 100%;
        margin: 0;
        height: 240px;
      }
      .collection-page-header-image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .readmore{
        width: 100%;
        text-align: center;
        font-family: 'Adobe Caslon Pro';
        font-style: italic;
        text-decoration: underline;
        margin-top: 30px;
        margin-bottom: 20px;
        text-underline-offset: 5px;
      }
      .collection-page-header-content-text{
          display: -webkit-box;
          -webkit-line-clamp: 6;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
      }
      @media only screen and (min-width: 641px){
        .collection-page-header-content-container{
          width: 60%;
          padding: 4% 7%;
        }
        .collection-page-header-content-title{
          font-size: 40px;
          margin-top: 0px;
        }
        .collection-page-header-content-text{
          -webkit-line-clamp: 4;
        }
        .collection-page-header-image{
          height: auto;
        }
      }
    </style>

    {%- if section.settings.show_collection_info and collection.all_products_count > 0 -%}
      {%- if section.settings.show_collection_image and collection.image and collection.template_suffix != 'no-image' -%}
        <header class="PageHeader collection-page-header" >
        {% comment %} customised header for collections with an image {% endcomment %}
          <div class="collection-page-header-container">
            <div class="collection-page-header-image">
              <img  src="{{ collection.image | img_url: '2000x' }}" />
            </div>
            <div class="collection-page-header-content-container">
                <span class="collection-page-header-content-title">{{ collection.title }}</span>  
                <span class="collection-page-header-content-text">{{- collection.description -}}</span>
                <span class="readmore" style="display: none;">Read More</span>
            </div>
          </div>
        {% comment %} customised header for collections with an image {% endcomment %}
          <noscript>
            <div class="PageHeader__ImageWrapper {% if section.settings.apply_overlay %}Image--contrast{% endif %}" style="background-image: url({{ collection.image | img_url: '800x' }})"></div>
          </noscript>
        </header>
      {%- else -%}
        <header class="PageHeader">
          <div class="Container">
            <div class="SectionHeader SectionHeader--center">
              <h1 class="SectionHeader__Heading Heading u-h1 all_art_heading">{{ collection.title }}</h1>

              {%- if collection.description != blank -%}
                <div class="SectionHeader__Description Rte description-in-caslon">
                  {{- collection.description -}}
                </div>
              {%- endif -%}
            </div>
          </div>
        </header>
      {%- endif -%}
    {%- endif -%}

    {%- comment -%}
    --------------------------------------------------------------------------------------------------------------------
    COLLECTION TOOLBAR
    --------------------------------------------------------------------------------------------------------------------
    {%- endcomment -%}

    {%- if collection.all_products_count > 0 -%}
      {%- comment -%}
      In order to provide more predictable results (for instance not showing filters by tag even if the option is checked in settings,
      but that there are no tags for the given collection to show), we are doing some more logic here. Basically, we try to check if there
      are tags to show by stripping internal tags (those that start by "__")
      {%- endcomment -%}

      {%- assign has_visible_tags = false -%}

      {%- case section.settings.filter_mode -%}
        {%- when 'tag' -%}
          {%- for tag in collection.all_tags -%}
            {%- unless tag contains '__' -%}
              {%- assign has_visible_tags = true -%}
              {%- break -%}
            {%- endunless -%}
          {%- endfor -%}

        {%- when 'group' -%}
          {%- for tag in collection.all_tags -%}
            {%- assign tag_parts = tag | split: '_' -%}

            {%- if tag_parts.size == 2 -%}
              {%- assign has_visible_tags = true -%}
            {%- endif -%}
          {%- endfor -%}
      {%- endcase -%}

      {%- assign show_filters = false -%}
      {%- assign quick_links = linklists[section.settings.filter_menu] -%}

      {%- if quick_links != blank or has_visible_tags -%}
        {%- assign show_filters = true -%}
      {%- endif -%}

      {%- capture collection_toolbar -%}
        {%- if show_filters or section.settings.show_sort_by or section.settings.show_layout_switch -%}
          <div class="CollectionToolbar CollectionToolbar--{{ section.settings.toolbar_position }} {% unless section.settings.show_layout_switch and show_filters == false and section.settings.show_sort_by == false %}CollectionToolbar--reverse{% endunless %}">
            {%- if show_filters or section.settings.show_sort_by -%}
              <div class="CollectionToolbar__Group">
                {%- if show_filters -%}
                  <button class="CollectionToolbar__Item CollectionToolbar__Item--filter filter-heading {% unless current_tags %}Text--subdued{% endunless %} u-h6 {% if section.settings.filter_position != 'drawer' %}hidden-lap-and-up{% endif %}"
                          data-action="open-drawer"
                          data-drawer-id="collection-filter-drawer"
                          aria-label="{{ 'collection.filter.show_filter' | t }}">
                          <img src="{{ 'filter.png' |  asset_url }}" class="filter-icon">
                    {{ 'collection.filter.title' | t }} {% if current_tags %}<span class="Text--subdued">({{ current_tags.size }})</span>{% endif %}
                  </button>
                  <div class="dropdown_flow hidden-phone">
                    <ul class="Linklist">
                      {%- for link in quick_links.links -%}
                        <li class="Linklist__Item {% if link.active %}is-selected{% endif %}">
                          <a href="{{ link.url }}" class="Link Link--primary Text--subdued {% if link.active %}is-active{% endif %}">{{ link.title | escape }}</a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                {%- endif -%}

                {%- if section.settings.show_sort_by -%}
                  <button class="CollectionToolbar__Item CollectionToolbar__Item--sort Heading Text--subdued u-h6"
                          aria-label="{{ 'collection.sorting.show_sort' | t }}"
                          aria-haspopup="true"
                          aria-expanded="false"
                          aria-controls="collection-sort-popover">
                    {{ 'collection.sorting.title' | t }} {% include 'icon' with 'select-arrow' %}
                  </button>
                {%- endif -%}
              </div>
            {%- endif -%}

            {%- if section.settings.show_layout_switch -%}
              <div class="CollectionToolbar__Item CollectionToolbar__Item--layout hidden-pocket">
                <div class="CollectionToolbar__LayoutSwitch hidden-tablet-and-up">
                  <button aria-label="{{ 'collection.layout.show_one_per_row' | t }}" class="CollectionToolbar__LayoutType {% if mobile_items_per_row == 1 %}is-active{% endif %}" data-action="change-layout-mode" data-grid-type="mobile" data-count="1">{% include 'icon' with 'wall-1' %}</button>
                  <button aria-label="{{ 'collection.layout.show_two_per_row' | t }}" class="CollectionToolbar__LayoutType {% if mobile_items_per_row == 2 %}is-active{% endif %}" data-action="change-layout-mode" data-grid-type="mobile" data-count="2">{% include 'icon' with 'wall-2' %}</button>
                </div>

                <div class="CollectionToolbar__LayoutSwitch hidden-phone">
                  <button aria-label="{{ 'collection.layout.show_two_per_row' | t }}" class="CollectionToolbar__LayoutType {% if desktop_items_per_row == 2 %}is-active{% endif %}" data-action="change-layout-mode" data-grid-type="desktop" data-count="2">{% include 'icon' with 'wall-2' %}</button>
                  <button aria-label="{{ 'collection.layout.show_four_per_row' | t }}" class="CollectionToolbar__LayoutType {% if desktop_items_per_row >= 3 %}is-active{% endif %}" data-action="change-layout-mode" data-grid-type="desktop" data-count="{{ section.settings.grid_desktop_items_per_row }}">{% include 'icon' with 'wall-4' %}</button>
                </div>
              </div>
            {%- endif -%}
          </div>
        {%- endif -%}
      {%- endcapture -%}

      {%- comment -%}
      --------------------------------------------------------------------------------------------------------------------
      FILTERS AND SORT BY POPOVER
      --------------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}

      {%- if show_filters -%}
        {%- comment -%}
        Implementation note: the filters can be displayed in two different ways: in a sidebar menu, always visible, or in a drawer. Due to that, we are
        setting the general code here, and then we will output it twice.
        {%- endcomment -%}

        {%- assign quick_links = linklists[section.settings.filter_menu] -%}

        {%- capture filters_content -%}
          {%- if section.settings.show_orientation_filter -%}
            <div class="Collapsible Collapsible--padded Collapsible--autoExpand">
              <button type="button" class="Collapsible__Button filter-heading u-h6" data-action="toggle-collapsible" aria-expanded="false">
                ORIENTATION <span class="Collapsible__Plus"></span>
              </button>

              <div class="Collapsible__Inner">
                <div class="Collapsible__Content">
                  <ul class="Linklist">
                      <li class="Linklist__Item">
                        <input type="checkbox" id="checkall" class="orientation-check" checked="true">
                        <label for="checkall"> 
                          <a class="Link Link--primary description-in-caslon">All</a>
                        </label>
                      </li>
                      <li class="Linklist__Item">
                        <input type="checkbox" id="checkportrait" class="orientation-check">
                        <label for="checkportrait"> 
                          <a class="Link Link--primary description-in-caslon">Portrait</a>
                        </label>
                      </li>
                      <li class="Linklist__Item">
                        <input type="checkbox" id="checklandscape" class="orientation-check">
                        <label for="checklandscape"> 
                          <a class="Link Link--primary description-in-caslon">Landscape</a>
                        </label>
                      </li>
                  </ul>
                </div>
              </div>
            </div>
          {%- endif -%}
          
          <div style="height: 1px;background-color: lightgray; margin-bottom: 32px;"></div>

          {%- if quick_links != empty -%}
            <div class="Collapsible Collapsible--padded Collapsible--autoExpand">
              <button type="button" class="Collapsible__Button filter-heading u-h6" data-action="toggle-collapsible" aria-expanded="false">
                {{- quick_links.title | escape -}} <span class="Collapsible__Plus"></span>
              </button>

              <div class="Collapsible__Inner">
                <div class="Collapsible__Content">
                  <ul class="Linklist">
                    {%- for link in quick_links.links -%}
                      <li class="Linklist__Item">
                        <input type="checkbox" onclick='window.location.assign("{{ link.url }}")' name="category-check" class="orientation-check" {% if link.active %}checked="true"{% endif %}>
                        <label> 
                          <a class="Link Link--primary description-in-caslon">{{ link.title | escape }}</a>
                        </label>
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
              </div>
            </div>
          {%- endif -%}

          {%- if has_visible_tags -%}
            {%- if section.settings.filter_mode == 'tag' -%}
              <div class="Collapsible Collapsible--padded Collapsible--autoExpand">
                <button type="button" class="Collapsible__Button Heading u-h6" data-action="toggle-collapsible" aria-expanded="false">
                  {{- 'collection.filter.all' | t -}} <span class="Collapsible__Plus"></span>
                </button>

                <div class="Collapsible__Inner">
                  <div class="Collapsible__Content">
                    <ul class="Linklist">
                      {%- for tag in collection.all_tags -%}
                        {%- if tag contains '__' -%}
                          {%- continue -%}
                        {%- endif -%}

                        <li class="Linklist__Item">
                          <button type="button" class="Link Link--primary Text--subdued {% if current_tags contains tag %}is-active{% endif %}" data-tag="{{ tag | handle }}" data-action="toggle-tag">
                            {{- tag -}}
                          </button>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                </div>
              </div>
            {%- else -%}
              {%- assign groups = '' -%}

              {%- for tag in collection.all_tags -%}
                {%- assign tag_parts = tag | split: '_' -%}

                {%- if tag_parts.size != 2 -%}
                  {%- continue -%}
                {%- endif -%}

                {%- assign groups = groups | append: tag_parts.first | append: ',' -%}
              {% endfor %}

              {%- assign color_label = 'color,colour,couleur,colore,farbe,색,色,färg,farve' | split: ',' -%}
              {%- assign groups = groups | split: ',' | compact | uniq -%}

              {%- for group in groups -%}
                {%- assign group_downcase = group | downcase -%}

                {%- if color_label contains group_downcase and section.settings.show_filter_color_swatch -%}
                  {%- assign show_color_swatch = true -%}
                {%- else -%}
                  {%- assign show_color_swatch = false -%}
                {%- endif -%}

                <div class="Collapsible Collapsible--padded Collapsible--autoExpand">
                  <button type="button" class="Collapsible__Button Heading u-h6" data-action="toggle-collapsible" aria-expanded="false">
                    {{- group | escape -}} <span class="Collapsible__Plus"></span>
                  </button>

                  <div class="Collapsible__Inner">
                    <div class="Collapsible__Content">
                      <ul class="{% if show_color_swatch %}ColorSwatchList HorizontalList HorizontalList--spacingTight{% else %}Linklist{% endif %}">
                        {%- for tag in collection.all_tags -%}
                          {%- assign tag_parts = tag | split: '_' -%}

                          {%- if tag_parts.size != 2 or tag_parts.first != group -%}
                            {%- continue -%}
                          {%- endif -%}

                          {%- if show_color_swatch -%}
                            <li class="HorizontalList__Item">
                              {%- assign color_swatch_name = tag_parts.last | handle | append: '.png' -%}
                              {%- assign color_swatch_image = images[color_swatch_name] -%}

                              <button type="button" class="ColorSwatch {% if current_tags contains tag %}is-active{% endif %}" data-tag="{{ tag | handle }}" data-action="toggle-tag" data-tooltip="{{ tag_parts.last | escape }}" style="background-color: {{ tag_parts.last | replace: ' ', '' | downcase }}; {% if color_swatch_image != blank %}background-image: url({{ color_swatch_image | img_url: '64x64' }}){% endif %}">
                                <span class="u-visually-hidden">{{ tag_parts.last }}</span>
                              </button>
                            </li>
                          {%- else -%}
                            <li class="Linklist__Item {% if current_tags contains tag %}is-selected{% endif %}">
                              <button type="button" class="Text--subdued Link Link--primary {% if current_tags contains tag %}is-active{% endif %}" data-tag="{{ tag | handle }}" data-action="toggle-tag">
                                {{- tag_parts.last -}}
                              </button>
                            </li>
                          {%- endif -%}
                        {%- endfor -%}
                      </ul>
                    </div>
                  </div>
                </div>
              {%- endfor -%}
            {%- endif -%}
          {%- endif -%}
        {%- endcapture -%}

        {%- capture filters_mobile_content -%}
          {%- if section.settings.show_orientation_filter -%}
          <div class="drawer-cont">
            
            <div class="drawer-close-button">
              <button class="Icon-Wrapper--clickable" data-action="close-drawer" data-drawer-id="collection-filter-drawer" aria-label="{{ 'header.navigation.close_sidebar' | t }}">
                {%- include 'icon' with 'close' -%}
              </button>
            </div>
            
            
            <div class="filter-heading u-h1">
              {{ 'collection.filter.all' | t }}
            </div>
            
            
            <div class="mobile-drawer-heading">
              <div class="filter-heading u-h8">
                ORIENTATION
              </div>
            </div>
            
            
            <table class="mobile-drawer-table">
              <tr class="mobile-drawer-tr">
                <td class="mobile-drawer-td">
                  <div class="mobile-drawer-td-content">
                    <input type="checkbox" id="checkallmobile" class="orientation-check" checked="true">
                    <label for="checkallmobile" class="mobile-drawer-label"> 
                      <a class="Link Link--primary description-in-caslon">All</a>
                    </label>
                  </div>
                </td>
                <td class="mobile-drawer-td">
                  <div class="mobile-drawer-td-content">
                    <input type="checkbox" id="checklandscapemobile" class="orientation-check">
                    <label for="checklandscapemobile" class="mobile-drawer-label"> 
                      <a class="Link Link--primary description-in-caslon">Landscape</a>
                    </label>
                  </div>
                </td>
              </tr>
              <tr class="mobile-drawer-tr">
                <td class="mobile-drawer-td">
                  <div class="mobile-drawer-td-content">
                    <input type="checkbox" id="checkportraitmobile" class="orientation-check">
                    <label for="checkportraitmobile" class="mobile-drawer-label"> 
                      <a class="Link Link--primary description-in-caslon">Portrait</a>
                    </label>
                  </div>
                </td>
              </tr>
            </table>
            
            {%- if quick_links != empty -%}
            <div class="mobile-drawer-line"></div>
            
            <div class="mobile-drawer-heading">
              <div class="filter-heading u-h8">
                {{- quick_links.title | escape -}}
              </div>
            </div>
            
            <table class="mobile-drawer-table">
              {% assign rows = quick_links.links.size | divided_by: 2.0 | ceil %}  
              {% for i in (1..rows) %}
              {% assign offset = forloop.index0 | times: 2 %}
              <tr class="mobile-drawer-tr">
                {%- for link in quick_links.links limit:2 offset:offset -%}
                <td class="mobile-drawer-td">
                  <div class="mobile-drawer-td-content">
                    <input type="checkbox" href="{{ link.url }}" name="category-check-mobile" class="orientation-check" {% if link.active %}checked="true"{% endif %}>
                    <label class="mobile-drawer-label"> 
                      <a class="Link Link--primary description-in-caslon">{{ link.title | escape }}</a>
                    </label>
                  </div>
                </td>
                {%- endfor -%}
              </tr>
              {%- endfor -%}
            </table>
            
            {%- endif -%}
          
            <div class="mobile-drawer-button">
              <button type="submit" id="mobile-show-results" class="button ProductForm__AddToCart Button Button--full" style="background-color: #163bbc;">
                <span style="font-size: 14px;">SHOW RESULTS</span>
                </button>
              </div>
              <br>
              <div id="mobile-reset-filters" class="description-in-caslon mobile-drawer-resettext">
                Reset All Filters
              </div>
          </div>
          {%- endif -%}
        {%- endcapture -%}  

        <div id="collection-filter-drawer" class="CollectionFilters Drawer Drawer--fromRight " aria-hidden="true">
          {{ filters_mobile_content }}
          <!-- <header class="Drawer__Header Drawer__Header--bordered Drawer__Header--center Drawer__Container">
            <span class="filter-heading u-h4">{{ 'collection.filter.all' | t }}</span>

            <button class="Drawer__Close Icon-Wrapper--clickable" data-action="close-drawer" data-drawer-id="collection-filter-drawer" aria-label="{{ 'header.navigation.close_sidebar' | t }}">
              {%- include 'icon' with 'close' -%}
            </button>
          </header>

          <div class="Drawer__Content">
            <div class="Drawer__Main" data-scrollable>
              {{ filters_content }}
            </div>

            <div class="Drawer__Footer Drawer__Footer--padded" data-drawer-animated-bottom>
              <div class="ButtonGroup">
                <button type="button" class="ButtonGroup__Item Button Button--secondary" data-action="reset-tags" {% if current_tags == blank %}style="display: none"{% endif %}>{{ 'collection.filter.reset' | t }}</button>
                <button type="button" class="ButtonGroup__Item ButtonGroup__Item--expand Button Button--primary" data-action="apply-tags">{{ 'collection.filter.apply' | t }}</button>
              </div>
            </div>
          </div> -->
        </div>
      {%- endif -%}

      {%- if section.settings.show_sort_by -%}
        <div id="collection-sort-popover" class="Popover" aria-hidden="true">
          <header class="Popover__Header">
            <button class="Popover__Close Icon-Wrapper--clickable" data-action="close-popover">{% include 'icon' with 'close' %}</button>
            <span class="Popover__Title Heading u-h4">{{ 'collection.sorting.title' | t }}</span>
          </header>

          <div class="Popover__Content">
            <div class="Popover__ValueList" data-scrollable>
              {% assign collection_sort_by = collection.sort_by | default: collection.default_sort_by %}

              {%- for option in collection.sort_options -%}
                <button class="Popover__Value {% if option.value == collection_sort_by %}is-selected{% endif %} Heading Link Link--primary u-h6" data-value="{{ option.value }}" data-action="select-value">
                  {{ option.name }}
                </button>
              {%- endfor -%}
            </div>
          </div>
        </div>
      {%- endif -%}

      {%- comment -%}
      --------------------------------------------------------------------------------------------------------------------
      COLLECTION PRODUCTS
      --------------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}

      <div class="CollectionMain">
        {%- if section.settings.toolbar_position == 'top' -%}
          {{- collection_toolbar -}}
        {%- endif -%}

        <div class="CollectionInner">
          {%- if show_filters and section.settings.filter_position == 'sidebar' -%}
            <div class="CollectionInner__Sidebar {% if collection_toolbar != blank and section.settings.toolbar_position == 'top' %}CollectionInner__Sidebar--withTopToolbar{% endif %} hidden-pocket">
              <div class="CollectionFilters">
                {{ filters_content }}

                <button type="button" class="Button Button--secondary" data-action="reset-tags" {% if current_tags == blank %}style="display: none"{% endif %}>{{ 'collection.filter.reset' | t }}</button>
              </div>
            </div>
          {%- endif -%}

          <div class="CollectionInner__Products">
            {{ collection_inner }}
          </div>
        </div>

        {%- if section.settings.toolbar_position == 'bottom' -%}
          {{- collection_toolbar -}}
        {%- endif -%}
      </div>
    {%- else -%}
      <div class="EmptyState">
        <div class="Container">
          <h3 class="EmptyState__Title Heading u-h5">{{ 'collection.general.empty' | t: collection_title: collection.title }}</h3>
          <a href="{{ shop.url }}" class="EmptyState__Action Button Button--primary">{{ 'collection.general.empty_button' | t }}</a>
        </div>
      </div>
    {%- endif -%}
  </section>
{%- endif -%}

{%- capture hack -%}
{%- comment -%}This is just an ugly hack to make those variables appear as part of the theme editor in the General Settings{%- endcomment -%}
{{ settings.product_list_horizontal_spacing }},{{ settings.product_list_vertical_spacing }}
{%- endcapture -%}

{% schema %}
{
  "name": "Collection page",
  "class": "shopify-section--bordered",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_collection_info",
      "label": "Show collection info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "label": "Show collection image",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "apply_overlay",
      "label": "Apply overlay on image",
      "info": "This can improve text visibility.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_color_swatch",
      "label": "Show color swatch",
      "info": "Some colors appear white? [Learn more](http://support.maestrooo.com/article/80-product-uploading-custom-color-for-color-swatch).",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show vendor",
      "default": false
    },
    {
      "type": "select",
      "id": "collection_image_size",
      "label": "Collection image size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "normal"
    },
    {
      "type": "header",
      "content": "Toolbar"
    },
    {
      "type": "checkbox",
      "id": "show_sort_by",
      "label": "Show sort by",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_layout_switch",
      "label": "Show layout switch"
    },
    {
      "type": "checkbox",
      "id": "show_orientation_filter",
      "label": "Show orientation filter",
      "default": true
    },
    {
      "type": "select",
      "id": "toolbar_position",
      "label": "Position",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "top"
    },
    {
      "type": "header",
      "content": "Filters"
    },
    {
      "type": "select",
      "id": "filter_position",
      "label": "Desktop position",
      "options": [
        {
          "value": "sidebar",
          "label": "Sidebar"
        },
        {
          "value": "drawer",
          "label": "Drawer"
        }
      ],
      "default": "sidebar"
    },
    {
      "type": "select",
      "id": "filter_mode",
      "label": "Mode",
      "info": "Filters by group requires specific tag formatting. [Learn more](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific)",
      "options": [
        {
          "value": "hidden",
          "label": "Hidden"
        },
        {
          "value": "tag",
          "label": "By tag"
        },
        {
          "value": "group",
          "label": "By group"
        }
      ],
      "default": "tag"
    },
    {
      "type": "checkbox",
      "id": "show_filter_color_swatch",
      "label": "Show filter color swatch",
      "info": "This is only used if filters by group is enabled.",
      "default": true
    },
    {
      "type": "link_list",
      "id": "filter_menu",
      "label": "Quick links",
      "info": "This menu won't show dropdown items."
    },
    {
      "type": "header",
      "content": "Grid"
    },
    {
      "type": "range",
      "id": "grid_items_per_page",
      "label": "Products per page",
      "min": 4,
      "max": 48,
      "step": 4,
      "default": 16
    },
    {
      "type": "select",
      "id": "grid_mobile_items_per_row",
      "label": "Products per row (mobile)",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "2"
    },
    {
      "type": "range",
      "min": 2,
      "max": 4,
      "id": "grid_desktop_items_per_row",
      "label": "Products per row (desktop)",
      "default": 4
    }
  ]
}
{% endschema %}

<script>
  var textbox = $('.collection-page-header-content-text');
  var readmore = $('.readmore');
  var height = textbox.prop('scrollHeight');
  
  if (height > 100) {
    readmore.css("display", "inline-block")
  }

  readmore.click(function(){
    readmore.css("display", "none");
    textbox.css("display", "block");
  });
</script>