<section class="Section" id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="front-page-section">
    <div class="front-page-section-container" style="background-color: {{ section.settings.bg_color }}; color: {{ section.settings.text_color }};">
      <div class="front-page-section-image">
        <img  alt="{{ section.settings.image.alt | escape }}" src="{{ section.settings.image | img_url: '2000x' }}" />
      </div>
        {%- if section.settings.title != blank or section.settings.content != blank or section.settings.button_label != blank -%}
          <div class="front-page-section-content-container">
              {%- if section.settings.title != blank -%}
                <span class="front-page-section-content-title">{{ section.settings.title }}</span>
              {%- endif -%}
  
              {%- if section.settings.content != blank -%}
                <span class="front-page-section-content-text">{{ section.settings.content }}</span>
              {%- endif -%}
  
              {%- if section.settings.button_label != blank -%}
                <a class="front-page-section-content-button" href="{{ section.settings.button_link }}" >{{ section.settings.button_label | escape }}</a>
              {%- endif -%}
          </div>
        {%- endif -%}
    </div>
  </section>
  
  
  {% schema %}
  {
    "name": "Front Page Section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "1500 x 800px .jpg recommended"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "QUINN MATHEWS FOR WWF"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Text",
        "default": "<p>Featuring the world's most recognized suffers in the world.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color"
      }
    ],
    "presets": [
      {
        "name": "Front Page Section",
        "settings": {}
      }
    ]
  }
  {% endschema %}