<script language="JavaScript">
(function(i,s,o,g,r,a,m){i['TDConversionObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script', 'https://svht.tradedoubler.com/tr_sdk.js?org=2342125&prog=336179&dr=true&rand=' + Math.random(), 'tdconv');
</script>   
 
{%- comment -%}
In Prestige, the header is quite complex due to the very high number of possible combinations. If you have to edit it, please
make sure to duplicate the theme first so you can revert your changes in case any issue is introduced.
{%- endcomment -%}

{%- comment -%}
--------------------------------------------------------------------------------------------------------------------
USEFUL VARIABLES
--------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}
 
{%- assign use_transparent_header = false -%}

{%- if template == 'index' and section.settings.enable_transparent_header -%}
  {%- assign use_transparent_header = true -%}
{%- endif -%}

{%- if template.name == 'collection' and section.settings.enable_transparent_header_collection and collection.image and collection.all_products_count > 0 and collection.template_suffix != 'no-image' -%}
  {%- assign use_transparent_header = true -%}
{%- endif -%}

{%- if section.settings.navigation_style != 'sidebar' -%}
  {%- assign use_sidebar_menu = false -%}
{%- else -%}
  {%- assign use_sidebar_menu = true -%}
{%- endif -%}

{%- comment -%}
--------------------------------------------------------------------------------------------------------------------
CURRENCY CONVERTER

The theme currency converter is used in lot of different places so to simply the code it's outputted here once
--------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}
<div id="navbar" class="mobile-logo-main">
  <a href="/"><img class="Header__LogoImage Header__LogoImage--primary"
  src="{{ section.settings.mobile_logo | img_url: image_size }}"
  srcset="{{ section.settings.mobile_logo | img_url: image_size }} 1x, {{ section.settings.mobile_logo | img_url: image_size, scale: 2 }} 2x"
  width="{{ section.settings.mobile_logo_max_width }}"
  alt="{{ section.settings.mobile_logo.alt | default: shop.name | escape }}"></a>
</div>
{%- if settings.currency_conversion_enabled -%}
  {%- capture currency_conversion_select -%}
    <div class="Header__CurrencySelector Text--subdued Heading Link Link--primary u-h8 hidden-pocket hidden-lap">
      <div class="Select Select--transparent">
        <span>
          <img src="https://cdn.shopify.com/s/files/1/0082/5619/2602/files/{{ shop.currency }}.png" id="flags" >
        </span>

        <select class="CurrencySelector__Select u-h8" title="{{ 'header.navigation.currency_selector' | t | escape }}">
          {%- capture codes -%}USD,EUR,GBP,CAD,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,BWP,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ILS,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK{%- endcapture -%}
          {%- assign supported_codes = settings.currency_conversion_supported_currencies | remove_first: shop.currency | upcase | split: ' ' | uniq -%}

          <option value="{{ shop.currency }}" selected="selected">{{ shop.currency }}</option>

          {%- for code in supported_codes -%}
            {%- if codes contains code -%}
              <option value="{{ code }}">{{ code }}</option>
            {%- endif -%}
          {%- endfor -%}
        </select>
        {% comment %} {%- include 'icon' with 'select-arrow' -%} {% endcomment %}
      </div>
    </div>
  {%- endcapture -%}
{%- endif -%}

{%- comment -%}
--------------------------------------------------------------------------------------------------------------------
SEARCH FORM (implemented as a modal)

Implementation note: make sure that the Search div is always just before the Header element, as the CSS uses
                     this assumption
--------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

<div id="Search" class="Search" aria-hidden="true">
  <div class="Search__Inner">
    <div class="search_position">
    	<div class="Search__SearchBar">
        <form action="/search" name="GET" role="search" class="Search__Form">
          <div class="Search__InputIconWrapper">
            <span class="hidden-tablet-and-up">{%- include 'icon' with 'search' -%}</span>
            <span class="hidden-phone">{%- include 'icon' with 'search-desktop' -%}</span>
          </div>

          <input type="search"  id="searchbox" class="Search__Input Heading" name="q" autocomplete="off" autocorrect="off" autocapitalize="off" placeholder="Click here to search..." autofocus>
          <input type="hidden" name="type" value="product">
        </form>
        <button class="Search__Close Link Link--primary" data-action="close-search">{% include 'icon' with 'close' %}</button>
      </div>
    </div>

    <div class="Search__Results" aria-hidden="false">
      <div class="search_preload">
        <!--      tags -->
        <div class="tags-section">
          <div class="tags-section-holder">
            <h2 class="SectionHeader__Heading Heading u-h1 preload-headiing">POPULAR SEARCHES</h2>
            <div class="links-section">
              <div class="links-holder horizontal-scroll">
                {% for block in section.blocks %}
                  {% if block.type == 'tag' %}
                    <a href="{{ block.settings.url }}" class="Button Button--secondary Button--custom" style="background-color: {{ block.settings.filling_color}}; color: {{ block.settings.text_color}}; border-color: {{ block.settings.filling_color}};">{{ block.settings.label }}</a>
                    {% comment %} {% assign index = forloop.index | modulo:7 %}         
                    
                    {% if index == 1 %}
                    <div class="links-holder">
                    {% endif %}
                    
                    <a href="{{ block.settings.url }}" class="Button Button--secondary Button--custom" style="background-color: {{ block.settings.filling_color}}; color: {{ block.settings.text_color}}; border-color: {{ block.settings.filling_color}};">{{ block.settings.label }}</a>
                    
                    {% if index == 0 or forloop.last == true %}
                      </div>
                    {% endif %} {% endcomment %}
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
<!-- tags -->

<!--  carousal -->

            <div class="top_saerchCarousal">
              <div class="Container">
                {% for block in section.blocks %}
                    {% if block.type == 'top_search_banner' %}
                 {% if block.settings.label !=blank %}      <h2 class="SectionHeader__Heading Heading u-h1">{{ block.settings.label }}</h2> {% endif %}
                                 {% endif %}
                  {% endfor %}
                <div class="links-section">
                  {% for block in section.blocks %}
                    {% if block.type == 'top_search_banner' %}
                  {% assign index = forloop.index | modulo:7 %}
          
                    <a href="{{ block.settings.url }}" class="" style="background-color: {{ block.settings.filling_color}}; color: {{ block.settings.text_color}}; border-color: {{ block.settings.filling_color}};">
                      <img loading="lazy" src="{{ block.settings.banner | img_url:"master" }}"/>
                 
                    </a>
                    
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
        
<!--  carousal -->
<!--  carousal -->

            <div class="top_ourPicks">
              <div class="Container">
                      {% for block in section.blocks %}
                    {% if block.type == 'top_ourPicks' %}
                 {% if block.settings.label !=blank %}      <h2 class="SectionHeader__Heading Heading u-h1">{{ block.settings.label }}</h2> {% endif %}
                                 {% endif %}
                  {% endfor %}
                <div class="links-section">
                  {% for block in section.blocks %}
                    {% if block.type == 'top_ourPicks' %}
                  {% assign index = forloop.index | modulo:7 %}
          
                    <a href="{{ block.settings.url }}" class="" style="background-color: {{ block.settings.filling_color}}; color: {{ block.settings.text_color}}; border-color: {{ block.settings.filling_color}};">
                      <img loading="lazy" src="{{ block.settings.banner | img_url:"master" }}"/>
                  
                    </a>
                    
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
        
<!--  carousal -->
      </div>
      {%- if settings.search_mode != 'product' -%}
        <div class="PageLayout PageLayout--breakLap">
          <div class="PageLayout__Section"></div>
          <div class="PageLayout__Section PageLayout__Section--secondary"></div>
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
$('.mobile-search-icon a').click(function(){
  setTimeout(function(){
   $('.Search__Input').blur();
    },100);
});

  });
</script>
{%- comment -%}
--------------------------------------------------------------------------------------------------------------------
HEADER CONTENT
--------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

{%- capture section_settings -%}
{
  "navigationStyle": {{ section.settings.navigation_style | json }},
  "hasTransparentHeader": {% if use_transparent_header %}true{% else %}false{% endif %},
  "isSticky": {% if section.settings.use_sticky_header %}true{% else %}false{% endif %}
}
{%- endcapture -%}

{% style %}

.Header__FlexItem--Custom {
  display : flex !important ;
  justify-content : center;
  align-items : center;
  gap : 2px;
}

@media only screen and (max-width : 768px) {
  .Collapsible__Button--Custom {
     display : none !important;
  }

  .Header--Logo_Custom {
     display : flex !important;
}

.Header__Logo--Custom {
  display : flex;
  flex-grow : 10;
}

.search-cart_icon__mobile--Custom {
  display : flex !important;
}

.cart-search__Custom {
  display : none !important;
}

}
.hidden-phone__custom {
  display : inline-flex !important;
}

.Header--Logo_Custom {
   display : none;
   margin-top : auto;
   margin-left  :10px; 
}

{% endstyle %}

<header id="section-{{ section.id }}"
        class="Header Header--{{ section.settings.navigation_style }} {% if section.settings.navigation_style != 'inline' and section.settings.navigation_style != 'logoLeft' %}Header--initialized{% endif %} {% if use_transparent_header %}Header--transparent{% endif %} {% if section.settings.show_icons or section.settings.navigation_style == 'sidebar' %}Header--withIcons{% endif %}"
        data-section-id="{{ section.id }}"
        data-section-type="header"
        data-section-settings='{{ section_settings }}'
        role="banner">
  <div class="Header__Wrapper" style="display: none;">
  <div class="Header__Logo--Custom"><h1 class="Header--Logo_Custom"><a href="/" class="Header__LogoLink"><img class="Header__LogoImage Header__LogoImage--primary" src="//andyokay.com/cdn/shop/files/andyokay_long_black_140x.png?v=1661499587" srcset="//andyokay.com/cdn/shop/files/andyokay_long_black_140x.png?v=1661499587 1x, //andyokay.com/cdn/shop/files/andyokay_long_black_140x@2x.png?v=1661499587 2x" width="140" alt="Andy okay"><img class="Header__LogoImage Header__LogoImage--transparent" src="//andyokay.com/cdn/shop/files/andyokay_long_white_140x.png?v=1661499613" srcset="//andyokay.com/cdn/shop/files/andyokay_long_white_140x.png?v=1661499613 1x, //andyokay.com/cdn/shop/files/andyokay_long_white_140x@2x.png?v=1661499613 2x" width="140" alt="Andy okay"></a></h1></div>

  <div class="Header__FlexItem Header__FlexItem--fill mobile-menu-icon">
    <div class="search-cart_icon__mobile--Custom"> 
      <div class="Header__FlexItem Header__FlexItem--fill mobile-cart-icon">
          <a href="/cart"  id="target__mobile" class="Header__Icon cart_wrapper Icon-Wrapper Icon-Wrapper--clickable {% unless section.settings.show_icons or use_sidebar_menu %}hidden-desk{% endunless %}" {% if settings.cart_type == 'drawer' %}data-action="open-drawer" data-drawer-id="sidebar-cart" aria-expanded="false" aria-label="{{ 'header.navigation.open_cart' | t }}"{% endif %}>
            <span class="cart_amount">
              {% if cart.total_price != 0  %}
                <b>
                <span id="cm_at_price_header">{{ cm_at_price_total | money_without_trailing_zeros }}</span>
                </b> 
                <span id="price_header">{{ cart.total_price | money_without_trailing_zeros }}</span>
              {% else %}
                <b>
                <span id="cm_at_price_header"></span>
                </b> 
                <span id="price_header"></span>
              {% endif %}
    
            </span>
            <span class="cart_icon">
            
            
            <span class="hidden-tablet-and-up">{%- include 'icon' with 'cart' -%} <span class="Header__CartDot {% if cart.item_count > 0 %}is-visible{% endif %}">{{cart.item_count}}</span></span>
            <span class="hidden-phone">{%- include 'icon' with 'cart-desktop' -%} </span>
            </span>
            
          </a>
    </div>
    
    <div class="Header__FlexItem Header__FlexItem--fill mobile-search-icon">
    <a href="/search" class="Header__Icon head_mobile_serch Icon-Wrapper Icon-Wrapper--clickable search_line__height {% unless section.settings.show_icons or use_sidebar_menu %}hidden-desk{% endunless %}" data-action="toggle-search" aria-label="{{ 'header.navigation.search' | t }}">
      {%- include 'icon' with 'search-desktop' -%}
    </a>
    </div>
    
    </div>

      <button class="Header__FlexItem--Custom Header__Icon Icon-Wrapper Icon-Wrapper--clickable {% unless use_sidebar_menu %}hidden-desk{% endunless %}" aria-expanded="false" data-action="open-drawer" data-drawer-id="sidebar-menu" aria-label="{{ 'header.navigation.open_sidebar' | t }}">
        <span class="hidden-tablet-and-up mob_phone_icon">{%- include 'icon' with 'nav' -%}</span>
        <span class="hidden-phone">{%- include 'icon' with 'nav-desktop' -%}</span>
        &nbsp;&nbsp;<span class="Collapsible__Button--Custom Collapsible__Button Heading u-h6" style="margin-top : 4px;">Menu</span>
      </button>
      {%- comment -%}
      --------------------------------------------------------------------------------------------------------------------
      DESKTOP NAVIGATION (if not using the sidebar mode)
      --------------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}
      {%- unless use_sidebar_menu -%}
        {%- assign main_menu_handle = section.settings.navigation_menu | default: 'main-menu' -%}
        {%- assign main_menu = linklists[main_menu_handle] -%}

        {%- assign mega_menu_names = '' -%}

        {%- for block in section.blocks -%}
          {%- if block.type == 'mega_menu' -%}
            {%- assign trim_mega_menu_name = block.settings.navigation_mega_menu | strip -%}
            {%- assign mega_menu_names = mega_menu_names | append: trim_mega_menu_name | append: ',' -%}
          {%- endif -%}
        {%- endfor -%}

        {%- assign mega_menu_names = mega_menu_names | downcase | split: ',' | compact -%}

        <nav class="Header__MainNav hidden-pocket hidden-lap" aria-label="{{ 'header.navigation.title' | t }}">
          <ul class="HorizontalList head_menu  HorizontalList--spacingExtraLoose">
            {%- for link in main_menu.links -%}
              {%- assign downcased_link_title = link.title | downcase | strip -%}
              {%- assign use_mega_menu = false -%}

              {%- capture menu_item_dropdown -%}
                {%- if mega_menu_names contains downcased_link_title -%}
                  {%- for block in section.blocks -%}
                    {%- assign downcased_mega_menu_name = block.settings.navigation_mega_menu | downcase -%}

                    {%- if downcased_mega_menu_name != downcased_link_title -%}
                      {%- continue -%}
                    {%- endif -%}

                    {%- assign use_mega_menu = true -%}
                    {%- assign push_image_count = 0 -%}

                    {%- if block.settings.push_1_image -%}
                      {%- assign push_image_count = push_image_count | plus: 1 -%}
                    {%- endif -%}

                    {%- if block.settings.push_2_image -%}
                      {%- assign push_image_count = push_image_count | plus: 1 -%}
                    {%- endif -%}

                    {%- assign should_space_evenly = false -%}

                    {%- if push_image_count == 0 and link.links.size <= 3 -%}
                      {%- assign should_space_evenly = true -%}
                    {%- endif -%}

                    {%- if push_image_count == 1 and link.links.size == 1 -%}
                      {%- assign should_space_evenly = true -%}
                    {%- endif -%}

                    {%- if push_image_count == 2 and link.links.size == 1 -%}
                      {%- assign should_space_evenly = true -%}
                    {%- endif -%}

                    <div class="MegaMenu {% if push_image_count != 0 and link.links.size == 0 %}MegaMenu--spacingCenter{% elsif should_space_evenly %}MegaMenu--spacingEvenly{% endif %} {% if push_image_count == 0 and link.links.size > 4 %}MegaMenu--grid{% endif %}" aria-hidden="true" {{ block.shopify_attributes }}>
                      <div class="MegaMenu__Inner">
                        {%- for sub_link in link.links -%}
                          <div class="MegaMenu__Item MegaMenu__Item--fit">
                            <a href="{{ sub_link.url }}" class="MegaMenu__Title Heading Text--subdued u-h7">{{ sub_link.title | title }}</a>

                            {%- if sub_link.links != blank -%}
                              <ul class="Linklist">
                                {%- for sub_sub_link in sub_link.links -%}
                                  <li class="Linklist__Item">
                                    <a href="{{ sub_sub_link.url }}" class="Link Link--secondary">{{ sub_sub_link.title | escape }}</a>
                                  </li>
                                {%- endfor -%}
                              </ul>
                            {%- endif -%}
                          </div>
                        {%- endfor -%}

                        {%- if block.settings.message_show -%}
                          <div  class="header-content"  >
                            <div class="content">
                              {{ block.settings.message_content }}
                            </div>
                          </div>
                        {%endif%}

                        {%- if push_image_count > 0 -%}
                          <div class="MegaMenu__Item" style="{% if push_image_count == 1 %}width: 370px; min-width: 250px;{% else %}width: 660px; min-width: 425px;{% endif %}">
                          
                            {%- if block.settings.push_1_image -%}
                              <div class="MegaMenu__Push {% if push_image_count == 2 %}MegaMenu__Push--shrink{% endif %}">
                                
                                {%- if block.settings.push_1_url != blank -%}
                                  <a class="MegaMenu__PushLink" href="{{ block.settings.push_1_url }}">
                                {%- endif -%}

                                {%- assign max_width = 370 | at_most: block.settings.push_1_image.width -%}

                                <div class="MegaMenu__PushImageWrapper AspectRatio" style="background: url({{ block.settings.push_1_image | img_url: '1x1', format: 'jpg' }}); max-width: {{ max_width }}px; --aspect-ratio: {{ block.settings.push_1_image.aspect_ratio }}">
                                  <img class="Image--lazyLoad Image--fadeIn"
                                       data-src="{{ block.settings.push_1_image | img_url: '370x230', scale: 2 }}"
                                       alt="{{ block.settings.push_1_image.alt | escape }}">

                                  <span class="Image__Loader"></span>
                                </div>

                                {%- if block.settings.push_1_heading != blank -%}
                                  <p class="MegaMenu__PushHeading Heading u-h6">{{ block.settings.push_1_heading | escape }}</p>
                                {%- endif -%}

                                {%- if block.settings.push_1_subheading != blank -%}
                                  <p class="MegaMenu__PushSubHeading Heading Text--subdued u-h7">{{ block.settings.push_1_subheading | escape }}</p>
                                {%- endif -%}

                                {%- if block.settings.push_1_url != blank -%}
                                  </a>
                                {%- endif -%}
                              </div>
                            {%- endif -%}

                            {%- if block.settings.push_2_image -%}
                              <div class="MegaMenu__Push {% if push_image_count == 2 %}MegaMenu__Push--shrink{% endif %}">
                                {%- if block.settings.push_2_url != blank -%}
                                  <a class="MegaMenu__PushLink" href="{{ block.settings.push_2_url }}">
                                {%- endif -%}

                                {%- assign max_width = 370 | at_most: block.settings.push_2_image.width -%}

                                <div class="MegaMenu__PushImageWrapper AspectRatio" style="background: url({{ block.settings.push_2_image | img_url: '1x1', format: 'jpg' }}); max-width: {{ max_width }}px; --aspect-ratio: {{ block.settings.push_2_image.aspect_ratio }}">
                                  <img class="Image--lazyLoad Image--fadeIn"
                                       data-src="{{ block.settings.push_2_image | img_url: '370x230', scale: 2 }}"
                                       alt="{{ block.settings.push_2_image.alt | escape }}">

                                  <span class="Image__Loader"></span>
                                </div>

                                {%- if block.settings.push_2_heading != blank -%}
                                  <p class="MegaMenu__PushHeading Heading u-h6">{{ block.settings.push_2_heading | escape }}</p>
                                {%- endif -%}

                                {%- if block.settings.push_2_subheading != blank -%}
                                  <p class="MegaMenu__PushSubHeading Heading Text--subdued u-h7">{{ block.settings.push_2_subheading | escape }}</p>
                                {%- endif -%}

                                {%- if block.settings.push_2_url != blank -%}
                                  </a>
                                {%- endif -%}
                              </div>
                            {%- endif -%}
                          </div>
                        {%- endif -%}
                      </div>
                    </div>
                  {%- endfor -%}
                {%- elsif link.links != blank -%}
                  <div class="DropdownMenu" aria-hidden="true">
                    <ul class="Linklist">
                      {%- for sub_link in link.links -%}
                        <li class="Linklist__Item" {% if sub_link.links != blank %}aria-haspopup="true"{% endif %}>
                          <a href="{{ sub_link.url }}" class="Link Link--secondary">{{ sub_link.title | escape }} {% if sub_link.links != blank %}{% include 'icon' with 'select-arrow-right' %}{% endif %}</a>

                          {%- if sub_link.links != blank -%}
                            <div class="DropdownMenu" aria-hidden="true">
                              <ul class="Linklist">
                                {%- for sub_sub_link in sub_link.links -%}
                                  <li class="Linklist__Item">
                                    <a href="{{ sub_sub_link.url }}" class="Link Link--secondary">{{ sub_sub_link.title | escape }}</a>
                                  </li>
                                {%- endfor -%}
                              </ul>
                            </div>
                          {%- endif -%}
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                {%- endif -%}
              {%- endcapture -%}
              {% assign reviews-class = '' %}
              {% assign members-class = '' %}
              {% if link.title == 'REVIEWS' %}
                {% assign reviews-class = 'push-reviews-right' %}
                {% assign currency-converter-class = 'push-currency-left' %}
              {% elsif link.title contains 'CLUB' %}
                {% assign members-class = 'push-members-right' %}
              {% endif %}
              <li class="HorizontalList__Item {{reviews-class}} {{members-class}} {% if link.links == blank and link.active %}is-active{% endif %}" {% if menu_item_dropdown != blank %}aria-haspopup="true"{% endif %}>
                <a href="{{ link.url }}">
                  {{- link.title | escape -}}

                  {%- if use_mega_menu or menu_item_dropdown == blank -%}
                    <span class="Header__LinkSpacer">{{ link.title | escape }}</span>
                  {%- endif -%}
                </a>

                {{- menu_item_dropdown -}}
              </li>
            {%- endfor -%}
            {%- if settings.currency_conversion_enabled -%}
            <li class="HorizontalList__Item" aria-haspopup="true">   
              <style>
                li>a.new_currency_dropdown{
                  font-family: DIN Next,sans-serif !important;
                  font-weight: 500 !important;
                  font-size: 13.5px !important;
                }
                a.new_currency_dropdown>span>img{
                  transform: translateY(-1px);
                  vertical-align: bottom !important;
                }
                #new-currency-container{
                  display: flex;
                  flex-direction: column;
                  width: 100%;
                }
                .new-currency-container-item{
                  display: grid;
                  width: 100%;
                  grid-template-columns: repeat(5, minmax(0, 1fr));;
                  gap: 10px;
                  padding: 10px 30px 25px;
                }
                .new-currency-region {
                  margin: 20px 30px 10px;
                  border-bottom: 1px solid #f4f4f4;
                  font-family: 'Adobe Caslon Pro';
                  line-height: 2;
                }
                .new-currency-heading{
                  font-size: 28px;
                  font-family: 'DIN Next LT Pro Cond';
                  text-align: center;
                  text-transform: uppercase;
                }
                a[name="new-currency-object"]>span{
                  margin-right: 10px;
                }
                a[name="new-currency-object"]>span>img{
                  transform: translateY(-4px);
                  vertical-align: bottom !important;
                }
              </style>
              <a class="new_currency_dropdown">
                <span>
                  <img src="https://cdn.shopify.com/s/files/1/0082/5619/2602/files/{{ shop.currency }}.png" id="flags" >
                </span>
                <span name="currency-name">
                {{ shop.currency }}
                </span>
                &nbsp;{%- include 'icon' with 'select-arrow' -%}
              </a>
            <div class="MegaMenu " aria-hidden="true">
              <div class="MegaMenu__Inner">
                <div id="new-currency-container">
                  <div class="new-currency-heading">Choose Your Country</div>
                </div>
              </div>
            </div>
            </li>
          {% endif %}
          </ul>
        </nav>
        {{- currency_conversion_select -}}
      {%- endunless -%}
    </div> 
  {% comment %}  
    <div class="Header__FlexItem Header__FlexItem--fill mobile-home-icon">
      {% if template contains 'index' %} 
      {% assign home_color = "style = 'color:#ad9c81'"%}
      {% endif %}
      <a href="/" class="mob_menu_list" {{home_color}}>
        	HOME
      </a>
    </div>
    <div class="Header__FlexItem Header__FlexItem--fill mobile-allart-icon">
      {% if template contains 'collection' %}
      {% assign all_art_color = "style = 'color:#ad9c81'"%}
      {% endif %}
      <a href="/collections/all-art" class="mob_menu_list" {{all_art_color}}>
        	ALL ART
     </a>
    </div>
    {% endcomment %} 
    {%- capture header_logo -%}
      <a href="/" class="Header__LogoLink">
        {%- if section.settings.logo != blank -%}
          {%- capture image_size -%}{{ section.settings.logo_max_width }}x{%- endcapture -%}
          <img class="Header__LogoImage Header__LogoImage--primary"
               src="{{ section.settings.logo | img_url: image_size }}"
               srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
               width="{{ section.settings.logo_max_width }}"
               alt="{{ section.settings.logo.alt | default: shop.name | escape }}">

          {%- if use_transparent_header and section.settings.transparent_logo != blank -%}
            <img class="Header__LogoImage Header__LogoImage--transparent"
                 src="{{ section.settings.transparent_logo | img_url: image_size }}"
                 srcset="{{ section.settings.transparent_logo | img_url: image_size }} 1x, {{ section.settings.transparent_logo | img_url: image_size, scale: 2 }} 2x"
                 width="{{ section.settings.logo_max_width }}"
                 alt="{{ section.settings.transparent_logo.alt | default: shop.name | escape }}">
          {%- endif -%}
        {%- else -%}
          <span class="Heading u-h4">{{ shop.name }}</span>
        {%- endif -%}
      </a>
    {%- endcapture -%}
  {% comment %}  
 <div class="Header__FlexItem Header__FlexItem--fill mobile-search-icon">
    <a href="/search" class="Header__Icon head_mobile_serch Icon-Wrapper Icon-Wrapper--clickable search_line__height {% unless section.settings.show_icons or use_sidebar_menu %}hidden-desk{% endunless %}" data-action="toggle-search" aria-label="{{ 'header.navigation.search' | t }}">
      {%- include 'icon' with 'search-desktop' -%}
    </a>
</div>
    {% endcomment %}
{% assign cm_at_price_total = 0 %}
{% for item in cart.items %}
  {% if item.variant.compare_at_price > item.variant.price %}
  	{% assign var_cm_at_price = item.variant.compare_at_price | times: item.quantity %}
  	{% assign cm_at_price_total = var_cm_at_price | plus: cm_at_price_total %}
  {% endif %}
{% endfor %}
<div class="cart-search__Custom">
 <div class="Header__FlexItem Header__FlexItem--fill mobile-cart-icon">
      <a href="/cart"  id="target__mobile" class="Header__Icon cart_wrapper Icon-Wrapper Icon-Wrapper--clickable {% unless section.settings.show_icons or use_sidebar_menu %}hidden-desk{% endunless %}" {% if settings.cart_type == 'drawer' %}data-action="open-drawer" data-drawer-id="sidebar-cart" aria-expanded="false" aria-label="{{ 'header.navigation.open_cart' | t }}"{% endif %}>
        <span class="cart_amount">
          {% if cart.total_price != 0  %}
            <b>
            <span id="cm_at_price_header">{{ cm_at_price_total | money_without_trailing_zeros }}</span>
            </b> 
            <span id="price_header">{{ cart.total_price | money_without_trailing_zeros }}</span>
          {% else %}
            <b>
            <span id="cm_at_price_header"></span>
            </b> 
            <span id="price_header"></span>
          {% endif %}

        </span>
        <span class="cart_icon">
        
        
        <span class="hidden-tablet-and-up">{%- include 'icon' with 'cart' -%} <span class="Header__CartDot {% if cart.item_count > 0 %}is-visible{% endif %}">{{cart.item_count}}</span></span>
        <span class="hidden-phone">{%- include 'icon' with 'cart-desktop' -%} </span>
        </span>
        
      </a>
</div>

<div class="Header__FlexItem Header__FlexItem--fill mobile-search-icon">
<a href="/search" class="Header__Icon head_mobile_serch Icon-Wrapper Icon-Wrapper--clickable search_line__height {% unless section.settings.show_icons or use_sidebar_menu %}hidden-desk{% endunless %}" data-action="toggle-search" aria-label="{{ 'header.navigation.search' | t }}">
  {%- include 'icon' with 'search-desktop' -%}
</a>
</div>
</div>
    <div class="Header__FlexItem Header__FlexItem--logo">
      {%- if template == 'index' -%}
        <h1 class="Header__Logo">{{ header_logo }}</h1>
      {%- else -%}
        <div class="Header__Logo">{{ header_logo }}</div>
      {%- endif -%}
    </div>

    <div class="Header__FlexItem Header__FlexItem--fill desktop-menu-option">
      {% comment %} {%- unless section.settings.show_icons or use_sidebar_menu -%}
        <nav class="Header__SecondaryNav hidden-phone">
          <ul class="HorizontalList HorizontalList--spacingLoose hidden-pocket hidden-lap">
            {%- if settings.currency_conversion_enabled and section.settings.navigation_style == 'inline' or section.settings.navigation_style == 'logoLeft' -%}
              <li class="HorizontalList__Item">
                {{ currency_conversion_select }}
              </li>
            {%- endif -%}

            {%- if shop.customer_accounts_enabled -%}
              <li class="HorizontalList__Item">
                <a href="{% if customer %}/account{% else %}/account/login{% endif %}" class="Heading Link Link--primary Text--subdued u-h8">
                  {{- 'header.navigation.account' | t -}}
                </a>
              </li>
            {%- endif -%}

            <li class="HorizontalList__Item">
              <a href="/search" class="Heading Link Link--primary Text--subdued u-h8" data-action="toggle-search">{{ 'header.navigation.search' | t }}</a>
            </li>

            <li class="HorizontalList__Item">
              <a href="/cart" class="Heading u-h6" {% unless template == 'cart' or settings.cart_type == 'page' %}data-action="open-drawer" data-drawer-id="sidebar-cart" aria-label="{{ 'header.navigation.open_cart' | t }}"{% endunless %}>{{ 'header.navigation.cart' | t }} (<span class="Header__CartCount">{{ cart.item_count }}</span>)</a>
            </li>
          </ul>
        </nav>
      {%- elsif settings.currency_conversion_enabled -%}
        <nav class="Header__SecondaryNav {{currency-converter-class}}">
          <ul class="HorizontalList HorizontalList--spacingLoose hidden-pocket hidden-lap">
            <li class="HorizontalList__Item">
              {{ currency_conversion_select }}
            </li>
          </ul>
        </nav>
      {%- endunless -%} {% endcomment %}

      {%- if shop.customer_accounts_enabled and section.settings.show_icons or use_sidebar_menu -%}
        <a href="{% if customer %}/account{% else %}/account/login{% endif %}" class="Header__Icon Icon-Wrapper Icon-Wrapper--clickable hidden-phone">
          {%- include 'icon' with 'account' -%}
        </a>
      {%- endif -%}

      <a href="/search" class="Header__Icon Icon-Wrapper Icon-Wrapper--clickable {% unless section.settings.show_icons or use_sidebar_menu %}hidden-desk{% endunless %}" data-action="toggle-search" aria-label="{{ 'header.navigation.search' | t }}">
        <span class="hidden-tablet-and-up">{%- include 'icon' with 'search' -%}</span>
        <span class="hidden-phone">{%- include 'icon' with 'search-desktop' -%}</span>
      </a>

      <a href="/cart" id = "target__" class="Header__Icon cart_wrapper Icon-Wrapper Icon-Wrapper--clickable {% unless section.settings.show_icons or use_sidebar_menu %}hidden-desk{% endunless %}" {% if settings.cart_type == 'drawer' %}data-action="open-drawer" data-drawer-id="sidebar-cart" aria-expanded="false" aria-label="{{ 'header.navigation.open_cart' | t }}"{% endif %}>
        
        <span class="cart_amount">
          {% if cm_at_price_total != 0  %}
            <b>
            <span id="cm_at_price_header_">{{ cm_at_price_total  | money_without_trailing_zeros }}</span>
            </b> 
            <span id="price_header_">{{ cart.total_price | money_without_trailing_zeros }}</span>
          {% else %}
            <b>
            <span id="cm_at_price_header_"></span>
            </b> 
            <span id="price_header_"></span>
          {% endif %}
        </span>
        <span class="cart_icon">
            <span class="hidden-tablet-and-up">{%- include 'icon' with 'cart' -%}</span>
            <span class="hidden-phone">{%- include 'icon' with 'cart-desktop' -%} <span class="Header__CartDot {% if cart.item_count > 0 %}is-visible{% endif %}">{{cart.item_count}}</span></span>
            
        </span>
      </a>
    </div>
  </div>


</header>

<style>
  .productItem_head {
    margin-bottom: 15px;
 }
  .productItem_head.product_head_mb {
    padding: 0px 24px;
 }
  .productItem_head.product_head_mb .headDescription {
    font-size: 14.5px;
    line-height: 18px;
    text-align: center;
 }
  .productItem_head.product_head_mb .headQuote-content .heading__stars {
    margin-right: 3px;
 }
  .productItem_head.product_head_mb .headQuote-content .quote-text {
    font-size: 14.5px;
 }
  .productItem_head.mb-bar {
    margin-bottom: -7px;
    margin-top: 42px;
 }
  .productItem_head .headDescription {
    color: #313131;
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 0px;
    font-family: "DIN Next LT Pro Light";
    font-weight: 300;
    font-style: italic;
    margin-top: 20px;
 }
  .productItem_head .headQuote-content {
    margin-top: 10px;
 }
 .productItem_head .headQuote--default {
    margin-bottom: 5px;
 }
  @media screen and (max-width: 640px) {
    .productItem_head .headQuote-content {
      text-align: center;
   }
   .productItem_head .headQuote--default {
      margin-top: 0px;
      padding-top: 25px;
   }
 }
  .productItem_head .headQuote-content .heading__stars {
    margin-right: 5px;
    display: inline-block;
 }
  .productItem_head .headQuote-content .heading__stars .star {
    color: #a6967c;
    font-size: 14px;
 }
  .productItem_head .headQuote-content .quote-text {
    font-size: 11px;
    color: #313131;
    display: inline-block;
    font-weight: 500;
    font-family: "DIN Med";
 }

 .productItem_head .headQuote-content .reviewCounts {
  	  font-size: 18px;
      color: #595959; 
      display: inline-block;
      font-family: "Adobe Caslon Pro";
      font-style:normal;
      letter-spacing: -0.5px;
      text-decoration:underline;
  }

  .productItem_head .headQuote-content .quote-text:before {
    content: "-";
    display: inline-block;
    margin-right: 2px;
 }
  @media (min-width: 768px) {
    .desktop-b-mobile-h {
      display: block;
   }
    .mobile-b-desktop-h {
      display: none;
   }
 }
  .search_preload .top_saerchCarousal, .search_preload .top_ourPicks{
    display:none;
  }
  .search_preload .tags-section .SectionHeader__Heading{
    text-transform: uppercase;
    font-family: DIN Next LT Pro Cond;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 20px;
  }
  @media (max-width: 767px) {
  .Search__Input{
    margin-top:10px;
  }
    .Search__Inner{
      max-height:100vh !important;
    }
    .search_preload .top_saerchCarousal, .search_preload .top_ourPicks{
    display:block;
  }
    .top_saerchCarousal .links-section{
   display: flex;
   overflow-x: scroll;
}
.top_saerchCarousal .links-section a{
   flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    flex: 0 0 43%;
    margin-right: 10px;
}
  .top_ourPicks .links-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
  }
  .search_position{
    top:0px !Important;
    bottom:initial !Important;
    z-index:999;
    border-bottom: 1px solid #ccc;
  }
  .Search__Results[aria-hidden=false]{
    margin-top:50px;
  }
 .search_preload .SectionHeader__Heading{
   text-transform: uppercase;
    font-family: DIN Next LT Pro Cond;
    font-weight: 500;
    margin-top: 45px;
    margin-bottom: 5px;
  }
  .search_preload .tags-section .SectionHeader__Heading{
    display: none;
  }
  .search_preload .Container,.search_preload .links-section{
    padding:0px !important;
  }
    .Search__Input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #666666;
    opacity: 1; /* Firefox */
    }
    
    .Search__Input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #666666;
    }
    
    .Search__Input::-ms-input-placeholder { /* Microsoft Edge */
    color: #666666;
    }
    .search_position {
    padding: 10px 18px 15px !important;
    }
    .desktop-b-mobile-h {
      display: none;
   }
    .mobile-b-desktop-h {
      display: none;
   }
 }
  
  .Header__Icon.cart_wrapper{
  	 padding:5px 15px;
     background: #e5e5e5;
     border-radius:5px;
     display:inline-flex;
     align-items:center;
     align-content:center;
     justify-content:center;
  }
  @media (max-width: 767px) {
    .Header__Icon.cart_wrapper{
  	 padding:5px 7px;
     background: #fff;
     min-height: 40px;
  	}
    
  	
  }
  @media (max-width: 360px) {
    .Header__Icon.cart_wrapper{
  	 padding:5px 3px;
  	}
    
  	
  }
  
  .Header__Icon span.cart_amount{
  	color:#2e34b9;
    font-size:13px;
    font-weight:bold;
    display:inline-block;
    margin-right:5px;
    text-align:right;
  }
  @media (max-width: 767px) {
  	.Header__Icon span.cart_amount{
      font-size:11px;
    }
  }
  @media (max-width: 440px) {
  	.Header__Icon span.cart_amount{
      font-size:9px;
    }
  }
  
  
  .Header__Icon span.cart_amount b{
  	color:#000; 
    font-size:12px; 
    font-weight:bold;
    text-decoration:line-through;
  }
  
  @media (max-width: 767px) {
  	.Header__Icon span.cart_amount b{
  		font-size:10px;
  	}
  }
  @media (max-width: 440px) {
  	.Header__Icon span.cart_amount b{
  		font-size:9px;
  	}
  }
  
  .Header__Icon span.cart_icon{
  	display:inline-block;
  }
  #price_header_{
  	display:block;
    margin-bottom:3px;
  }
  
  .Header__Icon .Icon--cart-desktop, .Header__Icon .Icon--cart{
  	vertical-align:unset;
  }
  
  {%- if section.settings.use_sticky_header -%}
    :root {
      --use-sticky-header: 1;
      --use-unsticky-header: 0;
    }

    .shopify-section--header {
      position: -webkit-sticky;
      position: sticky;
    }

div#tidio-chat {
    position: relative;
    z-index: 3;
}
div#giftbox-root {
    z-index: 5;
    position: relative;
}


#wheelio2-app-cointainer{
  position: relative;
}

.trigger-button-holder{
  top:auto;
  bottom:245px;
  left:20px;
}

#wlo-trigger-button{
  width:70px;
  height:70px;
  margin:0px;
}

@media screen and (max-width: 768px) {
    .trigger-button-holder {
      	  bottom:210px;
          left: 18px;
          height: 40px;
      }
    #wlo-trigger-button #wlo-trigger-image{
      background-size:22px;
    }
    
    #wlo-trigger-button{
        width:40px;
        height:40px;
        margin:0px;
    }
  
    #wlo-trigger-button #wlo-notification{
      font-size:11px;
        line-height:16px;
          width:18px;
          height:18px;
    }
}
      

.mobile-logo-main{display: none;}
.mobile-cart-icon, .mobile-allart-icon, .mobile-search-icon, .mobile-home-icon{display: none;}
     @media screen and (max-width: 768px) {
      .Header__CartDot{
        right: 3px;
        /* background-color: #39b975 !important; */
      }
      :root {
        --use-sticky-header: 0;
        --use-unsticky-header: 1;
      }
      .shopify-section--header{
        /* position: fixed; */
         bottom: 0px;
         top:auto;
         margin-bottom:0px !important;
             z-index: 9;
      }
      div#Search {
          top: 0px;
          position: fixed;
          z-index: 999999999999;
          min-height:52px;
      }
      .mobile-cart-icon, .mobile-allart-icon, .mobile-search-icon, .mobile-home-icon{display: block;}
      .desktop-menu-option, .Header__Logo{display: none;}

      .Header__Icon{text-align: center;width: 100%;}
      .search_line__height {line-height: 1.34 !important;}
      .Header__Wrapper{text-align: center;padding: 8px 5px 15.5px 5px;background-color: white;} 
      .Header__Icon .Icon--cart-desktop, .Header__Icon .Icon--search-desktop, .Header__Icon .Icon--nav-desktop, .Header__Icon svg, .Header__Icon svg, .Header__Icon svg{
        fill: #000000;
        color: #000000;
        
      }
      
      @media screen and (max-width: 767px) {
        .Header__Icon.head_mobile_serch svg{
        	fill: #000;
            color: #000;
            width: 17px;
            height: 17px;
        
      	}
     }
      .mobile-logo-main{display: block;
    position: fixed; 
    top: 0;
    left: 7px;
    right: auto;
    margin-top: 12px;
     -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
      }
      .mobile-logo-main.hidden {
  -webkit-transform: translateY(-190%);
  -moz-transform: translateY(-190%);
  -ms-transform: translateY(-190%);
  -o-transform: translateY(-190%);
  transform: translateY(-190%);
        display:none;
}
        
@media screen and (max-width: 420px) {
        
.mobile-logo-main{
    top: 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    left: 0px;
}
  
 .mobile-logo-main.hidden {
  top: 25px;
   display:none;
}
  
}    
        
        
iframe#tidio-chat-iframe{bottom: 120px !important;} 

     }

.GiftBox-BoxContainer{
	bottom: calc(145px) !important;
  transform: translateY(45px) !important;
}

.iUYSrt{
   max-height:480px !important;
}

.GiftBox-LauncherFrame {
    bottom: 65px!important;
}


  {%- else -%}
    :root {
      --use-sticky-header: 0;
      --use-unsticky-header: 1;
    }
  {%- endif -%}

  {%- if section.settings.logo -%}
    @media screen and (max-width: 640px) {
      .Header__LogoImage {
        max-width: {{ section.settings.mobile_logo_max_width }}px;
      }
    }
  {%- endif -%}

  {%- if use_transparent_header -%}
    :root {
      --header-is-not-transparent: 0;
      --header-is-transparent: 1;
    }

    .shopify-section--header {
      margin-bottom: calc(-1 * var(--header-height));
    }

    .supports-sticky .Search[aria-hidden="true"] + .Header--transparent {
      {%- if section.settings.show_transparent_header_border -%}
        box-shadow: 0 -1px {{ section.settings.transparent_text_color | color_modify: 'alpha', 0.25 }} inset;
      {%- else -%}
        box-shadow: none;
      {%- endif -%}

      color: {{ section.settings.transparent_text_color }};
    }
  {%- else -%}
    :root {
      --header-is-not-transparent: 1;
      --header-is-transparent: 0;
    }
  {%- endif -%}

  #flags {
    height: 13px;
    margin-bottom: 11px
    width: 22px;
    margin-right: 2px;
  }
  #giftbox-root .newGiftboxloc{
    bottom: 140px !important;
  }

</style>
<script>
  $(document).ready(function () {
    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
      $(".mobile-b-desktop-h").show();
    /*setTimeout(function () {
		  $(".mobile-b-desktop-h").show();
    }, 200);*/
		setTimeout(function () {
      $(".Header__Wrapper").show();
      }, 1000);
    }
    else{
      $(".Header__Wrapper").show()
      $(".CLS-producthead-placeholder").hide();
    }
    var distance = $('.ProductForm__AddToCart').offset().top,
    $window = $(window);
    $window.scroll(function() {
        if ( ($window.scrollTop() >= (distance+46)) && (screen.width < 640)) {
            $('.GiftBox-LauncherFrame').addClass('newGiftboxloc');
        }
        else{
          $('.GiftBox-LauncherFrame').removeClass('newGiftboxloc'); 
        }
    });
  });
  $(window).bind('scroll', function() {
      if ($(window).scrollTop() > 25) {
          $('.mobile-logo-main').hide();
      }
  });
  
  $(document).ready(function() {
    $('.CurrencySelector__Select').select2({
      selectionCssClass: 'selectDropDownCss',
      minimumResultsForSearch: Infinity,
      dropdownCssClass : 'selectDropDownCss1' 
    }); 
  });
  $('.CurrencySelector__Select').change(function() {
    localStorage.setItem('currencyManuallyChanged', true);
    var selected_currency = this.value;
    localStorage.setItem('currency', selected_currency);
    var currentUrl = window.location.href;
    var url = new URL(currentUrl); 
    url.searchParams.set("currency", selected_currency); // setting your param
    var newUrl = url.href; 
    console.log(newUrl);
    console.log('yes changed');
    window.location.replace(newUrl);
  });
  
</script>

<script>
  document.documentElement.style.setProperty('--header-height', document.getElementById('shopify-section-header').offsetHeight + 'px');


var prev = 0;
var $window = $(window);
var nav = $('#navbar');

$window.on('scroll', function(){
  var scrollTop = $window.scrollTop();
  nav.toggleClass('hidden', scrollTop > prev);
  prev = scrollTop;
});


</script>

{% schema %}
{
  "name": "Header",
  "class": "shopify-section--header",
  "settings": [
    {
      "type": "checkbox",
      "id": "use_sticky_header",
      "label": "Use sticky header",
      "default": true
    },
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Image",
      "info": "200 x 60px .png recommended"
    },
    {
      "type": "image_picker",
      "id": "mobile_logo",
      "label": "Mobile Image",
      "info": "200 x 60px .png recommended"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 50,
      "max": 350,
      "step": 5,
      "unit": "px",
      "label": "Image width",
      "default": 140
    },
    {
      "type": "range",
      "id": "mobile_logo_max_width",
      "min": 50,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "Mobile image width",
      "default": 50
    },
    {
      "type": "header",
      "content": "Navigation"
    },
    {
      "type": "link_list",
      "id": "navigation_menu",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "select",
      "id": "navigation_style",
      "label": "Navigation style",
      "info": "Setting will default to center style if screen width cannot fit all the links.",
      "options": [
        {
          "value": "sidebar",
          "label": "Sidebar"
        },
        {
          "value": "inline",
          "label": "Inline"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "logoLeft",
          "label": "Logo left"
        }
      ],
      "default": "inline"
    },
    {
      "type": "checkbox",
      "id": "show_icons",
      "label": "Show icons",
      "info": "Text for account, search and cart are replaced by icons on desktop.",
      "default": false
    },
    {
      "type": "header",
      "content": "Transparent header"
    },
    {
      "type": "checkbox",
      "id": "enable_transparent_header",
      "label": "Enable on homepage",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_transparent_header_collection",
      "label": "Enable on collection pages",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_transparent_header_border",
      "label": "Show separation border",
      "default": true
    },
    {
      "type": "color",
      "id": "transparent_text_color",
      "label": "Text/icon color",
      "default": "#ffffff"
    },
    {
      "type": "image_picker",
      "id": "transparent_logo",
      "label": "Logo image",
      "info": "200 x 60px .png recommended"
    }
  ],
  "blocks": [
    {
      "type": "mega_menu",
      "name": "Mega menu",
      "settings": [
        {
          "type": "text",
          "id": "navigation_mega_menu",
          "label": "Menu item",
          "info": "Enter menu item to apply a mega menu dropdown. [Learn more](http://support.maestrooo.com/article/149-navigation-enabling-and-configuring-mega-menu)."
        },
        {
          "type": "header",
          "content": "Image push 1"
        },
        {
          "type": "image_picker",
          "id": "push_1_image",
          "label": "Image",
          "info": "740 x 460 px .jpg recommended"
        },
        {
          "type": "text",
          "id": "push_1_heading",
          "label": "Heading",
          "default": "Example heading"
        },
        {
          "type": "text",
          "id": "push_1_subheading",
          "label": "Sub-heading",
          "default": "Example sub-heading"
        },
        {
          "type": "url",
          "id": "push_1_url",
          "label": "Link"
        },
        {
          "type": "header",
          "content": "Image push 2"
        },
        {
          "type": "image_picker",
          "id": "push_2_image",
          "label": "Image",
          "info": "740 x 460 px .jpg recommended"
        },
        {
          "type": "text",
          "id": "push_2_heading",
          "label": "Heading",
          "default": "Example heading"
        },
        {
          "type": "text",
          "id": "push_2_subheading",
          "label": "Sub-heading",
          "default": "Example sub-heading"
        },
        {
          "type": "url",
          "id": "push_2_url",
          "label": "Link"
        },
        {
          "type": "header",
          "content": "Info message"
        },
        {
          "type": "checkbox",
          "id": "message_show",
          "label": "Show",
          "default": false
        },
        {
          "type": "richtext",
          "id": "message_content",
          "label": "content"
        }
      ]
    },
    {
      "type": "tag",
      "name": "Tag",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "Tag label"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        },
        {
          "id": "filling_color",
          "type": "color",
          "label": "Filling color",
          "default": "#03021c"
        },
        {
          "id": "text_color",
          "type": "color",
          "label": "Filling Text Colr",
          "default": "#FFFFFF"
        }
      ]
    },
     {
       
      "type": "top_search_banner",
      "name": "top search banner",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "label"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        },
        {
          "id": "banner",
          "type": "image_picker",
          "label": "Banner"
        },
        {
          "id": "text_color",
          "type": "color",
          "label": "Filling Text Colr",
          "default": "#FFFFFF"
        }
      ]
    },
         {
       
      "type": "top_ourPicks",
      "name": "Our Curated Picks",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "label"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        },
        {
          "id": "banner",
          "type": "image_picker",
          "label": "Banner"
        },
        {
          "id": "text_color",
          "type": "color",
          "label": "Filling Text Colr",
          "default": "#FFFFFF"
        }
      ]
    }
  ]
}
{% endschema %}


<script>
$(document).ready(function(){
$(document).on('click','.Header__Icon[data-action="toggle-search"]',function(){

// Add something to given element placeholder
function addToPlaceholder(toAdd, el) {
    el.attr('placeholder', el.attr('placeholder') + toAdd);
    // Delay between symbols "typing" 
    return new Promise(resolve => setTimeout(resolve, 300));
}

// Cleare placeholder attribute in given element
function clearPlaceholder(el) {
    el.attr("placeholder", "Search here for ");
}

// Print one phrase
function printPhrase(phrase, el) {
    return new Promise(resolve => {
        // Clear placeholder before typing next phrase
        clearPlaceholder(el);
        let letters = phrase.split('');
        // For each letter in phrase
        letters.reduce(
            (promise, letter, index) => promise.then(_ => {
                // Resolve promise when all letters are typed
                if (index === letters.length - 2) {
                    // Delay before start next phrase "typing"
                    setTimeout(resolve, 600);
                }
                return addToPlaceholder(letter, el);
            }),
            Promise.resolve()
        );
    });
} 

// Print given phrases to element
function printPhrases(phrases, el) {
    // For each phrase
    // wait for phrase to be typed
    // before start typing next
    phrases.reduce(
        (promise, phrase) => promise.then(_ => printPhrase(phrase, el)), 
        Promise.resolve()
    );
}

// Start typing
function run() {
    let phrases = [
        "artworks",
        "artists",
        "interests",
        
        "artworks",
        "artists",
        "interests",
        
        "artworks",
        "artists",
        "interests",
              
        "artworks",
        "artists",
        "interests",
              
        "artworks",
        "artists",
        "interests",
              
        "artworks",
        "artists",
        "interests",
               
        "artworks",
        "artists",
        "interests",
             
        "artworks",
        "artists",
        "interests",
              
        "artworks",
        "artists",
        "interests",
              
        "artworks",
        "artists",
        "interests",
              
        "artworks",
        "artists",
        "interests",
              
        "artworks",
        "artists",
        "interests",
              
        "artworks",
        "artists",
        "interests",
              
        "artworks",
        "artists",
        "interests",
              
        "artworks",
        "artists",
        "interests",
             
        "artworks",
        "artists",
        "interests",
              
        "artworks",
        "artists",
        "interests",
              
        "artworks",
        "artists",
        "interests",
              
        "artworks",
        "artists",
        "interests",

        "artworks",
        "artists",
        "interests"

    ];

    printPhrases(phrases, $('#searchbox'));
}

run();
});
});
</script>
<script>
  var cont = $('#new-currency-container');

  for (const [key, value] of Object.entries(regions)) {
    var currencyitems = ''
    value.sort((a,b) => countryNames[a].localeCompare(countryNames[b]));
    const useable_countries = value.filter((item) => currencyfiltered_object.hasOwnProperty(item));
    if (useable_countries.length > 0) {
      cont.append("<div class='new-currency-region'>" + key + "</div>")
      for (const key of useable_countries) {
        currencyitems = currencyitems.concat("<a name='new-currency-object' data-country='" + countryNames[key] +"' data-currency='" + countryCurrency[key] + "' data-flag='" + countryCurrencyFlag[key] + "'>" 
        + "<span><img src='https://cdn.shopify.com/s/files/1/0082/5619/2602/files/" + countryCurrencyFlag[key] + ".png' id='flags' ></span>"  
        + countryNames[key] + " (" + countryCurrency[key] + ")" + "</a>");
      }
      cont.append("<div class='new-currency-container-item'>" + currencyitems + "</div>")
    }
  }

  $(document).ready(function () { 
  $('a[name="new-currency-object"]').click(function myfunc() {
    localStorage.setItem('currencyManuallyChanged', true);
    var selected_currency = this.getAttribute('data-currency');
    var selected_flag = this.getAttribute('data-flag');
    var selected_country = this.getAttribute('data-country');
    localStorage.setItem('currency', selected_currency);
    localStorage.setItem('userCurrencyFlag', selected_flag);
    localStorage.setItem('country_name_show', selected_country);
    var currentUrl = window.location.href;
    var url = new URL(currentUrl); 
    url.searchParams.set("currency", selected_currency); // setting your param
    var newUrl = url.href; 
    window.location.replace(newUrl);
  });
  });
  
</script>