<style>
  @media only screen and (min-width: 641px) {
    .mission-block-section {
      flex-direction: {{ section.settings.position }} !important;
    }
  }
</style>
{%- if section.settings.show == true -%}
<div class="{%- if section.settings.image != blank -%}with-img{% endif %} mission-block-section updated-section img-with-text">
  {%- if section.settings.image != blank -%}
  <div class="block-image">
    <img src="{{section.settings.image | img_url: 'master' }}" alt="">
  </div>
  {% endif %}
  <div class="block-content" style="background-color: {{section.settings.backgroud-color}}">
    <div class="content-holder image-text">
      <h2 style="color: {{section.settings.text-color}}">{{section.settings.heading}}</h2>
      <div class="simple-text-content" style="color: {{section.settings.text-color}}">
        {{section.settings.paragraph}}
      </div>
    </div>
  </div>
</div>
{% endif %}
{% schema %}
  { 
    "name":"Image With Text",
    "settings": [
      {
        "id": "heading",
        "type": "text",
        "label": "Heading"   
      },
      {
        "id": "position",
        "type": "select",
        "label": "Image Position",
        "options": [
        {
          "value": "row",
          "label": "Left"
        },
        {
          "value": "row-reverse",
          "label": "Right"
        }
      ],
      "default": "row-reverse"  
      },
      {
        "id": "paragraph",
        "type": "richtext",
        "label": "Paragraph"
      },
      {
        "id": "image",
        "type": "image_picker",
        "label": "Image"  
      },
      {
        "id": "backgroud-color",
        "type": "color",
        "label": "Background color",
        "default": "#FFFFFF"
      },
      {
        "id": "text-color",
        "type": "color",
        "label": "Text color",
        "default": "#000000"
      },
      {
        "type": "checkbox",
        "id": "show",
        "label": "Show",
        "default": false
      }
    ],

    "presets": [
      {
      "category": "Text",
      "name": "Image With Text"
    }
  ]
}
{% endschema %}