{%- if section.settings.show == true -%}
<div class="mission-block-section">
  {%- if section.settings.image != blank -%}
  <div class="block-image">
    <img src="{{section.settings.image | img_url: 'master' }}" alt="">
  </div>
  {%endif%}
  <div class="block-content" style="background-color: {{section.settings.backgroud-color}}">
    <div class="content-holder image-text">
      <h4 class="SectionHeader__Heading SectionHeader__Heading--emphasize Heading u-h4 content-heading" style="color: {{section.settings.text-color}}">{{section.settings.heading}}</h4>
      <div class="SectionHeader__SubHeading Heading u-h6 content-detail" style="color: {{section.settings.text-color}}">
        {{section.settings.paragraph}}
      </div>
    </div>
  </div>
</div>
{%endif%}
{% schema %}
  { 
    "name":"Image With Text",
    "settings": [
      {
        "id": "heading",
        "type": "text",
        "label": "Heading"   
      },
      {
        "id": "paragraph",
        "type": "richtext",
        "label": "Paragraph"
      },
      {
        "id": "image",
        "type": "image_picker",
        "label": "Image"  
      },
      {
        "id": "backgroud-color",
        "type": "color",
        "label": "Background color",
        "default": "#FFFFFF"
      },
      {
        "id": "text-color",
        "type": "color",
        "label": "Text color",
        "default": "#000000"
      },
      {
        "type": "checkbox",
        "id": "show",
        "label": "Show",
        "default": false
      }
    ],

    "presets": [
      {
      "category": "Text",
      "name": "Image With Text"
    }
  ]
}
{% endschema %}