{%- capture flickity_options -%}
{
  "prevNextButtons": false,
  "cellAlign": "right",
  "setGallerySize": true,
  "adaptiveHeight": true,
  "wrapAround": true,
  "dragThreshold": 15,
  "pauseAutoPlayOnHover": false,
  "autoPlay": {% if section.settings.autoplay %}{{ section.settings.cycle_speed | times: 1000 }}{% else %}false{% endif %},
  "pageDots": false,
  "arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25}
}
{%- endcapture -%}
<section class="Section Section--logos" id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="slideshow" style="background-color: {{ section.settings.background_color }};">
  <div class="Container heading-container">
    <div class="SectionHeader__Heading_Container section_mid_head">
      <h2 class="SectionHeader__Heading Heading" style="color: {{ section.settings.heading_text_color }};">{{ section.settings.heading }}</h2>
    </div>
  </div>
  <div class="Slideshow-main_custom Slideshow" style="margin-top: -30px;">
  <div class="Slideshow__carousel--custom">
  <div class="Slideshow__Carousel Carousel" data-flickity-config='{{ flickity_options }}'>
    {%- for block in section.blocks -%}
      <div id="Slide{{ block.id }}" class="Slideshow__Slide Carousel__Cell {% if forloop.first %}is-selected{% endif %}" {% if forloop.first %}style="visibility: visible"{% endif %} data-slide-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>
        <div class="Container seeting-slider">
          <img class="Slideshow__Image Image--lazyLoad"
          data-src="{{ block.settings.image | img_url: '150x' }}"
          alt="{{ block.settings.image.alt | escape }}" >
        </div>
      </div>
    {%- endfor -%}
  </div>
  </div>
  </div>
</section>

<style>
  img {
    vertical-align: bottom !important;
  }
</style>


{% schema %}
{
  "name": "Logo List Home",
  "class": "shopify-section--slideshow",
  "settings": [
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Auto rotate between slides",
      "default": true
    },
    {
      "type": "range",
      "id": "cycle_speed",
      "min": 3,
      "max": 8,
      "step": 1,
      "unit": "sec",
      "label": "Change slides every",
      "default": 5
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#101010"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Logo List"
    },
    {
      "type": "color",
      "id": "heading_text_color",
      "label": "Heading Text Color",
      "default": "#fff"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Logo"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Custom",
      "name": "Logo List Home",
      "settings": {}
    }
  ]
}
{% endschema %}