{%- if section.settings.show == true -%}
  <div class="banner-section banner number-with-bg" style="background-image: url({{section.settings.image | img_url: 'master'}});">
    <div class="banner-content">
      {% assign number = section.settings.number | times: 1 %}
      <h2 class="SectionHeader__Heading SectionHeader__Heading--emphasize Heading u-h1 content-heading" style="color: {{section.settings.heading-color}}"><span class="tree-count" data-treecount="0">{{number}}</span></h2>
      <div class="SectionHeader__SubHeading Heading u-h6 content-detail" style="color: {{section.settings.text-color}}">
        {{section.settings.text}}
      </div>
      <p></p>
    </div>
  </div>
{%- endif -%}
<script>
  
  $({ Counter: 0 }).animate({
    Counter: $('.tree-count').text()
      }, {
    duration: 3000,
    easing: 'swing',
    step: function() {
      $('.tree-count').text(Math.ceil(this.Counter));
    }
  });
</script>
{% schema %}
  { 
    "name":"Number With Bg Image",
    "settings": [
    {
      "id": "number",
      "type": "text",
      "label": "Number"
    },
    {
      "id": "text",
      "type": "richtext",
      "label": "Text"
    },
    {
      "id": "image",
      "type": "image_picker",
      "label": "Background image"
    },
    {
      "id": "heading-color",
      "type": "color",
      "label": "Heading color",
      "default": "#ffffff"
    },
    {
      "id": "text-color",
      "type": "color",
      "label": "Text color",
      "default": "#000000"
    },
    {
      "type": "checkbox",
      "id": "show",
      "label": "Show",
      "default": false
    }
  ],
  "presets": [
    {
      "category": "Text",
      "name": "Number With Bg Image"
    }
  ]
}
{% endschema %}