<section id="section-{{ section.id }}" class="counter-home-sec" data-section-id="{{ section.id }}">
    <ul class="count-list">
        {% for block in section.blocks %}
          <li>
            <h3 name="{{ block.settings.subheading }}">{{ block.settings.title }}</h3>
            <p>{{ block.settings.subheading }}</p>
          </li>
        {% endfor %}
      </ul>
 </section>
 <script>
$( document ).ready(function() {
  {% assign count = 2 %}
  {% for block in section.blocks %}
  var text{{count}} =  $('[name="{{ block.settings.subheading }}"]').text()
    $({ Counter: 0 }).animate({
      Counter: parseInt($('[name="{{ block.settings.subheading }}"]').text().replace('.',''))      
      }, {
      duration: {{count}}000,
      easing: 'swing',
      step: function() {
        $('[name="{{ block.settings.subheading }}"]').text(Math.ceil(this.Counter));
      },
      complete: function() {
      $('[name="{{ block.settings.subheading }}"]').text(text{{count}});
    } 
    } 
    );
  {% assign count = count | plus: 1 %}  
  {% endfor %}  
});  
</script>
  {% schema %}
  {
  
    "name": "Number badges",
    "blocks": [
      {
        "type": "badges",
        "name": "Number badges",
        "limit": 3,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
          {
            "type": "text",
            "id": "subheading",
            "label": "Sub-heading"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Number Badges",
        "category": "Custom"
      }
    ]
  }
  {% endschema %}
  