<style>
    
    .prod-info-column.newfaq a {
            text-decoration: none;
        }
  	.pr-faq-section{
     	max-width:850px;
        text-align:center;
  	}
  
    @media (min-width: 768px) and (max-width:990px){
  		.pr-faq-section{
          max-width: 100%;
          margin: auto;
  		}
    }
  	
  	@media (max-width:767px){
        .pr-faq-section{
          max-width:100%;
          margin: auto;
  		}
    }
  
  
    .char-faq {
      padding: 0px;
      text-align:left;
    }
  	
  	.pr-faq-section h2{
        font-size:32px;
        text-align:center;
        text-transform:uppercase;
        font-weight: bold;
        font-family: DIN Next LT Pro Bold;
    }
  	
    @media (max-width:460px){
		.pr-faq-section h2{
            font-size:28px;
        }
	
    }
  
    .faq__group {
      overflow: hidden;
      border-top: 1px solid #d1d1d1;
    }
    .faq__group:first-child {
      border-top: none;
    }
    .faq__group:first-child .faq__title {
      padding: 0px 30px 15px 0px;
    }
    .faq__group:first-child .faq__title:after {
        top: 5px;
    }
    
    .faq__group:last-child{
       border-bottom: 1px solid #d1d1d1;
    }
  
    .faq__title {
      margin: 0 auto;
      padding: 15px 30px 15px 0px;
      cursor: pointer;
      position: relative;
      max-width:600px;
      font-family: 'DIN Next LT Pro Cond';
      text-transform: uppercase;
    }
    .faq__title:after {
      top: 16px;
      right: 0;
      content: "";
      background: url({{ 'faq-arrow.png' | asset_url}}) no-repeat;
      z-index: 500;
      display: block;
      position: absolute;
      transition: transform 0.25s ease;
      width:14px;
      height:9px;
      background-size:100% 100%;
    }
  	.faq__group.is-expanded .faq__title:after {
      transform: rotate(180deg);
    }
  
    .faq__title h4 {
      line-height: 20px;
      margin: 0;
      transition: all 150ms ease;
      font-weight: normal;
      font-size: 20px;
      font-weight: 500;
    }
  	
  	@media (max-width:460px){
		.faq__title h4 {
           font-size: 18px;
        }
	
    }
  	
    .faq__title span {
      left: 0;
      position: absolute;
      border-radius: 50%;
      top: 10px;
      width: 20px;
      height: 20px;
      background: transparent;
      border: 2px solid #000;
    }
    .faq__title span:before,
    .faq__title span:after {
      left: 4px;
      content: "";
      width: 12px;
      height: 2px;
      display: block;
      margin-top: 9px;
      position: absolute;
      background: #fff;
      z-index: 500;
      transition: transform 0.25s ease;
    }
    .faq__title span:after {
      transform: rotate(90deg);
    }
    
    
  .faq__content {
    height: 0;
    margin: 0 auto;
    opacity: 0;
    padding: 0;
    visibility: hidden;
    transition: opacity 250ms ease;
    max-width:600px;
  }
  
  .faq__content p {
    margin: 0 0 0px;
    font-size: 15px;
    line-height: 20px;
  }
  	@media (max-width:460px){
		.faq__content p {
          font-size: 14px;
          line-height: 18px;
        }
	
    }
  
  .faq__content p:last-of-type {
    margin: 0;
  }
  
  .faq__group.is-expanded .faq__content {
    opacity: 1;
    padding: 0px 30px 17px 0px;
    visibility: visible;
    display: block;
    height: auto;
    color: #535353;
  }
  
  .faq_link{
     font-size: 18px;
     margin-top: 30px;
     margin-bottom: 50px;
     display: inline-block;
     font-family: Adobe Caslon Pro;
     font-weight: 500;
     font-style: italic;
  }
  </style>

  {% capture questions %}
    <div class="pr-faq-section" data-section-type="faq" data-section-id="{{ section.id }}">
      <h2>{{section.settings.heading}}</h2>
      <article class="char-faq" style="background-color: {{section.settings.background-color}}">
        {% for block in section.blocks %}
        <div class="faq__group faq--group-{{ forloop.index }}">
          <div class="faq__title js-collapser-toggle" data-target=".faq--group-{{ forloop.index }}">
            <h4 style="color: {{section.settings.text-color}}" >{{block.settings.title}}</h4>
          </div>
          <div class="faq__content">
            <p style="color: {{section.settings.text-color}}" >{{block.settings.answer}}</p>
          </div>
        </div>
        {% endfor %}
      </article>
      {%if section.settings.link != blank %}
      <a href="{{ section.settings.link }}" class="faq_link" style="color: {{section.settings.link-color}}"> {{section.settings.link-text}}</a>
      {%endif%}
    </div>
  {% endcapture %}

{% if template == "product" %}
  {%- assign first_page = pages[section.settings.tab_page_1_handle] -%}
  {%- assign second_page = pages[section.settings.tab_page_2_handle] -%}

  <div class="prod-info-section">
      <div class="prod-info-tab-main">
          <div class="prod-info-tabs">
              <div class="prod-info-tabs-item">
                    Description
              </div>
              <div class="prod-info-tabs-item">
                  Shipping & Returns
              </div>
              <div class="prod-info-tabs-item">
                  FAQ
              </div>
          </div>
      </div>
  <div class="prod-info-det-cont-outer-bg">
      <div class="prod-info-det-cont" id="info-container">
              <div class="prod-info-text">
              <div class="prod-info-mobile-title js-accordion-toggle">
                  <h4>Description</h4>
                  <div>
                  <div class='rel plus'>+</div>
                  <div class='rel minus'>-</div>
                  </div>          
              </div>
              <div class="prod-info-text-contents  js-accordion-body">
                  <div class="prod-info-column">
                    {{ product.description }}         
                  </div>
              </div>
              </div>
              <div class="prod-info-text">
              <div class="prod-info-mobile-title js-accordion-toggle">
                  <h4>Shipping & Returns</h4>
                  <div>
                  <div class='rel plus'>+</div>
                  <div class='rel minus'>-</div>
                  </div>          
              </div>
              <div class="prod-info-text-contents js-accordion-body">
                  <div class="prod-info-column">
                    {{- second_page.content -}}
                </div>
              </div>
              </div>
              <div class="prod-info-text">
              <div class="prod-info-mobile-title js-accordion-toggle">
                  <h4>FAQ</h4>
                  <div>
                  <div class='rel plus'>+</div>
                  <div class='rel minus'>-</div>
                  </div>          
              </div>
              <div class="prod-info-text-contents  js-accordion-body">   
                  <div class="prod-info-column newfaq">
                    {{ questions }}
              </div>
              </div>
              </div>
      </div>
    </div>
  </div>
{% endif %}


  {% schema %}
  {
    "name": "Product Info",
    "settings": [
        {
        "type": "page",
        "id": "tab_page_1_handle",
        "label": "First page"
        },
        {
        "type": "page",
        "id": "tab_page_2_handle",
        "label": "Second page"
        },
        {
        "id": "heading",
        "type": "text",
        "label": "FAQ Heading"   
      },
      {
        "id": "background-color",
        "type": "color",
        "label": "FAQ Background color",
        "default": "#FFFFFF"
      },
      {
        "id": "text-color",
        "type": "color",
        "label": "FAQ Text color",
        "default": "#000000"
      },
      {
        "id": "link-text",
        "type": "text",
        "label": "FAQ link Text",
        "default": "Read All Here >" 
      },
      {
        "id": "link",
        "type": "url",
        "label": "FAQ Link URL"
      },
      {
        "id": "link-color",
        "type": "color",
        "label": "FAQ Link color",
        "default": "#a7967c"
      }
    ],
    "blocks": [
      {
        "type": "question",
        "name": "Question",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Question"
          },
          {
            "type": "richtext",
            "id": "answer",
            "label": "Answer"
          }
        ]
      }
    ]
  }
  {% endschema %} 
  
  <script>
  // Accordion functionality
    
  const Collapser = {
    config: {
      expandClass: "is-expanded",
      targetExpandClass: "target-expanded",
      targetClass: "is-open",
    },
  
    expand: function (target, parent) {
      $(parent)
        .find("." + Collapser.config.expandClass)
        .removeClass(Collapser.config.expandClass);
      $(parent)
        .find("." + Collapser.config.targetClass)
        .removeClass(Collapser.config.targetClass);
      $(target).addClass(Collapser.config.expandClass);
      if(window.innerWidth > 921){
        $('.prod-info-det-cont').find('.slick-list').height('auto');  
        $('.prod-info-det-cont').slick("setOption", '', '', true);
      }
    },
  
    collapse: function (target, parent) {
      $(target).removeClass(Collapser.config.expandClass);
      if(window.innerWidth > 921){
        $('.prod-info-det-cont').find('.slick-list').height('auto');
        $('.prod-info-det-cont').slick("setOption", '', '', true);
      }
    },
  
    init: function (className) {
      $(className).on("click", function (e) {
        e.preventDefault();
        const target = $(this).attr("data-target"),
          parent = $(this).parent();
  
        if ($(target).hasClass(Collapser.config.expandClass)) {
          Collapser.collapse(target, parent);
        } else {
          Collapser.expand(target, parent);
        }
      });
    },
  };
  
  Collapser.init(".js-collapser-toggle");
  </script>

  {% if template == 'product' %}
  <script>
    $('.prod-info-tabs').slick({
      slidesToShow: 3,
      slidesToScroll: 1,
      draggable: false,
      asNavFor: '.prod-info-det-cont',
      dots: false,
      centerMode: false,
      infinite: false,
      focusOnSelect: true
    }); 
    var initSlickProductInfo = function(){
        if(window.innerWidth > 921){
          $('.prod-info-det-cont').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            draggable: false,
            arrows: false,
            fade: true,
            adaptiveHeight: true,
            waitForAnimate: false
          });     
        }
    }

    initSlickProductInfo();

    $('.js-accordion-toggle').click(function() {
      var body = ($(this).next('.js-accordion-body'))
      $(this).next('.js-accordion-body').slideToggle();
      $('.js-accordion-body').not(body).slideUp();
      $(this).toggleClass('open');
      $('.js-accordion-toggle').not($(this)).removeClass('open');
      var elmnt = document.getElementById("info-container");
      // elmnt.scrollIntoView();
    });


    window.addEventListener('resize', function(){
      if(window.innerWidth < 921){
        $('.prod-info-det-cont').slick('unslick');
      } else {
        initSlickProductInfo()
      }
    });
  </script>
{% endif %}
  