{% for block in section.blocks %}
{% assign p = all_products[block.settings.product] %}
{% if product == p or true %}
<section class="Section {% unless block.settings.image %}Section--spacingNormal{% endunless %}"
  id="section-{{section.id}}"> 

  {%- capture section_content -%}
  <div class="feature__card--col order-mob-1">
    <article class="feature_content">
      <hgroup>
        {%- if block.settings.subheading != blank -%}
        <h4 style="color: {{ block.settings.subheading_color }};">{{ block.settings.subheading | escape }}</h4>
        {%- endif -%}
        {%- if block.settings.title != blank -%}
        <h2 style="color: {{ block.settings.main_heading }};">{{ block.settings.title | escape }}</h2>
        {%- endif -%}
      </hgroup>

      {%- if block.settings.content != blank -%}
      <div style="color: {{ block.settings.text_color }};">
        {{ block.settings.content }}
      </div>
      {%- endif -%}

      {%- if block.settings.link_text != blank -%}
      <a href="{{ block.settings.link_url }}" class="read__more--link"
        style="color: {{ block.settings.urltext_color }};">{{ block.settings.link_text | escape }} ></a>
      {%- endif -%}
    </article>
  </div>
  {%- endcapture -%}
  {%- capture section_image -%}
  {%- if block.settings.image != blank -%}
  <div class="feature__card--col order-mob-2">
    {%- include 'image-size', sizes: '100,300,400', image: block.settings.image -%}

    <style>
      .CLS-img-placeholder{
        position: relative;
        width: 100%;
        aspect-ratio: 1;
      }
      .CLS-actual-img{
        position: absolute;
      }
    </style>

    <figure class="feature__cm_img">
      <div class="CLS-img-placeholder"></div>
      {%- assign image_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
      <img class="Image--lazyLoad CLS-actual-img" data-src="{{ image_url }}" data-expand="-200" data-widths="[{{ supported_sizes }}]"
        data-sizes="auto" alt="{{ block.settings.image.alt | escape }}">
    </figure>
    

  </div>
  {%- endif -%}
  {%- endcapture -%}

  <div class="feature_container Container">
    {%- if block.settings.image_position == 'left' -%}
    <div class="feature__card--main purple__tone-card">
      {% else %}
      <div class="feature__card--main bluish__tone-card">
        {% endif %}
        <div class="feature__card--body">
          <div class="feature_row">
            {%- if block.settings.image_position == 'left' -%}
            {{- section_image -}}
            {{- section_content -}}
            {%- else -%}
            {{- section_content -}}
            {{- section_image -}}
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>

</section>

{% endif %}
{% endfor %}

<style>
  #section- {
      {
      section.id
    }
  }

  .SectionHeader {
    text-align: left;
  }
</style>

{% schema %}
{
  "name": "Product Stories",
  "class": "shopify-section--bordered",
  "settings": [
   
  ],
	"blocks" : [
		{
			"name" : "Story",
			"type" : "story",
			"settings" : [
				{
					"type" : "product",
					"id" : "product",
					"label" : "Product"
				},
        {
          "type": "text",
          "id": "subheading",
          "label": "Sub-heading",
          "default": "Sub-heading"
        },
        {
          "type": "color",
          "id": "subheading_color",
          "label": "Subheading Color",
          "default": "#b25b92"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Title"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1200 x 1200px .png recommended"
        },
        {
          "type": "select",
          "id": "image_position",
          "label": "Image position",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "right"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Text",
          "default": "<p>Add your own custom content to give more information about your store, availability details...</p>"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link text"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link URL"
        },
        {
          "type": "color",
          "id": "urltext_color",
          "label": "URL Text Color",
          "default": "#b25b92"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color",
          "default": "#FFFFFF"
        }
			]
		}
	],
  "presets": [
 
  ]
}
{% endschema %}
	