<aside class="NewsletterPopup site__black--popup soldout-popup size-chart" data-section-id="{{ section.id }}" data-section-type="newsletter-popup" aria-hidden="true">  
<div class="popup_header">
  <span class="popup_title">{{ section.settings.title }}</span>
  <button class="popup_close" data-action="close-popup" aria-label="{{ 'general.popup.close' | t }}">{% include 'icon' with 'close' %}</button>
</div>
<div class="popup_content">
  {% for block in section.blocks %}
    <div class="image_block">
      <div class="image_block_heading">{{ block.settings.heading }}</div>
      <div class="image_block_content">{{ block.settings.content }}</div>
      {%- if block.settings.image != blank -%}
        <img src="{{ block.settings.image | img_url: 'master' }}" alt="Size Chart">
      {% endif %}
    </div>
  {% endfor %}
</div>

  {% comment %} <button class="NewsletterPopup__Close site__black--close" data-action="close-popup" aria-label="{{ 'general.popup.close' | t }}">{% include 'icon' with 'close' %}</button> {% endcomment %}
    
    {% comment %} {%- if section.settings.image != blank -%}
      <div>
        <img src="{{ section.settings.image | img_url: 'master' }}" alt="Size Chart">
      </div>
    {%- endif -%} {% endcomment %}
    
    {% comment %}
    {%- if section.settings.title != blank -%}
      <h2 class="NewsletterPopup__Heading Heading u-h2">
        {{section.settings.title}}
      </h2> 
    {%- endif -%}
    {% endcomment %}

    {% comment %} {%- if section.settings.content != blank -%}
      <div class="NewsletterPopup__Content">
        <p>{{section.settings.content}}</p>
        {%- if section.settings.link_text != blank -%}
          <a href="{{ section.settings.link }}" class="pop__content--link">{{ section.settings.link_text | escape }}</a>
        {%- endif -%}
      </div>
    {%- endif -%}  {% endcomment %}

</aside>
  
  <script>
    $(document).ready(function(){
      $('.size-chart .popup_close').click(function(){
        $('.size-chart').removeClass('visible');
        document.getElementById("cart-popup-overlay").style.display = "none";
      });
    });
  </script>
  
  {% schema %}
  {
    "name": "Size Guide Popup",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Size Guide"
      }
    ],
    "blocks": [ 
      {
        "name" : "Image Block",
        "type": "image_block",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "inline_richtext",
            "id": "content",
            "label": "Text"
          }
        ]
      }
    ]
  }
  {% endschema %}
  