<aside class="NewsletterPopup soldout-popup actual-soldout-popup" data-section-id="{{ section.id }}" data-section-type="newsletter-popup" aria-hidden="true">
  <div class="popup_header">
    <span class="popup_title">Sold Out</span>
    <button class="popup_close" data-action="close-popup" aria-label="{{ 'general.popup.close' | t }}">{% include 'icon' with 'close' %}</button>
  </div>    
{% comment %} <button class="NewsletterPopup__Close" data-action="close-popup" aria-label="{{ 'general.popup.close' | t }}">{% include 'icon' with 'close' %}</button> {% endcomment %}

<div class="popup_content"> 
  {%- if section.settings.title != blank -%}
    <h2 class="NewsletterPopup__Heading Heading u-h2">{{ section.settings.title | escape }}</h2>
  {%- endif -%}

  {%- if section.settings.content != blank -%}
    <div class="NewsletterPopup__Content">
      {{ section.settings.content }}
    </div>
  {%- endif -%}

  {%- if section.settings.show_newsletter -%}
    {%- form 'customer', id: 'newsletter-popup', action: '/contact#newsletter-popup', class: 'NewsletterPopup__Form' -%}
      {%- if form.posted_successfully? -%}
        <p class="Form__Alert Alert Alert--success">{{ 'general.popup.success' | t }}</p>
      {%- else -%}
        <input type="hidden" name="contact[tags]" value="newsletter">

        <input type="email" name="contact[email]" class="Form__Input" required="required" aria-label="{{ 'general.popup.email_placeholder' | t }}" placeholder="{{ 'general.popup.email_placeholder' | t }}">
        <button class="Form__Submit Button Button--primary Button--full" type="submit">{{ 'general.popup.submit' | t }}</button>
      {%- endif -%}
    {%- endform -%}
  {%- endif -%}
</div>
</aside>

<script>
  $(document).ready(function(){
    $('.NewsletterPopup.actual-soldout-popup .popup_close').click(function(){
      $('.NewsletterPopup.actual-soldout-popup').removeClass('visible');
      $('body').removeClass('soldout-popup-visible');
    });
  });
</script>

{% schema %}
{
  "name": "Sold out Popup",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Popup"
    },
    {
      "type": "inline_richtext",
      "id": "content",
      "label": "Text"
    },
    {
      "type": "checkbox",
      "id": "show_newsletter",
      "label": "Show newsletter form",
      "default": true
    }
  ]
}
{% endschema %}
