<div class="tags-section">
  <div class="tags-section-holder">
    <div class="Container">
      <h2 class="SectionHeader__Heading Heading u-h1">{{ section.settings.title }}</h2>
      <div class="links-section">
        {% for block in section.blocks %}
          
        {% assign index = forloop.index | modulo:7 %}

          {% if index == 1 %}
            <div class="links-holder">
          {% endif %}

          <a href="{{ block.settings.url }}" class="Button Button--secondary Button--custom" style="background-color: {{ block.settings.filling_color}}; color: {{ block.settings.text_color}}; border-color: {{ block.settings.filling_color}};">{{ block.settings.label }}</a>
          
          {% if index == 0 or forloop.last == true %}
            </div>
          {% endif %}
        
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Tags",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "tag",
      "name": "Tag",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "Tag label"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        },
        {
          "id": "filling_color",
          "type": "color",
          "label": "Filling color",
          "default": "#03021c"
        },
        {
          "id": "text_color",
          "type": "color",
          "label": "Filling Text Colr",
          "default": "#FFFFFF"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Custom",
      "name": "Tags",
      "settings": {}
    }
  ]
}
{% endschema %}