<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>		
{%- if section.settings.show == true -%}
  <div class="point-section updated-section three-column-section" style="background-color: {{section.settings.backgroud-color}}">
    <h2 style="color: {{section.settings.heading-color}}">{{section.settings.heading}}</h2>
    <ul class="point-list">
      {% for block in section.blocks %}
        <li class="list-items">
          <div class="items-holder">
            <h5 style="color: {{block.settings.text-color}}">{{ block.settings.heading }}</h5>
            <div class="simple-text-content" style="color: {{block.settings.text-color}}">
              {{ block.settings.paragraph }}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
    <div class="three-column-footer">
      <button class="slick-prev point-prev slick-control">{% include 'icon' with 'select-arrow-left' %}</button>
      <button class="slick-next point-next slick-control">{% include 'icon' with 'select-arrow-right' %}</button>
    </div>
  </div>
{% endif %}

<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
if ($(window).width() <= 768) {
 $(".point-list").slick({
    centerMode: true,
    infinite: false,
    prevArrow: $('.point-prev'),
    nextArrow: $('.point-next'),
    centerPadding: '60px',
    slidesToShow: 1,
    responsive: [
      {
        breakpoint: 640,
        settings: {
          arrows: true,
          centerMode: true,
          centerPadding: '40px',
          slidesToShow: 1
        }
      }
    ]
  });
}
</script>

{% schema %}
  { 
    "name":"Three Column",
    
    "settings": [
      {
        "id": "backgroud-color",
        "type": "color",
        "label": "Background color",
        "default": "#FFFFFF"
      },
      {
        "type": "checkbox",
        "id": "show",
        "label": "Show",
        "default": false
      },
      {
        "id": "heading",
        "type": "text",
        "label": "Heading"
      },
      {
        "id": "heading-color",
        "type": "color",
        "label": "Heading color",
        "default": "#000000"
      }
    ],
    "blocks": [
      {
        "type": "quote",
        "name": "Points",
        "limit": 3,
        "settings": [
          {
            "id": "heading",
            "type": "text",
            "label": "Heading"
          },
          {
            "id": "paragraph",
            "type": "richtext",
            "label": "Content"
          },
          {
            "id": "text-color",
            "type": "color",
            "label": "Text color",
            "default": "#000000"
          }
        ]
      }
    ],
    "presets": [
    {
      "category": "Text",
      "name": "Three Column"
    }
  ]
}
{% endschema %}