
<section id="section-trustbadges" data-section-id="trustbadges">
  <div class="Container">
    <ul class="trustbadges-list trustbadges-1">
      {% for block in section.blocks %}
        <li class="trustbadges-list-items">
          <div class="image-holder">
            {% assign image_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
            <img class="Image--lazyLoad"
              data-src="{{ image_url }}"
              data-optimumx="1.2"
              data-widths="[50,100]"
              data-sizes="auto"
              width="60"
              height="60"
              alt="{{ block.settings.image.alt | escape }}">
          </div>
          <h5 class="Heading u-h5">{{ block.settings.title }}</h5>
          <p>{{ block.settings.subheading }}</p>
        </li>
      {% endfor %}
    </ul>
    {% comment %}<div id="looxReviews" data-product-id="{{product.id}}" class="loox-reviews-default">{{ product.metafields.loox.reviews }}</div> {% endcomment %}
  </div>
</section>
{% schema %}
{

  "name": "Trust badges",
  "blocks": [
    {
      "type": "badges",
      "name": "Trust badges",
      "limit": 4,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Sub-heading"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Trust Badges",
      "category": "Custom"
    }
  ]
}
{% endschema %}
