<section id="section-{{ section.id }}" data-section-id="{{ section.id }}">
    <div class="Container trustbadges-2">
      <ul class="trustbadges-list">
        {% for block in section.blocks %}
          <li class="trustbadges-list-items">
            <div class="image-holder">
              {% assign image_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
              <img class="Image--lazyLoad"
                data-src="{{ image_url }}"
                data-optimumx="1.2"
                data-widths="[50,100]"
                data-sizes="auto"
                width="60"
                height="60"
                alt="{{ block.settings.image.alt | escape }}">
            </div>
              <h5 class="Heading u-h5 trustbadges-heading">{{ block.settings.title }}</h5>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  <script>
    $(document).ready(function () {
      var user__currency = localStorage.getItem('currency');
      var shipping_value = document.querySelector(`#section-{{ section.id }} .shipping-value`);

      if (user__currency == 'SEK') {
      shipping_value.prepend('950 kr'); 
    } else if (user__currency == 'NOK') {
      shipping_value.prepend('kr 990'); 
    } else if (user__currency == 'DKK') {
      shipping_value.prepend('650 kr'); 
    } else if (user__currency == 'EUR') {
      shipping_value.prepend('€89'); 
    } else if (user__currency == 'GBP') {
      shipping_value.prepend('£79'); 
    } else if (user__currency == 'CAD') {
      shipping_value.prepend('$130'); 
    } else if (user__currency == 'AUD') {
      shipping_value.prepend('$130'); 
    } else if (user__currency == 'NZD') {
      shipping_value.prepend('$150'); 
    } else {
      shipping_value.prepend('$89'); 
    }
    });
  </script>
  <style>
    #section-{{ section.id }} .trustbadges-2 {
      background-color: {{ section.settings.background_color }};
    }
    #section-{{ section.id }} .trustbadges-heading {
      color: {{ section.settings.text_color }};
      margin: 0;
      /*margin-left: 18px;*/
      /* margin-top: 17px; */
    }
  </style>
  {% schema %}
  {
  
    "name": "Trust badges v2",
    "settings": [
      {
        "type": "color",
        "id": "text_color",
        "label": "Text color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#000000"
      } 
    ],
    "blocks": [
      {
        "type": "badges",
        "name": "Trust badges",
        "limit": 4,
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Icon"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Trust Badges v2",
        "category": "Custom"
      }
    ]
  }
  {% endschema %}
  